﻿@model Neurop3.Models.ViewModels.Program.Views.ProgramCreateViewModel


<div class="container-fluid">
    <section>
        <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
                <h4>@Resources.Global.vytvoreni_programu</h4>
            </div>
            <div class="form-group col-sm-12 col-md-6 text-md-right">
                @Html.ActionLink(Resources.Global.seznam_programu, "List", new { }, new { @class = "btn btn-primary btn-sm" })
            </div>
        </div>
    </section>
    <div class="form-group col-12">
        <hr />
    </div>
    <section>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @rows = "3", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="form-group text-center">
                <input type="submit" value="@Resources.Global.vytvorit" class="btn btn-primary" />
            </div>
        }
    </section>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}