﻿@model Neurop3.Models.ViewModels.Program.ProgramViewModel
@using Microsoft.AspNet.Identity;
@{
    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;
    var label = Model.IsUsed ? Resources.Global.nahled_programu : Resources.Global.editace_programu;
    label = string.Concat(label, " (", Model.Id, ")");

    var isAuthor = HttpContext.Current.User.Identity.GetUserId().CompareTo(Model.AuthorId) == 0 ? true : false;
    var showCreateNew = !Neurop3.Infrastructure.Authorization.AuthorizeWithOnly(HttpContext.Current.User, Neurop3.Common.RoleEnum.Therapist);
}

<div class="container-fluid">

    <section>
        <div class="form-row">
            <div class="form-group col-md-6">
                <h4>@label</h4>
            </div>
            <div class="form-group col-md-6 text-right">
                @Html.ActionLink(Resources.Global.seznam_programu, "List", "Program", new { @exerciseId = Model.Id }, new { @class = "btn btn-success btn-sm" })
                @if (showCreateNew && isAuthor && !Model.IsUsed)
                {
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addNewTranslation">
                        @Resources.Global.vytvoreni_prekladu
                    </button>
                }
            </div>
        </div>
        <hr />
    </section>
    <section>

        @using (Html.BeginForm("Manage", "Program", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.IsUsed)
            @Html.HiddenFor(model => model.AuthorId)


            <ul class="nav nav-tabs" id="programTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="programDescriptionTab" data-toggle="tab" href="#programDescription" role="tab" aria-controls="programDescription" aria-selected="true">@Resources.Global.popis_programu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="programRecipeTab" data-toggle="tab" href="#programRecipe" role="tab" aria-controls="programRecipe" aria-selected="false">@Resources.Global.vstup_do_programu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="programResultTab" data-toggle="tab" href="#programResult" aria-controls="programResult" aria-selected="false">@Resources.Global.vystup_z_programu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="programScriptTab" data-toggle="tab" href="#programScript" aria-controls="programScript" aria-selected="false">@Resources.Global.testovaci_skript</a>
                </li>
            </ul>

            <div class="tab-content" id="programTabsContent">
                <div class="tab-pane fade show active" id="programDescription" role="tabpanel" aria-labelledby="programDescriptionTab">
                    @if (tooltip)
                    {
                        <div class="form-group">
                            <span class="fa fa-info-circle fa-lg" title="Karta pro popis programu."></span>
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(model => model.Name, Model.IsUsed ? (object)new { @disabled = "disabled", @class = "form-control" } : (object)new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, Model.IsUsed ? (object)new { @disabled = "disabled", @rows = 3, @class = "form-control" } : (object)new { @rows = 3, @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3 col-sm-12">
                            @Html.LabelFor(m => m.IsActive)
                            @Html.CheckBoxFor(m => m.IsActive, isAuthor ? (object)new { @class = "ml-2" } : (object)new { @class = "ml-2", @disabled = "disabled" })
                        </div>
                        <div class="form-group col-md-3 col-sm-12">
                            @Html.LabelFor(m => m.IsPublic)
                            @Html.CheckBoxFor(m => m.IsPublic, isAuthor ? (object)new { @class = "ml-2" } : (object)new { @class = "ml-2", @disabled = "disabled" })
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="programRecipe" role="tabpanel" aria-labelledby="programRecipeTab">
                    @if (tooltip)
                    {
                        <div class="form-group">
                            <span class="fa fa-info-circle fa-lg" title="Karta pro definování vstupních polí do testovacího skriptu. Uživatel pomocí tlačítka přidat novou řádku sestavuje všechny vstupy. U vstupů se definuje jejich název a popis pomocí rozbalovacích polí, které se dynamicky plní podle napsaného textu. Nabýzejí se překlady, které byli vytvořeny v rámci modulu Překlady. V editoru je také dostupné tlačítko vytvoření překladu, které nabídne modální okno pro jeho vytvoření. Dále se v editoru vybírá datový typ a v případě rozbalovacích oken se pomocí středníků definují jeho položky."></span>
                        </div>
                    }
                    <div id="RecipeRowsDivWrapper" class="form-group">
                        @if (Model.ProgramRecipeViewModels.Any())
                        {
                            foreach (var item in Model.ProgramRecipeViewModels.OrderBy(x => x.RowNumber))
                            {
                                @Html.EditorFor(m => item, "AddNewRecipeRow", new { editable = !Model.IsUsed })
                            }
                        }
                    </div>
                    @if (!Model.IsUsed)
                    {
                        <div class="form-group text-center">
                            @Html.Label(Resources.Global.pridat_novou_radku, new { @class = "btn btn-primary radius mt-md-3", @id = "AddNewRecipeRow" })
                        </div>
                    }
                </div>
                <div class="tab-pane fade" id="programResult" role="tabpanel" aria-labelledby="programResultTab">
                    @if (tooltip)
                    {
                        <div class="form-group">
                            <span class="fa fa-info-circle fa-lg" title="Karta pro definování výstupu ze skriptu. Právě tyto hodnoty včetně datových typů budou ukládány do databáze."> </span>
                        </div>
                    }
                    <div id="ResultRowsDivWrapper" class="mt-3">
                        @if (Model.ProgramResultViewModels.Any())
                        {
                            foreach (var item in Model.ProgramResultViewModels.OrderBy(x => x.RowNumber))
                            {
                                @Html.EditorFor(m => item, "AddNewResultRow", new { editable = !Model.IsUsed })
                            }
                        }
                    </div>
                    @if (!Model.IsUsed)
                    {
                        <div class="row">
                            <div class="col-md-12 text-center">
                                @Html.Label(Resources.Global.pridat_novou_radku, new { @class = "btn btn-primary radius mt-md-3", @id = "AddNewResultRow" })
                            </div>
                        </div>
                    }


                </div>
                <div class="tab-pane fade" id="programScript" role="tabpanel" aria-labelledby="programScriptTab">
                    @if (tooltip)
                    {
                        <div class="form-group">
                            <span class="fa fa-info-circle fa-lg" title="Karta pro nahrání testovacího skriptu. Dosud nahrávání skriptu není aktivní z bezpečnostních důvodů. Přistupuje se na scripty, které jsou umístěny fixně."></span>
                        </div>
                    }

                    <div class="form-group">
                        @if (isAuthor)
                        {
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addNewScript">
                                @Resources.Global.nahrat_novy_skript
                            </button>
                        }
                        else
                        {
                            @Html.Label(Resources.Global.nahravani_skriptu_nemate_povoleno, new { @class = "btn btn-info btn-sm" })
                        }
                    </div>

                    <div class="form-group">
                        @if (isAuthor)
                        {
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addNewFiles">
                                @Resources.Global.nahrat_novy_soubor
                            </button>
                        }
                        else
                        {
                            @Html.Label(Resources.Global.nahravani_souboru_nemate_povoleno, new { @class = "btn btn-info btn-sm" })
                        }
                    </div>
                </div>
            </div>
            if (isAuthor)
            {
                <div class="form-group text-center">
                    <input type="submit" value="@Resources.Global.ulozit" class="btn btn-success" />
                </div>
            }

            @*if (!Model.IsUsed)
                {
                }
                else
                {
                    <div class="form-group text-center">
                        @Html.ActionLink(Resources.Global.ulozit, "Manage2", new { @isActive = Model.IsActive, @isPublic = Model.IsPublic, @programId = Model.Id }, new { @class="btn btn-success"})
                        <input type="submit" value="@Resources.Global.ulozit" class="btn btn-success" />
                    </div>
                }*@


        }
    </section>



</div>

@*model addNewScript*@
<div class="modal fade" id="addNewScript" tabindex="-1" role="dialog" aria-labelledby="newScriptLabel" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newScriptLabel">@Resources.Global.nahrat_novy_skript</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UploadScript", "Program", FormMethod.Post, new { id = "uploadScriptForm", enctype = "multipart/form-data" }))
                {
                    @Html.Hidden("programName", Model.Name)
                    @Html.Hidden("programId", Model.Id)
                    <div class="form-group">
                        <label for="file">@Resources.Global.nahrat_novy_skript</label>
                        <input id="newScript" type="file" name="file" />
                    </div>
                    <p id="extensionValidator" style="color: red;"></p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button id="updateScriptBtn" type="button" class="btn btn-success">@Resources.Global.ulozit</button>
            </div>
        </div>
    </div>
</div>

@*model addNewFiles*@
<div class="modal fade" id="addNewFiles" tabindex="-1" role="dialog" aria-labelledby="newFilesLabel" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newFilesLabel">@Resources.Global.nahrat_novy_soubor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UploadFiles", "Program", FormMethod.Post, new { id = "uploadFilesForm", enctype = "multipart/form-data" }))
                {
                    @Html.Hidden("programId", Model.Id)
                    <div class="form-group">   
                        <label for="file">@Resources.Global.nahrat_novy_soubor</label>
                        <input id="newScript" type="file" name="file" multiple />
                    </div>
                    @*<p id="extensionValidatorFiles" style="color: red;"></p>*@
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button id="updateFileBtn" type="button" class="btn btn-success">@Resources.Global.ulozit</button>
            </div>
        </div>
    </div>
</div>

@*modal addNewTranslation*@
<div class="modal fade" id="addNewTranslation" tabindex="-1" role="dialog" aria-labelledby="newTranslationLabel" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTranslationLabel">@Resources.Global.vytvoreni_prekladu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mt-md-2">
                        <label for="CzTransId" class="control-label">@Resources.Global.cesky</label>
                        <input type="text" id="CzTransId" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-md-2">
                        <label for="EnTransId" class="control-label">@Resources.Global.anglicky</label>
                        <input type="text" id="EnTransId" class="form-control col-md-12" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-md-2">
                        <label for="DeTransId" class="control-label">@Resources.Global.nemecky</label>
                        <input type="text" id="DeTransId" class="form-control col-md-12" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-md-2">
                        <label for="DbNameId" class="control-label">@Resources.Global.nazev_sloupce_v_databazi</label>
                        <input type="text" id="DbNameId" class="form-control col-md-12" />
                    </div>
                </div>
                <p id="addTranslationErrorMessage" style="color: red" class="m-2"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button id="addNewTranslationConfirm" type="button" class="btn btn-primary">@Resources.Global.pridat</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/ViewScripts/Program/_Manage.js"></script>
<script>

    $("#updateScriptBtn").click(function () {
        if (IsExtensionValid()) {
            $("#uploadScriptForm").submit();
        }
    });

    $("#updateFileBtn").click(function () {
       $("#uploadFilesForm").submit();
    });

    $("#newScript").change(function () {
        IsExtensionValid();
    });

    function IsExtensionValid() {
        var file = $("#newScript").val();
        var regex = new RegExp("(.*?)\.(js)$"); //|doc
        var valid = regex.test(file);
        if (!valid) {
            $("#extensionValidator").html("File extension must be '.js'!");
            return false;
        }
        $("#extensionValidator").html("");
        return true;
    }

    var programManage = new ProgramManage();
    programManage.ProgramTypeId = '@Model.Id';
    programManage.Init();

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}