﻿@using Neurop3.Common;
@using System.Globalization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Resources.Global.neurop</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/samco84x84.jpg" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/datepicker")


    <script src="~/Scripts/flashmessages/jquery.cookie.js"></script>
    <script src="~/Scripts/flashmessages/jquery.flashmessages.js"></script>
    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>

    @RenderSection("scripts", required: false)

    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/DataTable")*@
    @RenderSection("styles", required: false)
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-nav navbar-dark bg-dark fixed-top">
        <div class="container">

            @Html.ActionLink(Resources.Global.neurop, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">

                @if (Neurop3.Infrastructure.Authorization.AuthorizeOnly(User, RoleEnum.Superadmin))
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Global.uzivatele
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.uzivatele
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.ActionLink(Resources.Global.sprava_uzivatelu, "List", "User", new { }, new { @class = "dropdown-item" })
                                        </li>
                                        <li>
                                            @Html.ActionLink(Resources.Global.prirazeni_pacietu, "PatientAssign", "User", new { }, new { @class = "dropdown-item" })
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdownPatients" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.pacienti
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.ActionLink(Resources.Global.sprava_pacientu, "PatientList", "User", new { }, new { @class = "dropdown-item" })
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    @Html.ActionLink(Resources.Global.zpravy_od_terapeuta, "ReportList", "User", new { }, new { @class = "dropdown-item" })
                                </li>
                                @*<li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdownTherapistReport" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        @Resources.Global.zpravy_od_terapeuta
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.ActionLink(Resources.Global.reporty, "ReportList", "User", new { }, new { @class = "dropdown-item" })
                                        </li>
                                    </ul>
                                </li>*@
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <!--preklady-->
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTranslations" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Global.preklady
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownTranslations">
                                @Html.ActionLink(Resources.Global.vytvoreni_prekladu, "Create", "Translation", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink(Resources.Global.sprava_prekladu, "List", "Translation", new { }, new { @class = "dropdown-item" })
                            </div>
                        </li>

                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPrograms" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Global.programy
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownTranslations">
                                @if (!Neurop3.Infrastructure.Authorization.AuthorizeWithOnly(User, RoleEnum.Therapist))
                                {
                                    @Html.ActionLink(Resources.Global.vytvoreni_programu, "Create", "Program", new { }, new { @class = "dropdown-item" })
                                }
                                @Html.ActionLink(Resources.Global.sprava_programu, "List", "Program", new { }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" title="Sprava uloh" href="#" id="navbarDropdownExercise" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Global.ulohy
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownExercise">

                                @Html.ActionLink(Resources.Global.vytvor_ulohu, "Create", "Exercise", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink(Resources.Global.sprava_uloh, "List", "Exercise", new { }, new { @class = "dropdown-item" })
                                @*@Html.ActionLink(Resources.Global.moje_ulohy, "MyExercises", "Exercise", new { }, new { @class = "dropdown-item" })*@
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" title="Sprava baliku" href="#" id="navbarDropdownPackage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Global.baliky
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownPackage">
                                @Html.ActionLink(Resources.Global.vytvorit_balik, "Create", "Package", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink(Resources.Global.sprava_baliku, "List", "Package", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink(Resources.Global.baliky_pacienta, "PatientPackages", "Package", new { }, new { @class = "dropdown-item" })

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAnalysis" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Global.analyzy
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownAnalysis">
                                @Html.ActionLink(Resources.Global.analyzy, "Index", "Analysis", new { }, new { @class = "dropdown-item" })
                            </div>
                        </li>

                        

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownApplication" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Global.o_aplikaci
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdownDemos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.ukazky_uloh
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownDemos">
                                        <li>
                                            @Html.ActionLink("Labyrint", "Demo", "Test", new { @exerciseId = 29 }, new { @class = "dropdown-item" })
                                        </li>
                                        <li>
                                            @Html.ActionLink("Mozaika", "Demo", "Test", new { @exerciseId = 44 }, new { @class = "dropdown-item" })
                                        </li>
                                        <li>
                                            @Html.ActionLink("SAT", "Demo", "Test", new { @exerciseId = 51 }, new { @class = "dropdown-item" })
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdownInfo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.informace
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownInfo">
                                        <li>
                                            @Html.ActionLink(Resources.Global.informace, "Info", "Home", new { }, new { @class = "dropdown-item" })
                                        </li>
                                        <li>
                                            @Html.ActionLink(Resources.Global.kontakt, "Contact", "home", new { }, new { @class = "dropdown-item" })
                                        </li>
                                        @*<li>
                                            @Html.ActionLink(Resources.Global.o_aplikaci, "About", "Home", new { }, new { @class = "dropdown-item" })
                                        </li>*@
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav mr-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (Neurop3.Infrastructure.Authorization.Authorize(User, RoleEnum.Admin))
                            {
                                <li class="nav-item dropdown">

                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.uzivatele
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
                                        @Html.ActionLink(Resources.Global.sprava_uzivatelu, "List", "User", new { }, new { @class = "dropdown-item" })
                                        @*@Html.ActionLink(Resources.Global.prirazeni_pacietu, "PatientAssign", "User", new { }, new { @class = "dropdown-item" })*@
                                        @Html.ActionLink(Resources.Global.prirazeni_pacietu, "PatientAssign", "User", new { }, new { @class = "dropdown-item" })
                                    </div>
                                </li>
                            }

                            if (Neurop3.Infrastructure.Authorization.AuthorizeAny(User, new RoleEnum[] { RoleEnum.Therapist, RoleEnum.Super_therapist }))
                            {
                                <li class="nav-item dropdown">

                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.pacienti
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
                                        @Html.ActionLink(Resources.Global.sprava_pacientu, "PatientList", "User", new { }, new { @class = "dropdown-item" })
                                    </div>
                                </li>
                            }

                            if (Neurop3.Infrastructure.Authorization.Authorize(User, RoleEnum.Patient))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTranslations" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.zpravy_od_terapeuta
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownTranslations">
                                        @Html.ActionLink(Resources.Global.reporty, "ReportList", "User", new { }, new { @class = "dropdown-item" })
                                    </div>
                                </li>
                            }

                            if (Neurop3.Infrastructure.Authorization.AuthorizeAny(User, new RoleEnum[] { RoleEnum.Admin, RoleEnum.Super_therapist }))
                            {
                                <li class="nav-item dropdown">

                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTranslations" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.preklady
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownTranslations">
                                        @Html.ActionLink(Resources.Global.vytvoreni_prekladu, "Create", "Translation", new { }, new { @class = "dropdown-item" })
                                        @Html.ActionLink(Resources.Global.sprava_prekladu, "List", "Translation", new { }, new { @class = "dropdown-item" })
                                    </div>
                                </li>
                            }

                            if (Neurop3.Infrastructure.Authorization.AuthorizeAny(User, new RoleEnum[] { RoleEnum.Admin, RoleEnum.Super_therapist, RoleEnum.Therapist }))
                            {

                                <li class="nav-item dropdown">

                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPrograms" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.programy
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownTranslations">
                                        @if (!Neurop3.Infrastructure.Authorization.AuthorizeWithOnly(User, RoleEnum.Therapist))
                                        {
                                            @Html.ActionLink(Resources.Global.vytvoreni_programu, "Create", "Program", new { }, new { @class = "dropdown-item" })
                                        }
                                        @Html.ActionLink(Resources.Global.sprava_programu, "List", "Program", new { }, new { @class = "dropdown-item" })
                                    </div>
                                </li>
                            }

                            if (Neurop3.Infrastructure.Authorization.AuthorizeAny(User, new RoleEnum[] { RoleEnum.Admin, RoleEnum.Super_therapist, RoleEnum.Therapist }))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" title="Sprava uloh" href="#" id="navbarDropdownExercise" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.ulohy
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownExercise">

                                        @if (Neurop3.Infrastructure.Authorization.AuthorizeAny(User, new RoleEnum[] { RoleEnum.Admin, RoleEnum.Therapist, RoleEnum.Super_therapist }))
                                        {
                                            @Html.ActionLink(Resources.Global.vytvor_ulohu, "Create", "Exercise", new { }, new { @class = "dropdown-item" })
                                            @Html.ActionLink(Resources.Global.sprava_uloh, "List", "Exercise", new { }, new { @class = "dropdown-item" })
                                        }

                                        @*@if (Neurop3.Infrastructure.Authorization.Authorize(User, RoleEnum.Patient))
                                        {
                                            @Html.ActionLink(Resources.Global.moje_ulohy, "MyExercises", "Exercise", new { }, new { @class = "dropdown-item" })
                                        }*@
                                    </div>
                                </li>
                            }

                            if (Neurop3.Infrastructure.Authorization.AuthorizeAny(User, new RoleEnum[] { RoleEnum.Therapist, RoleEnum.Super_therapist, RoleEnum.Patient }))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" title="Sprava baliku" href="#" id="navbarDropdownPackage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.baliky
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownPackage">

                                        @if (Neurop3.Infrastructure.Authorization.AuthorizeAny(User, new RoleEnum[] { RoleEnum.Admin, RoleEnum.Therapist, RoleEnum.Super_therapist }))
                                        {
                                            @Html.ActionLink(Resources.Global.vytvorit_balik, "Create", "Package", new { }, new { @class = "dropdown-item" })
                                            @Html.ActionLink(Resources.Global.sprava_baliku, "List", "Package", new { }, new { @class = "dropdown-item" })
                                        }

                                        @if (Neurop3.Infrastructure.Authorization.Authorize(User, RoleEnum.Patient))
                                        {
                                            @Html.ActionLink(Resources.Global.baliky_pacienta, "PatientPackages", "Package", new { }, new { @class = "dropdown-item" })
                                        }
                                    </div>
                                </li>
                            }

                            if (Neurop3.Infrastructure.Authorization.AuthorizeAny(User, new RoleEnum[] { RoleEnum.Super_therapist, RoleEnum.Therapist }))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAnalysis" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.analyzy
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAnalysis">
                                        @Html.ActionLink(Resources.Global.analyzy, "Index", "Analysis", new { }, new { @class = "dropdown-item" })
                                    </div>
                                </li>
                            }

                            if (Neurop3.Infrastructure.Authorization.AuthorizeAny(User, new RoleEnum[] { RoleEnum.Admin, RoleEnum.Super_therapist, RoleEnum.Therapist, RoleEnum.Patient }))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownComments" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Resources.Global.pripominky
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownComments">
                                        @Html.ActionLink(Resources.Global.vytvorit_pripominku, "CommentCreate", "Home", new { }, new { @class = "dropdown-item" })
                                        @Html.ActionLink(Resources.Global.seznam_pripominek, "CommentList", "Home", new { }, new { @class = "dropdown-item" })
                                    </div>
                                </li>
                            }

                        }

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDemos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Resources.Global.ukazky_uloh
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownDemos">
                                    @Html.ActionLink("Labyrint", "Demo", "Test", new { @exerciseId = 29 }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Mozaika", "Demo", "Test", new { @exerciseId = 44 }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("SAT", "Demo", "Test", new { @exerciseId = 51 }, new { @class = "dropdown-item" })
                                </div>
                                @*@Html.ActionLink(Resources.Global.ukazky_uloh, "Index", "Home", new { }, new { @class = "nav-link" })*@
                            </li>
                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInfo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Resources.Global.informace
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
                                @Html.ActionLink(Resources.Global.informace, "Info", "Home", new { }, new { @class = "dropdown-item" })
                                @Html.ActionLink(Resources.Global.kontakt, "Contact", "home", new { }, new { @class = "dropdown-item" })
                                @*@Html.ActionLink(Resources.Global.o_aplikaci, "About", "Home", new { }, new { @class = "dropdown-item" })*@
                            </div>
                        </li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <main class="container body-content">
        @RenderBody()
    </main>
    <footer>
        <hr />
        @{
            var versionInfo = System.Diagnostics.FileVersionInfo.GetVersionInfo(ViewContext.Controller.GetType().Assembly.Location);
        }
        <p>@versionInfo.ProductName, @versionInfo.LegalCopyright, @Html.ActionLink(@versionInfo.ProductVersion, "ChangeLogs", "Home")</p>
    </footer>
</body>
</html>

