﻿@using Microsoft.AspNet.Identity;
@using Neurop3.Services;

@{
    var _us = DependencyResolver.Current.GetService<UserService>();
    var user = _us.GetUser(User.Identity.GetUserId());

    var name = user != null ? user.FullName : "";
    var SAMail = Neurop3.Common.AppSetting.GetSetting<string>("smtpMail");

    var showAdministration = user != null && !string.IsNullOrEmpty(SAMail) ? (SAMail.CompareTo(user.Email) == 0 ? true : false) : false;
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right form-inline" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                @*@Html.ActionLink(, "Index", "Manage", new { }, new { @class = "nav-link", @title = "Manage", })*@

                <a class="nav-link dropdown-toggle" href="#" id="DropdownUserAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @name!
                </a>
                <ul class="dropdown-menu" aria-labelledby="DropdownUserAccount">
                    <li>@Html.ActionLink(Resources.Global.nastaveni_uctu, "Manage", "Account", new { }, new { @class = "dropdown-item" })</li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#" id="DropdownLanguages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Resources.Global.nastaveni_jazyka
                        </a>
                        <ul class="dropdown-menu my-dropdown-menu-left" aria-labelledby="DropdownLanguages">
                            <li><a href="#" class="dropdown-item" onclick="changeLang('cs')">Čeština</a></li>
                            <li><a href="#" class="dropdown-item" onclick="changeLang('en')">English</a></li>
                            <li><a href="#" class="dropdown-item" onclick="changeLang('de')">Deutsch</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdownComments" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Resources.Global.pripominky
                        </a>
                        <ul class="dropdown-menu my-dropdown-menu-left " aria-labelledby="navbarDropdownComments">
                            <li>@Html.ActionLink(Resources.Global.vytvorit_pripominku, "CommentCreate", "Home", new { }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink(Resources.Global.seznam_pripominek, "CommentList", "Home", new { }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <li class="dropdown-divider"></li>

                    @if (showAdministration)
                    {
                        <li>@Html.ActionLink(Resources.Global.prihlasovaci_logy, "LoginLogs", "Home", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink(Resources.Global.logy_o_chybach, "Errors", "Home", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink(Resources.Global.pridat_zaznam_o_zmenach, "CreateChangeLog", "Home", null, htmlAttributes: new { @class = "dropdown-item" })</li>
                        <li class="dropdown-divider"></li>
                    }
                    <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">@Resources.Global.odhlasit_se</a></li>

                </ul>
            </li>
            @*<li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">@Resources.Global.odhlasit_se</a></li>*@
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="DropdownLanguages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @*@Resources.Global.nastaveni_jazyka*@
                <span class="fa fa-flag"></span>
            </a>
            <div class="dropdown-menu " aria-labelledby="DropdownLanguages">
                <a href="#" class="dropdown-item" onclick="changeLang('cs')">Čeština</a>
                <a href="#" class="dropdown-item" onclick="changeLang('en')">English</a>
                <a href="#" class="dropdown-item" onclick="changeLang('de')">Deutsch</a>
            </div>
        </li>
        <li>@Html.ActionLink(Resources.Global.registrace, "Register", "Account", new { }, new { @id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink(Resources.Global.prihlaseni, "Login", "Account", new { }, new { @id = "loginLink", @class = "nav-link" })</li>
    </ul>
}

<script type="text/javascript">

    function changeLang(lang) {
        //$.cookie('lang', lang);
        $.cookie('lang', lang, { path: "/" });
        window.location.reload();
        return false;
    }

</script>
