﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Resources.Global.neurop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            @*@Html.ActionLink(Resources.Global.neurop, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink(Resources.Global.zpet_na_homepage, "Index", "Home", new { }, new { @class= "nav-link"})
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container body-content">
        @RenderBody()
    </main>

    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - @Resources.Global.neurop</p>
    </footer>

    
</body>
</html>