﻿@model System.Web.Mvc.HandleErrorInfo

<h1 class="text-danger">@Resources.Global.chyba</h1>
<h2 class="text-danger">@Resources.Global.behem_zpracovani_dotazu_nastala_chyba</h2>
<div>
    <h4>Message</h4>
    @Model.Exception.Message
</div>
<div>
    <h4>Inner exception</h4>
    @Model.Exception.InnerException
</div>
<div>
    <h4>Stack trace</h4>
    @Model.Exception.StackTrace
</div>

