﻿@model System.Web.Mvc.HandleErrorInfo


<hgroup>
    <h1 class="text-danger">@Resources.Global.zamceno</h1>
    <h2 class="text-danger">@Resources.Global.tento_ucet_byl_zamknut_opakujte_akci_pozdeji</h2>
</hgroup>
