﻿@model Neurop3.Models.ViewModels.User.PatientFeedbackViewModel

@using Neurop3.Common;
@{

    Layout = null;

    SelectList difficultyList = new SelectList(new List<SelectListItem>() {
new SelectListItem() {Value = ((int) PatientFeedbackDifficulty.Lehke).ToString(), Text = Resources.Global.lehke, Selected = true},
new SelectListItem() {Value = ((int) PatientFeedbackDifficulty.StredneObtizne).ToString(), Text = Resources.Global.stredne_obtizne},
new SelectListItem() {Value = ((int) PatientFeedbackDifficulty.Obtizne).ToString(), Text = Resources.Global.obtizne},
new SelectListItem() {Value = ((int) PatientFeedbackDifficulty.Tezke).ToString(), Text = Resources.Global.tezke},
new SelectListItem() {Value = ((int) PatientFeedbackDifficulty.VelmiTezke).ToString(), Text = Resources.Global.velmi_tezke},
}, "Value", "Text");

    SelectList exerciseAmountList = new SelectList(new List<SelectListItem>() {
new SelectListItem() {Value = ((int) PatientFeedbackExerciseAmount.Malo).ToString(), Text = Resources.Global.malo, Selected = true},
new SelectListItem() {Value = ((int) PatientFeedbackExerciseAmount.Primerene).ToString(), Text = Resources.Global.primerene, Selected = true},
new SelectListItem() {Value = ((int) PatientFeedbackExerciseAmount.Hodne).ToString(), Text = Resources.Global.hodne, Selected = true},
}, "Value", "Text");

    var editable = Model != null ? Model.Editable : true;
}


<div class="form-group">
    @Html.LabelFor(model => model.Difficulty)
    @Html.DropDownListFor(model => model.Difficulty, difficultyList, @editable ? (object) new  { @class = "form-control" } :(object) new { @class = "form-control", @disabled = "disabled" })
    @Html.ValidationMessageFor(model => model.Difficulty, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ExerciseAmount)
    @Html.DropDownListFor(model => model.ExerciseAmount, exerciseAmountList, @editable ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", @disabled = "disabled" })
    @Html.ValidationMessageFor(model => model.ExerciseAmount, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Note)
    @Html.TextAreaFor(model => model.Note, @editable ? (object)new { @rows = 5, @class = "form-control" } : (object)new { @rows = 5, @class = "form-control", @readonly = "readonly" })
    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
</div>

@if(Model != null && Model.TimeUtc != null)
{
<div class="form-group">
    @Html.LabelFor(model => model.TimeUtc)
    @Html.TextBoxFor(model => model.TimeUtc, @editable ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", @readonly = "readonly" })
    @Html.ValidationMessageFor(model => model.TimeUtc, "", new { @class = "text-danger" })
</div>
}
