﻿@model  IEnumerable<Neurop3.Models.ViewModels.User.PatientAssignViewModel>

@{
    Layout = null;

    var totalRecords = (int)ViewBag.totalRecords;
    var rowStartsAt = (int)ViewBag.rowStartsAt;
    var currentPage = ViewBag.currentPage != null ? (int)ViewBag.currentPage : 1;

}

<input type="hidden" id="totalRecords" value="@totalRecords" />
<input type="hidden" id="currentPage" value="@currentPage" />

<table class="table table-sm table-hover table-responsive-sm">
    <thead>
        <tr>
            <th class="text-center" scope="col">
                #
            </th>
            <th class="text-center" scope="col">
                @Html.DisplayNameFor(model => model.Therapist)
            </th>
            <th class="text-center" scope="col">
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th class="text-center" scope="col">
                @Resources.Global.operace
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {

            foreach (var item in Model)
            {
                //var message = item.IsUsed ?
                <tr>
                    <td scope="row">@(rowStartsAt++)</td>
                    <td class="text-center">
                        @Html.DisplayFor(x => item.Therapist.FullName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(x => item.Patient.FullName)
                    </td>
                    <td class="text-center">
                        @if (item.IsActive)
                        {
                            @Html.ActionLink(Resources.Global.smazat, "RemoveAssign", new { @id = item.Id }, new { @class = "btn btn-danger btn-sm ml-1", onclick = "return confirm('Opravdu chcete smazat toto prirazeni?');" })
                        }
                        else
                        {
                            @Html.ActionLink(Resources.Global.obnovit, "ActivateAssign", new { @id = item.Id }, new { @class = "btn btn-primary btn-sm ml-1", onclick = "return confirm('Opravdu chcete obnovit toto prirazeni?');" })

                        }
                        @*@Html.ActionLink(Resources.Global.nahled, "AssignDetail", new { @id = item.Id }, new { @class = "btn btn-warning btn-sm ml-1" })*@
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="text-center">
                <td colspan="4">@Resources.Global.zadne_zaznamy_nenalezeny</td>
            </tr>
        }
    </tbody>
</table>