﻿@model Neurop3.Models.ViewModels.User.TherapistReportViewModel

@{ 
    Layout = null;
}

<div class="form-row">
    <div class="form-group col-12">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group col-12">
        @Html.LabelFor(model => model.Report)
        @Html.TextAreaFor(model => model.Report, new { @rows = 5, @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group col-6">
        @Resources.Global.jmeno_terapeuta
        @Html.TextBoxFor(model => model.Therapist.FullName, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group col-6">
        @Resources.Global.jmeno_pacienta
        @Html.TextBoxFor(model => model.Patient.FullName, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group col-12">
        @Html.LabelFor(model => model.TimeUtc)
        @Html.TextBoxFor(model => model.TimeUtc, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group col-12">
        @Html.LabelFor(model => model.Shown)
        @Html.CheckBoxFor(model => model.Shown, new { @disabled = "disabled" })
    </div>
</div>
