﻿@model Neurop3.Models.ViewModels.User.TherapistReportCreateViewModel


@using (Html.BeginForm("CreateTherapistReport", "User", FormMethod.Post, new { @id = "createTherapistReportForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.TherapistId)
    @Html.HiddenFor(m => m.PatientDataId)

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Report)
        @Html.TextAreaFor(model => model.Report, new { @rows = 2, @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
    </div>
}
