﻿@model IEnumerable<Neurop3.Models.ViewModels.User.TherapistReportViewModel>
@using Microsoft.AspNet.Identity;

@{
    var currentUserId = HttpContext.Current.User.Identity.GetUserId();
    var isPatient = Neurop3.Infrastructure.Authorization.Authorize(HttpContext.Current.User, Neurop3.Common.RoleEnum.Patient);
    
}

<table class="table text-center table-responsive-sm table-sm table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @if (isPatient)
            {
                <th>
                    @Resources.Global.jmeno_terapeuta
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Report)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shown)
            </th>
            <th>
                @Resources.Global.operace
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @if (isPatient)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Therapist.FullName)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportShort)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeUtc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shown)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm m-sm-1 showReport" value='@item.Id'>
                            @Resources.Global.zobrazit_report
                        </button>
                        @if (!isPatient)
                        {
                            <button type="button" class="btn btn-danger btn-sm m-sm-1" value='@item.Id'>
                                @Resources.Global.smazat
                            </button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center" colspan="5">
                    @Resources.Global.zadne_zaznamy_nenalezeny
                </td>
            </tr>
        }

    </tbody>

</table>

<!-- show Report modal -->
<div class="modal fade" id="showReportModal" tabindex="-1" role="dialog" aria-labelledby="showModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showModalTitle">@Resources.Global.zobrazit_report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="showReportModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
            </div>
        </div>
    </div>
</div>

@*modal deleteReportModal*@
<div class="modal fade" id="deleteReportModal" tabindex="-1" role="dialog" aria-labelledby="deleteReportTitle" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteReportTitle">@Resources.Global.smazat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group col-12">
                    @Html.Label(Resources.Global.opravdu_chcete_smazat_tento_report)
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.ne</button>
                <button id="deleteReportModalButton" type="button" class="btn btn-danger">@Resources.Global.ano</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(".showReport").on("click", function (event) {

        var reportId = $(this).attr("value");

        $.ajax({
            cache: false,
            type: "POST",
            //async: false,
            url: Router.action("User", "ShowTherapistReport"),
            data: {
                reportId: reportId
            },
            success: function (data) {
                $("#showReportModalBody").html(data);
            }
        });
        $("#showReportModal").modal('show');
    });

    var actualReportId;

    $(".deleteReport").on("click", function (event) {
        actualReportId = $(this).attr("value");
        $("#deleteReportModal").modal('show');
    });

    $("#deleteReportModalButton").on("click", function (event) {

        $.ajax({
            cache: false,
            type: "POST",
            dataType: "json",
            //async: false,
            url: Router.action("User", "DeleteTherapistReport"),
            data: {
                reportId: actualReportId
            },
            success: function (data) {
                $("#deleteReportModal").modal('hide');
                //window.location.href = window.location.href + '#reports';
                window.location.reload();
                $('.nav-pills a[href="#reports"]').tab('show');

                @*var redirectToId = data.data.toString();
                var url = '@Url.Action("Manage", "Package", new { id = "REPLACEME"})';
                var url2 = url.replace('REPLACEME', redirectToId);
                window.location.href = url2;*@
            }
        });
    });
    deleteReportModalButton

</script>