﻿@model IEnumerable<Neurop3.Models.ViewModels.User.UserViewModel>

@{
    Layout = null;
}

<table class="table">
    <tr>
        <th class="text-center">
            #
        </th>
        @*<th class="text-center">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>*@
        <th class="text-center">
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th class="text-center">
            @Resources.Global.operace
        </th>
    </tr>


    @if (Model != null && Model.Any())
    {
        var count = 0;

        foreach (var item in Model)
        {
            <tr>
                <td class="text-center" scope="row">@(++count)</td>
                @*<td class="text-center">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>*@
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td class="text-center">
                    @Html.ActionLink(Resources.Global.nahled, "PatientDetail", new { id = item.Id}, new { @class = "btn btn-primary btn-sm" })
                    @*@if (item.IsEditable)
                    {
                        @Html.ActionLink(Resources.Global.editace, "Manage", new { id = item.Id}, new { @class = "btn btn-success btn-sm" })
                    }*@
                    @*@if (!item.IsUsed)
                        {
                            @Html.ActionLink(Resources.Global.smazat, "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-small ml-md-2", onclick = "return confirm('Are you sure you wish to delete this article?');" })
                        }*@
                </td>
            </tr>
        }

    }
    else
    {
        <tr>
            <td class="text-center" colspan="3">
                @Resources.Global.zadne_zaznamy_nenalezeny
            </td>
        </tr>
    }


</table>
