﻿@model IEnumerable<Neurop3.Models.ViewModels.Exercise.ExerciseAssignViewModel>

@{
    Layout = null;
}
<table class="table table-responsive-sm">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Exercise.Name)
        </th>
        <th text-center">
            @Html.DisplayNameFor(model => model.AssignDate)
        </th>
        <th text-center">
            @Html.DisplayNameFor(model => model.LastAccessDate)
        </th>
        <th text-center">
            @Resources.Global.pocet_zaznamu
        </th>
        <th text-center">
            @Resources.Global.operace
        </th>
    </tr>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Exercise.Name)
                </td>
                <td text-center>
                    @Html.DisplayFor(modelItem => item.AssignDate)
                </td>
                <td text-center>
                    @Html.DisplayFor(modelItem => item.LastAccessDate)
                </td>
                <td class="text-center">
                    @item.ExerciseResultsVMs.Where(x => x.Row == 0).Count()
                </td>
                <td text-center>
                    @Html.ActionLink(Resources.Global.analyzovat, "Analyze", "Analysis", new { @id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5" class="text-center">@Resources.Global.zadne_zaznamy_nenalezeny</td>
        </tr>
    }

</table>
