﻿@model IEnumerable<Neurop3.Models.ViewModels.User.UserViewModel>
@using Neurop3.GlobalListValues.Enums;
@{
    Layout = null;
}

<table class="table table-hover table-responsive-sm table-sm ">
    <tr>
        <th class="text-center">
            #
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th class="text-center">
            @Resources.Global.operace
        </th>
    </tr>


    @if (Model != null && Model.Any())
    {
        var count = 0;

        foreach (var item in Model)
        {
            <tr>
                <td class="text-center" scope="row">@(++count)</td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td class="text-center">
                    @{
                        var roles = "";
                        foreach(var role in item.Roles)
                        {
                            roles += ((Neurop3.Common.RoleEnum) Int32.Parse(role.RoleId)).GetDescriptionString()  + ", ";
                        }
                        roles = roles.Substring(0, roles.LastIndexOf(','));
                    }
                    @roles
                </td>
                <td class="text-center">
                    @Html.ActionLink(Resources.Global.nahled, "Manage", new { id = item.Id, edit = false }, new { @class = "btn btn-primary btn-sm ml-1" })
                    @Html.ActionLink(Resources.Global.editace, "Manage", new { id = item.Id, edit = true }, new { @class = "btn btn-success btn-sm ml-1" })
                </td>
            </tr>
        }

    }
    else
    {
        <tr>
            <td class="text-center" colspan="5">
                @Resources.Global.zadne_zaznamy_nenalezeny
            </td>
        </tr>
    }
</table>
