﻿@model Neurop3.Models.ViewModels.Account.ChangePasswordViewModel




<section class="form-group">
    <h2>@Resources.Global.zmenit_heslo</h2>
    <hr />
</section>

<section class="form-group">

    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
        
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

    </div>
        <div class="form-group col-12 text-center">
                <input type="submit" value="@Resources.Global.zmenit_heslo" class="btn btn-primary" />
        </div>
    }

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}