﻿
<div class="container-fluid">
    <div class="row">
        <h2>@Resources.Global.email_potvrzen</h2>
        <hr />
    </div>
    <div class="row">
        <p>
            @Resources.Global.dekujeme_za_potvrzeni_emailu. @Html.ActionLink(Resources.Global.kliknete_zde_pro_prihlaseni + ".", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>

</div>


