﻿
@{
    var message = ViewBag.message?? "";

}

<div class="container-fluid">
    <div class="row">
        <h2>@Resources.Global.emailova_adresa_nebyla_dosud_overena</h2>
        <hr />
    </div>
    <div class="row">
        <p>
            @message
        </p>
    </div>

</div>


