﻿@model Neurop3.Models.ViewModels.Account.ForgotPasswordViewModel


<div class="container-fluid">

    <div class="offset-md-4 col-md-4 col-sm-12">
        <section>
            <div class="form-group">
                <h4>@Resources.Global.zapomenute_heslo</h4>
            </div>
            <hr />
        </section>
        <section>
            <div class="form-group">

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group col-12">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-12">
                        <input type="submit" class="form-control btn btn-primary" value=@Resources.Global.obnovit />
                    </div>
                }
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
