﻿
<hgroup class="title">
    <h1>@Resources.Global.potvrzeni_zapomenuteho_hesla</h1>
</hgroup>
<div>
    <p>
       @Resources.Global.prosim_zkontolujte_svuj_mail_pro_obnoveni_hesla.
    </p>
</div>
	
