﻿@model Neurop3.Models.ViewModels.Account.ManageIndexViewModel

<div>

    <section>
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div class="row">
            <h4>@Resources.Global.zmenit_nastaveni_vaseho_uctu</h4>
        </div>
        <div class="row">
            <hr />
        </div>
    </section>


    <section>
        <ul class="nav nav-tabs" id="manageAccountTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="personalInformationTab" data-toggle="tab" href="#personalInformation" role="tab" aria-controls="personalInformation" aria-selected="true">@Resources.Global.osobni_informace</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contactInformationTab" data-toggle="tab" href="#contactInformation" role="tab" aria-controls="contactInformation" aria-selected="true">@Resources.Global.kontaktni_udaje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="registrationInformationTab" data-toggle="tab" href="#registrationInformation" role="tab" aria-controls="registrationInformation" aria-selected="true">@Resources.Global.registracni_udaje</a>
            </li>
        </ul>

        <div class="tab-content col-md-12" id="manageAccountContent">
            <div class="tab-pane fade show active m-2" id="personalInformation" role="tabpanel" aria-labelledby="personalInformationTab">
                
            </div>

            
            <div class="tab-pane fade show active m-2" id="contactInformation" role="tabpanel" aria-labelledby="contactInformationTab">

                @using (@Html.BeginForm("Index", "Account", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(m => m.User.Id)

                    <div class="form-row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            @Html.LabelFor(m => m.User.FirstName)
                            @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.User.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            @Html.LabelFor(m => m.User.LastName)
                            @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.User.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            @Html.LabelFor(m => m.User.Email)
                            @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.User.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="@Resources.Global.ulozit" class="btn btn-primary" />
                    </div>
                }
            </div>



            <div class="tab-pane fade m-2" id="registrationInformation" role="tabpanel" aria-labelledby="registrationInformationTab">
                <div class="form-group">
                    @Html.LabelFor(model => model.HasPassword, htmlAttributes: new { @class = "control-label" })
                    &nbsp;
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink(Resources.Global.zmenit_heslo, "ChangePassword", null, new { @class = "btn btn-outline-primary btn-sm" })
                    }
                    else
                    {
                        @Html.ActionLink(Resources.Global.vytvorit_heslo, "SetPassword", null, new { @class = "btn btn-outline-primary btn-sm" })
                    }
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                    @*
                        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                         Uncomment the following block after you have set up two-factor authentication
                    *@

                    @(Model.PhoneNumber ?? Resources.Global.neuvedeno)
                    @if (Model.PhoneNumber != null)
                    {
                        @Html.ActionLink(Resources.Global.zmenit, "AddPhoneNumber", "Account", null, new { @class = "btn btn-outline-primary btn-sm" })
                        using (Html.BeginForm("RemovePhoneNumber", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value=@Resources.Global.odebrat class="btn btn-outline-primary btn-sm" />
                        }
                    }
                    else
                    {
                        @Html.ActionLink(Resources.Global.pridat, "AddPhoneNumber", "Account", null, new { @class = "btn btn-outline-primary btn-sm" })
                    }
                </div>
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.TwoFactor, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12">
                        <p>
                            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication.
                        </p>
                        @if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Enabled
                                    <input type="submit" value="Disable" class="btn btn-link" />
                                </text>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Disabled
                                    <input type="submit" value="Enable" class="btn btn-link" />
                                </text>
                            }
                        }
                    </div>
                </div>*@
        </div>
    </section>
</div>

<script>

                //$("#saveUserContactInformation").click(function () {
                //    var checked = $(this).is(':checked');
                //    ProgramFilter(checked);
                //});


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}