﻿@model Neurop3.Models.ViewModels.Account.LoginViewModel

<div class="container-fluid">

    <div class="col-md-12 offset-lg-4 col-lg-4">
        <section>
            <div class="form-group">
                <h4>@Resources.Global.prihlaseni</h4>
            </div>
            <hr />
        </section>

        @*<section>

            <div class="form-group">*@
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-12 text-left">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="@Resources.Global.prihlaseni" class="form-control btn btn-primary" />
                        </div>
                        @* Enable this once you have account confirmation enabled for password reset functionality*@
                        <div class="form-group">
                            @Html.ActionLink(Resources.Global.zapomenute_heslo, "ForgotPassword", new { }, new { @class = "btn btn-outline-primary btn-sm" })
                        </div>
                    }
                </section>
            @*</div>
        </section>*@
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}