﻿@model Neurop3.Models.ViewModels.Account.AccountManageViewModel
@using Neurop3.Common;
@using Neurop3.Models.ViewModels.User;
@{
    //var roless = Model.UserVM.Roles.Select(x => Int32.Parse(x.RoleId)).OrderBy(o => o).Select(y => ((RoleEnum)y)).ToList();
    var roles = Model.UserVM.RoleIds.Split(',').Select(x => Int32.Parse(x)).OrderBy(o => o).Select(y => ((RoleEnum)y)).ToList();

    var fieldSet = ( (roles.Any() && roles.Count() > 1) || roles.Contains(RoleEnum.Superadmin)) ? true : false ;

    //var roleId = Model.User.Roles.Select(x => Int32.Parse(x.RoleId)).OrderBy(o => o).FirstOrDefault();
    //var role = (RoleEnum)roleId;

}

<div>
    <section>
        <div class="row">
            <h4>@Resources.Global.zmenit_nastaveni_vaseho_uctu</h4>
        </div>
        <div class="row">
            <hr />
        </div>
    </section>

    <section>
        <ul class="nav nav-tabs" id="manageAccountTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="personalInformationTab" data-toggle="tab" href="#personalInformation" role="tab" aria-controls="personalInformation" aria-selected="true">@Resources.Global.osobni_informace</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contactInformationTab" data-toggle="tab" href="#contactInformation" role="tab" aria-controls="contactInformation" aria-selected="true">@Resources.Global.kontaktni_udaje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="registrationInformationTab" data-toggle="tab" href="#registrationInformation" role="tab" aria-controls="registrationInformation" aria-selected="true">@Resources.Global.registracni_udaje</a>
            </li>
        </ul>

        @using (@Html.BeginForm("Manage", "Account", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.UserVM.Id)
            @Html.HiddenFor(m => m.UserVM.RoleIds)

            <div class="tab-content col-md-12" id="manageAccountContent">
                <div class="tab-pane fade show active m-2" id="personalInformation" role="tabpanel" aria-labelledby="personalInformationTab">

                    @if (Neurop3.Infrastructure.Authorization.Authorize(User, RoleEnum.Admin))
                    {
                        if (fieldSet)
                        {
                            <fieldset class="mt-3">
                                <legend>@Resources.Global.administrator</legend>
                                @Html.Partial("EditorTemplates/_ManageAdministratorData", Model)
                            </fieldset>
                        }
                        else
                        {
                            @Html.Partial("EditorTemplates/_ManageAdministratorData", Model)
                        }
                    }

                    @if (Neurop3.Infrastructure.Authorization.AuthorizeAny(User, new RoleEnum[] { RoleEnum.Therapist, RoleEnum.Super_therapist }))
                    {
                        if (fieldSet)
                        {
                            <fieldset class="mt-3">
                                <legend>@Resources.Global.terapeut</legend>
                                @Html.Partial("~/Views/Account/EditorTemplates/_ManageTherapistData.cshtml", Model)
                            </fieldset>
                        }
                        else
                        {
                            @Html.Partial("~/Views/Account/EditorTemplates/_ManageTherapistData.cshtml", Model)
                        }

                    }

                    @if (Neurop3.Infrastructure.Authorization.Authorize(User, RoleEnum.Patient))
                    {
                        if (fieldSet)
                        {
                            <fieldset class="mt-3">
                                <legend>@Resources.Global.pacient</legend>
                                @Html.Partial("~/Views/Account/EditorTemplates/_ManagePatientData.cshtml", Model)

                            </fieldset>
                        }
                        else
                        {
                            @Html.Partial("~/Views/Account/EditorTemplates/_ManagePatientData.cshtml", Model)
                        }
                    }
                </div>
                <div class="tab-pane fade m-2" id="contactInformation" role="tabpanel" aria-labelledby="contactInformationTab">

                    <div class="form-row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            @Html.LabelFor(m => m.UserVM.FirstName)
                            @Html.TextBoxFor(m => m.UserVM.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserVM.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            @Html.LabelFor(m => m.UserVM.LastName)
                            @Html.TextBoxFor(m => m.UserVM.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserVM.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            @Html.LabelFor(m => m.UserVM.Email)
                            @Html.TextBoxFor(m => m.UserVM.Email, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.UserVM.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-lg-4 col-sm-12 col-md-6">
                            @Html.LabelFor(model => model.UserVM.PhoneNumber)
                            @Html.TextBoxFor(model => model.UserVM.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserVM.PhoneNumber, "", new { @class = "text-danger" })

                            @*
                                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                                 See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                                 Uncomment the following block after you have set up two-factor authentication
                            *@

                            @*@(Model.User.PhoneNumber ?? Resources.Global.neuvedeno)
                                            @if (Model.User.PhoneNumber != null)
                                {
                                    @Html.ActionLink(Resources.Global.zmenit, "AddPhoneNumber", "Account", null, new { @class = "btn btn-outline-primary btn-sm" })
                                                using (Html.BeginForm("RemovePhoneNumber", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" value=@Resources.Global.odebrat class="btn btn-outline-primary btn-sm" />
                                                }
                                            }
                                            else
                                            {
                                                @Html.ActionLink(Resources.Global.pridat, "AddPhoneNumber", "Account", null, new { @class = "btn btn-outline-primary btn-sm" })
                                            }*@
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade m-2" id="registrationInformation" role="tabpanel" aria-labelledby="registrationInformationTab">
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-6">
                            @Html.LabelFor(model => model.HasPassword)
                            &nbsp;
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink(Resources.Global.zmenit_heslo, "ChangePassword", null, new { @class = "form-control btn btn-outline-primary btn-sm" })
                            }
                            else
                            {
                                @Html.ActionLink(Resources.Global.vytvorit_heslo, "SetPassword", null, new { @class = "form-control btn btn-outline-primary btn-sm" })
                            }
                        </div>
                        @if (!Model.UserVM.EmailConfirmed)
                        {
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="submitEmail">@Resources.Global.potvrzeni_emailu</label>
                                @Html.ActionLink(Resources.Global.potvrzeni_emailu, "SubmitEmail", null, new { @id = "submitEmail", @class="form-control btn btn-outline-success btn-sm" })
                            </div>
                        }


                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="@Resources.Global.ulozit_vse" class="btn btn-primary" />
            </div>
        }
    </section>
</div>

<script>

    $("#PatientDataVM_DateOfBirth").datepicker({
        language: "cs",
        format: "dd.mm.yyyy"
    });
    $("#TherapistDataVM_DateOfBirth").datepicker({
        language: "cs",
        format: "dd.mm.yyyy"
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
