﻿
<div class="container-fluid">
    <div class="row">
        <h1>@Resources.Global.heslo_bylo_obnoveno</h1>
    </div>
    <div>
        <p>
            @Resources.Global.vase_heslo_bylo_obnoveno_prosim_prihlaste_se @Html.ActionLink(Resources.Global.zde, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>


</div>

