﻿@model Neurop3.Models.ViewModels.Account.ResetPasswordViewModel



<div class="container-fluid">

    <div class="offset-md-4 col-md-4 col-sm-12">

        <section>
            <div class="form-group col-12">
                <h4>@Resources.Global.obnoveni_hesla</h4>
            </div>
            <hr />
        </section>
        <section>

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)

                <div class="form-group col-12">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="form-group col-12">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="form-group col-12">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div class="form-group col-12">
                    <input type="submit" class="form-control btn btn-primary" value=@Resources.Global.obnovit />
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
