﻿@model Neurop3.Models.ViewModels.Translation.TranslationViewModel

<div class="container-fluid">

    <section>
        <div class="row">
            <div class="col-md-12">
                <h4>@Resources.Global.vytvoreni_prekladu</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </section>
    <section>
        @using (Html.BeginForm("Create", "Translation", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.Cz) @*, htmlAttributes: new { @class = "control-label col-md-2" }*@
                @Html.TextAreaFor(m => m.Cz, new { @rows = "1", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Cz, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.En)
                @Html.TextAreaFor(model => model.En, new { @rows = "1", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.En, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.De)
                @Html.TextAreaFor(model => model.De, new { @rows = "1", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.De, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DbColumnName)
                @Html.TextAreaFor(model => model.DbColumnName, new { @rows = "1", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DbColumnName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group text-center">
                <input type="submit" value="@Resources.Global.ulozit" class="btn btn-primary" />
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}