﻿@model Neurop3.Models.ViewModels.Translation.ListViewModel

@using System.Web.Mvc;
@using System.Collections.Generic;
@{
    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;

    SelectList recordPerPageList = new SelectList(new List<SelectListItem>() {
new SelectListItem() {Value = "5", Text = "5"},
new SelectListItem() {Value = "10", Text = "10"},
new SelectListItem() {Value = "15", Text = "15"},
new SelectListItem() {Value = "1000", Text = "1000"},
}, "Value", "Text", Model.Filter.RecordsPerPage);


}

<div class="container-fluid">
    @if (tooltip)
    {
        <div class="form-group">
            <span class="fa fa-info-circle fa-lg" title="Editor pro dynamické vytváření překladů, které se použijí při definici nového programového modulu. Překlady byly naimplementovány kvůli možnosti výcejazyčného využití jednotlivých modulů. Pomocí vyhledávajícího pole se dá snad zobrazenými jazyky filtrovat."></span>
        </div>
    }
    <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
            <h4>@Resources.Global.seznam_prekladu</h4>
        </div>
        <div class="form-group col-md-6 col-sm-12 text-right">
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addNewTranslation">
                @Resources.Global.vytvoreni_prekladu
            </button>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filterModal">
                @Resources.Global.nastavit_filtr
            </button>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled" id="previous">
                    <span class="page-link">@Resources.Global.predchozi</span>
                </li>
                <li class="page-item disabled">
                    <span class="btn page-item" id="pageLabel"></span>
                </li>
                <li class="page-item" id="next">
                    <a class="page-link" href="#">@Resources.Global.dalsi</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="form-group" id="translationsTableWrapper">
        @Html.EditorFor(m => Model.TranslationViewModels, "TranslationListTable", new { @totalRecords = Model.Filter.TotalRecords, @rowStartsAt = 1, @currentPage = 1 })
    </div>
</div>

<!-- Modal filter -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTable" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalTable">@Resources.Global.nastavit_filtr</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.Filter.Text)
                    @Html.TextBoxFor(m => m.Filter.Text, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Filter.RecordsPerPage)
                    @Html.DropDownListFor(m => m.Filter.RecordsPerPage, recordPerPageList, new { @class = "form-control" })
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button type="button" class="btn btn-primary" id="useFilter">@Resources.Global.filtrovat</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal new translation -->

<div class="modal fade" id="addNewTranslation" tabindex="-1" role="dialog" aria-labelledby="newTranslationLabel" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTranslationLabel">@Resources.Global.vytvoreni_prekladu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 mt-md-2">
                        <label for="CzTransId" class="control-label">@Resources.Global.cesky</label>
                        <input type="text" id="CzTransId" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-md-2">
                        <label for="EnTransId" class="control-label">@Resources.Global.anglicky</label>
                        <input type="text" id="EnTransId" class="form-control col-md-12" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-md-2">
                        <label for="DeTransId" class="control-label">@Resources.Global.nemecky</label>
                        <input type="text" id="DeTransId" class="form-control col-md-12" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-md-2">
                        <label for="DbNameId" class="control-label">@Resources.Global.nazev_sloupce_v_databazi</label>
                        <input type="text" id="DbNameId" class="form-control col-md-12" />
                    </div>
                </div>
                <p id="addTranslationErrorMessage" style="color: red" class="m-2"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button id="addNewTranslationConfirm" type="button" class="btn btn-primary">@Resources.Global.pridat</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () { updateLabel() });

    $("#useFilter").on("click", function (event) {
        $("#currentPage").val(1);
        reloadList();
        $("#filterModal").modal('hide');
    });

    $("#previous").on("click", function (event) {
        var currentPage = parseInt($("#currentPage").val());

        if (currentPage > 1) {
            currentPage--;
            $("#currentPage").val(currentPage);
            reloadList()
        }
    });

    $("#next").on("click", function (event) {
        var currentPage = parseInt($("#currentPage").val());
        var maxPageCount = GetTotalPageCount();

        if (currentPage < maxPageCount) {
            currentPage++;
            $("#currentPage").val(currentPage);
            reloadList();
        }
    });

    function GetTotalPageCount() {
        var recordsPerPage = parseInt($("#Filter_RecordsPerPage").val());
        var totalRecords = parseInt($("#totalRecords").val());
        var retVal = Math.ceil(totalRecords / recordsPerPage);
        return retVal;
    }

    function updateLabel() {
        var currentPage = parseInt($("#currentPage").val());
        var totalRecords = parseInt($("#totalRecords").val());
        var recordsPerPage = parseInt($("#Filter_RecordsPerPage").val());
        var maxPageCount = GetTotalPageCount();

        var start = totalRecords != 0 ? (currentPage - 1) * recordsPerPage + 1 : 0;
        var end = (currentPage) * recordsPerPage;
        if (end > totalRecords) {
            end = totalRecords;
        }

        $("#pageLabel").text(start + "-" + end + " / " + totalRecords);

        if (currentPage == 1) {
            if (!$("#previous").hasClass("disabled")) {
                $("#previous").addClass("disabled");
            }
            if ($("#next").hasClass("disabled")) {
                $("#next").removeClass("disabled")
            }
        }
        if (currentPage == 2) {
            if ($("#previous").hasClass("disabled")) {
                $("#previous").removeClass("disabled");
            }
        }
        if (currentPage == maxPageCount) {
            if (!$("#next").hasClass("disabled")) {
                $("#next").addClass("disabled");
            }
            if ($("#previous").hasClass("disabled")) {
                $("#previous").removeClass("disabled");
            }
        }
        if (currentPage == (maxPageCount - 1)) {
            if ($("#next").hasClass("disabled")) {
                $("#next").removeClass("disabled");
            }
        }
        if (maxPageCount == 1) {
            if (!$("#next").hasClass("disabled")) {
                $("#next").addClass("disabled");
            }
            if (!$("#previous").hasClass("disabled")) {
                $("#previous").addClass("disabled");
            }
        }
    };

    function reloadList(currentPage) {
        $.ajax({
            type: "POST",
            url: Router.action("Translation", "ListFilter"),
            data: {
                text: $("#Filter_Text").val(),
                recordPerPage: $("#Filter_RecordsPerPage").val(),
                currentPage: $("#currentPage").val()
            },
            success: function (data) {
                $("#translationsTableWrapper").html(data);
                updateLabel();
            }
        });
    };

    $("#addNewTranslationConfirm").click(function () {

        $("addTranslationErrorMessage").text("");

        var czech = $("#CzTransId").val();
        var dbName = $("#DbNameId").val();

        var errorMessage = "";
        if (!czech || 0 == czech.length) {
            errorMessage += "Czech title is missing, ";
        }
        if (!dbName || 0 == dbName.length) {
            errorMessage += "DB name is missing";
        }

        if (!(errorMessage.length == 0)) {
            $("#addTranslationErrorMessage").text(errorMessage);
        }
        else {
            $.ajax({
                cache: false,
                type: "POST",
                dataType: "json",
                //async: false,
                url: Router.action("Translation", "ExistsDbName"),
                data: {
                    dbName: dbName,
                    translationId: 0
                },
                success: function (data) {
                    if (data.success == false) {
                        $.ajax({
                            cache: false,
                            type: "POST",
                            dataType: "json",
                            //async: false,
                            url: Router.action("Translation", "CreateFromModal"),
                            data: {
                                cz: $("#CzTransId").val(),
                                en: $("#EnTransId").val(),
                                de: $("#DeTransId").val(),
                                dbName: $("#DbNameId").val()
                            },
                            success: function (data) {
                                if (data.success == true) {
                                    $("#addNewTranslation").modal('hide');
                                }
                            }
                        });
                    }
                    else {
                        $("#addTranslationErrorMessage").text("DbName has already exists");
                    }
                }
            });
        }
    });
</script>
