﻿@model Neurop3.Models.ViewModels.Translation.TranslationViewModel

@{
    ViewBag.Title = "Manage";
    var label = @Resources.Global.editace_prekladu;
    label = string.Concat(label, " (", Model.Id, ")");
}


<div class="container-fluid">

    <section>
        <div class="form-row">
            <div class="form-group col-md-6 col-sm-12 ">
                <h4>@label</h4>
            </div>
            <div class="form-group col-md-6 col-sm-12 text-md-right">
                @Html.ActionLink(Resources.Global.seznam_prekladu, "List", new { }, new { @class = "btn btn-success btn-sm" })
                @if (!Model.IsUsed)
                {
                    @Html.ActionLink(Resources.Global.smazat, "Delete", new { @id = Model.Id }, new { @class = "btn btn-danger btn-sm ml-md-2", onclick = "return confirm('Opravdu chcete smazat tento preklad?');" })
                }
            </div>
        </div>

    </section>
    <section>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            if (Model.IsUsed)
            {
                <div class="form-group">
                    <div class="alert alert-primary" role="alert">
                        @Resources.Global.preklad_je_jiz_pouzity_nemente_jeho_vyznam
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(m => m.Cz)
                @Html.TextAreaFor(m => m.Cz, new { @rows = "1", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Cz, "", new { @class = "text-danger" })
                @*<div class="col-md-12 mt-md-2">
                    </div>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.En)
                @Html.TextAreaFor(model => model.En, new { @rows = "1", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.En, null, new { @class = "text-danger" })
                @*<div class="col-md-12 mt-md-2">
                    </div>*@
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.De)
                @Html.TextAreaFor(model => model.De, new { @rows = 1, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.De, null, new { @class = "text-danger" })
                @*<div class="col-md-12 mt-md-2">
                    </div>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DbColumnName)
                @Html.TextBoxFor(model => model.DbColumnName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DbColumnName, null, new { @class = "text-danger" })
                @*<div class="col-md-12 mt-md-2">
                    </div>*@
            </div>
            <div class="form-group text-center">
                <input type="submit" value="@Resources.Global.ulozit" class="btn btn-primary" />
                @*<div class="col-md-12 text-center mt-md-4">
                    </div>*@
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}