﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 100%;*/
    /*max-width: 280px;*/
}

/*input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}*/

.full-width {
    max-width: 100%;
}

footer {
    width: 100%;
    /*bottom: 0;
    left: 0;
    right: 0;
    position: fixed;*/
    /*background: #6cf;*/
    text-align: center;
    clear: both;
}

aside {
    width: 250px;
    float: left;
    height: 100%;
}

/*main aside {
   display: flow-root;
}

main section{
    display: flow-root;
}*/

figure {
    margin: calc;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    /*margin-left: 10px;*/
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.my-dropdown-menu-left {
    left: auto !important;
    right: 100% !important;
}

fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-left: 10px !important;
}

legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
}

.homepage_tile {
    background-color: #e5e5e5;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

.package-homepage {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: aquamarine;
}

.new-package {
    background-color: cornflowerblue;
}
.inProgress-package {
    background-color: burlywood;
}

.function-panel{
    width: 100%;
}


#RecipeRowDiv {
    width: 100%;
}

/*.removeRecipeRowBtn{
    margin-top: 32px;
}

.removeResultRowBtn {
    margin-top: 28px;
}*/

.my-row-mt-2 {
    margin-top: 0.5rem !important;
}

.my-submit {
    max-width: 150px;
}

.form-flex {
    display: flex;
}
