﻿
@{
    var showFunctions = true; //Neurop3.Common.AppSetting.GetSetting<int>("showFunctions") == 1;
    var onlyAdmin = Neurop3.Infrastructure.Authorization.AuthorizeWithOnly(User, Neurop3.Common.RoleEnum.Admin);

    Layout = null;

}

<article class="homepage_tile">
    @if (!onlyAdmin)
    {
        <h6>@Resources.Global.administrator</h6>
    }

    @if (showFunctions)
    {
        <div id="admin_functions" class="function-panel">
            <h6>@Resources.Global.funkce</h6>
            @Html.ActionLink(Resources.Global.sprava_uzivatelu, "List", "User", new { }, new { @class = "btn btn-primary btn-sm m-2" })
            @Html.ActionLink(Resources.Global.prirazeni_pacietu, "PatientAssign", "User", new { }, new { @class = "btn btn-primary btn-sm m-2" })
            @Html.ActionLink(Resources.Global.sprava_prekladu, "List", "Translation", new { }, new { @class = "btn btn-primary btn-sm m-2" })
            @*@Html.ActionLink(Resources.Global.vytvoreni_prekladu, "Create", "Translation", new { }, new { @class = "btn btn-primary btn-sm m-2" })*@
            @Html.ActionLink(Resources.Global.sprava_programu, "List", "Program", new { }, new { @class = "btn btn-primary btn-sm m-2" })
            @*@Html.ActionLink(Resources.Global.vytvoreni_programu, "Create", "Program", new { }, new { @class = "btn btn-primary btn-sm m-2" })*@
            @Html.ActionLink(Resources.Global.sprava_uloh, "List", "Exercise", new { }, new { @class = "btn btn-primary btn-sm m-2" })
            @*@Html.ActionLink(Resources.Global.vytvor_ulohu, "Create", "Exercise", new { }, new { @class = "btn btn-primary btn-sm m-2" })*@
            @*@Html.ActionLink(Resources.Global.odevzdane_ulohy, "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-sm m-2" })*@
            @*@Html.ActionLink(Resources.Global.moje_ulohy, "Index", "Home", new { }, new { @class = "btn btn-primary btn-sm m-2" })*@
        </div>
    }
</article>