﻿
@{ 
    Layout = null;
    var onlyUnassign = Neurop3.Infrastructure.Authorization.AuthorizeWithOnly(User, Neurop3.Common.RoleEnum.Unassigned);
}

<article class="homepage_tile">
    @if (!onlyUnassign)
    {
        <h6>@Resources.Global.neprirazeno</h6>
    }
</article>