﻿
@{ 
    Layout = null;
}
<div class="container-fluid">
    <aside class="pr-5">
        <figure class="figure">
            <img class="img-fluid" src="~/Content/images/samco84x84.jpg" alt="samco" />
            <figcaption class="figure-caption text-center">Samco</figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut vulputate arcu nec ante maximus sagittis. </p>
        <figure class="figure">
            <img class="img-fluid" src="~/Content/images/WAIGL.BMP" alt="some pic" />
            <figcaption class="figure-caption text-center">Popis obrázku</figcaption>
        </figure>
        <p>Curabitur porta arcu fringilla sem dictum convallis. </p>
    </aside>
    <section>
        <article>
            <p><strong>NP3</strong> ist eine mehrsprachige Sammlung von diagnostischen und therapeutischen Programmen(im klinischen Einsatz seit 1993). Zur Zeit liegen neben der deutschen noch englische, slowakische und tschechische Version vor.</p>
            <p>Die Programme benutzen externe Aufgabendateien und ermöglichen so ein hohes Grad an Flexibilität.Die vorhandene Aufgaben(ca.700) spiegeln die mehr als zwanzigjährige klinische Erfahrung bei der Diagnostik und Therapie der neurologisch erkrankten Patienten. Die Beschreibung beinhaltet in der Regel die Zielsetzung des Programms, erklärt die Bedienung, und erklärt die Beispiele zur Erstellung neuer Aufgaben für das jeweilige Programm.</p>
            <p>NP3 speichert die Ergebnisse lokal oder im Netz.</p>


            <p>Die Mehrheit der Programmodule ermöglicht die Erstellung von neuen Aufgaben und Übungen. Diese bestehen meistens aus Bildvorlagen und/ oder Texten, so dass die therapeutische Arbeit den Interessen und der Lebensgeschichte des Übenden angepasst werden kann.Wer über die Antriebsschwierigkeiten der neurologischen Patienten Bescheid weißt, der wird diese Möglichkeit sicher schätzen. Im Programmumfang sind mehr als 500 fertige Übungen und die Erstellung neuer wird durch Neurop - Editor unterstützt.</p>
            <p>Alle Programmodule bieten automatisch grafische Darstellungen der Ergebnisse(Zeit-, Fehler -, Mengenanalysen).</p>
            <p>Spezielle Programmodule(Semantisches Differential nach Osgood, Reihenfolgen -Gedächtnisaufgabe nach Shimamura) bieten komplexe statistische Auswertungen(Faktorenanalyse, Rang-Korrelationen). In der Batterie sind mehrere bekannte neuropsychologische Testverfahren integriert(T.v.HANOI, T.v.LONDON, IGT, BART, DOTS, STOP - SIGNAL - TEST, NATE und weitere) und eigene validierte Testverfahren(ABT, NUQ, SAT66, FLASH und weitere) mit den Normwerten.</p>
            <p>Beachten Sie bitte auch die HNP/ THNP und HOME-NEUROP Varianten des Programms NP3 für eine supervidierte und nicht supervidierte neuropsychologische Therapie in häuslicher Umgebung. </p>
        </article>
    </section>
</div>



@*<div class="col-sm-3">
    <aside class="pr-5">
        <figure class="figure">
            <img class="img-fluid" src="~/Content/images/samco84x84.jpg" alt="samco" />
            <figcaption class="figure-caption text-center">Samco</figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut vulputate arcu nec ante maximus sagittis. </p>
        <figure class="figure">
            <img class="img-fluid" src="~/Content/images/WAIGL.BMP" alt="some pic" />
            <figcaption class="figure-caption text-center">Popis obrázku</figcaption>
        </figure>
        <p>Curabitur porta arcu fringilla sem dictum convallis. </p>
    </aside>
</div>
<div class="col-sm-9">
    <section>
        <article>
            <p><strong>NP3</strong> ist eine mehrsprachige Sammlung von diagnostischen und therapeutischen Programmen(im klinischen Einsatz seit 1993). Zur Zeit liegen neben der deutschen noch englische, slowakische und tschechische Version vor.</p>
            <p>Die Programme benutzen externe Aufgabendateien und ermöglichen so ein hohes Grad an Flexibilität.Die vorhandene Aufgaben(ca.700) spiegeln die mehr als zwanzigjährige klinische Erfahrung bei der Diagnostik und Therapie der neurologisch erkrankten Patienten. Die Beschreibung beinhaltet in der Regel die Zielsetzung des Programms, erklärt die Bedienung, und erklärt die Beispiele zur Erstellung neuer Aufgaben für das jeweilige Programm.</p>
            <p>NP3 speichert die Ergebnisse lokal oder im Netz.</p>


            <p>Die Mehrheit der Programmodule ermöglicht die Erstellung von neuen Aufgaben und Übungen. Diese bestehen meistens aus Bildvorlagen und/ oder Texten, so dass die therapeutische Arbeit den Interessen und der Lebensgeschichte des Übenden angepasst werden kann.Wer über die Antriebsschwierigkeiten der neurologischen Patienten Bescheid weißt, der wird diese Möglichkeit sicher schätzen. Im Programmumfang sind mehr als 500 fertige Übungen und die Erstellung neuer wird durch Neurop - Editor unterstützt.</p>
            <p>Alle Programmodule bieten automatisch grafische Darstellungen der Ergebnisse(Zeit-, Fehler -, Mengenanalysen).</p>
            <p>Spezielle Programmodule(Semantisches Differential nach Osgood, Reihenfolgen -Gedächtnisaufgabe nach Shimamura) bieten komplexe statistische Auswertungen(Faktorenanalyse, Rang-Korrelationen). In der Batterie sind mehrere bekannte neuropsychologische Testverfahren integriert(T.v.HANOI, T.v.LONDON, IGT, BART, DOTS, STOP - SIGNAL - TEST, NATE und weitere) und eigene validierte Testverfahren(ABT, NUQ, SAT66, FLASH und weitere) mit den Normwerten.</p>
            <p>Beachten Sie bitte auch die HNP/ THNP und HOME-NEUROP Varianten des Programms NP3 für eine supervidierte und nicht supervidierte neuropsychologische Therapie in häuslicher Umgebung. </p>
        </article>
    </section>
</div>*@



