﻿
@{
    var showFunctions = true; //Neurop3.Common.AppSetting.GetSetting<int>("showFunctions") == 1;
    var onlyTherapist = Neurop3.Infrastructure.Authorization.AuthorizeWithOnly(User, Neurop3.Common.RoleEnum.Therapist);

    Layout = null;
}


<article class="homepage_tile">
    @if (onlyTherapist)
    {
        <h6>@Resources.Global.terapeut</h6>
    }

    @if (showFunctions)
    {
        <div id="therapist_functions">
            <h6>@Resources.Global.funkce</h6>
            @Html.ActionLink(Resources.Global.sprava_pacientu, "PatientList", "User", new { }, new { @class = "btn btn-primary btn-sm m-2" })
            @Html.ActionLink(Resources.Global.sprava_programu, "List", "Program", new { }, new { @class = "btn btn-primary btn-sm m-2" })
            @*@Html.ActionLink(Resources.Global.odevzdane_ulohy, "Index", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-sm m-2" })*@
            @Html.ActionLink(Resources.Global.sprava_uloh, "List", "Exercise", new { }, new { @class = "btn btn-primary btn-sm m-2" })
            @*@Html.ActionLink(Resources.Global.vytvor_ulohu, "Create", "Exercise", new { }, new { @class = "btn btn-primary btn-sm m-2" })*@
            @Html.ActionLink(Resources.Global.sprava_baliku, "List", "Package", new { }, new { @class = "btn btn-primary btn-sm m-2" })
            @*@Html.ActionLink(Resources.Global.vytvorit_balik, "Create", "Package", new { }, new { @class = "btn btn-primary btn-sm m-2" })*@
            @Html.ActionLink(Resources.Global.analyza_vysledku, "Index", "Analysis", new { }, new { @class = "btn btn-primary btn-sm m-2" })
        </div>
    }
    <div id="PackageAssignByTherapist"></div>
</article>

<script>

    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: Router.action("Package", "GetPackageAssignByTherapist"),
            data: {

            },
            success: function (data) {
                $("#PackageAssignByTherapist").hide()
                $("#PackageAssignByTherapist").html(data).fadeIn(1000, "swing");
            }
        });
    });
</script>