﻿@{
    var showFunctions = true; //Neurop3.Common.AppSetting.GetSetting<int>("showFunctions") == 1;
    var onlyPatient = Neurop3.Infrastructure.Authorization.AuthorizeWithOnly(User, Neurop3.Common.RoleEnum.Patient);
    Layout = null;
}

<article class="homepage_tile">
    @if (!onlyPatient)
    {
        <h6>@Resources.Global.pacient</h6>
    }

    @if (showFunctions)
    {
        <div class="col-12">
            <div id="patient_functions">
                <h6>@Resources.Global.funkce</h6>
                @Html.ActionLink(Resources.Global.moje_baliky, "PatientPackages", "Package", new { }, new { @class = "btn btn-primary btn-sm m-2" })
                @Html.ActionLink(Resources.Global.zpravy_od_terapeuta, "ReportList", "User", new { }, new { @class = "btn btn-primary btn-sm m-2" })
            </div>
        </div>
    }
    <div id="PackageAssignToPatient"></div>
</article>

<script>

    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: Router.action("Package", "GetPackageAssignToPatient"),
            data: {

            },
            success: function (data) {
                $("#PackageAssignToPatient").hide()
                $("#PackageAssignToPatient").html(data).fadeIn(1000, "swing");
            }
        });
    });
</script>

