﻿@model Neurop3.Models.ViewModels.Test.RunTestViewModel





@if (Model != null && Model.IsValid)
{
    <div class="container-fluid">


        <section>
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 text-left">
                    <h2>@Model.Name</h2>
                </div>
                @if (Model.Demo)
                {
                    <div class="form-group col-sm-12 col-md-6 text-right">
                        <button class="btn btn-success" id="endDemo">@Resources.Global.konec</button>
                    </div>
                }
                else
                {
                    <div class="form-group col-sm-12 col-md-6 text-right">
                        <button class="btn btn-success" id="endPrototype">@Resources.Global.konec</button>
                    </div>
                }
            </div>
        </section>

        <section>
            <div class="form-group">
                @using (Html.BeginForm("Prototype", "Test", FormMethod.Post, new { id = "ExerciseSubmit" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.InputParameters)
                    @Html.HiddenFor(m => m.OutputParameters)
                    @Html.HiddenFor(m => m.ExerciseAssignId)
                    @Html.HiddenFor(m => m.PathToScript)
                    @Html.HiddenFor(m => m.Name)

                    @Html.HiddenFor(m => m.Finished)
                    @Html.HiddenFor(m => m.PackageId)
                    @Html.HiddenFor(m => m.Order)
                    @Html.HiddenFor(m => m.Demo)

                    <canvas id="mCanvas" class="col-md-10 offset-md-1 col-sm-12"></canvas> @*width="800" height="450"*@
                }
            </div>
        </section>
    </div>
}

<!-- show error modal -->
<div class="modal fade" id="showErrorModal" tabindex="-1" role="dialog" aria-labelledby="showModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showModalTitle">@Resources.Global.chyba</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" ">
                <div class="form-group">
                    @Model.IsValidMessage
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="endPrototype" data-dismiss="modal">@Resources.Global.zavrit</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        loadJs();
    })

    $("#showErrorModal").on("hidden.bs.modal", function () {
        var url = '@Url.Action("Manage", "Exercise", new { Id = "REPLACEME"})';
        var url2 = url.replace('REPLACEME', @Model.ExerciseAssignId);
        window.location.href = url2;
        @*var url = '@Url.Action("Index", "Home")';
        $(location).attr('href', url);*@
    });

    $("#endPrototype").on("click", function (event) {
        var url = '@Url.Action("Manage", "Exercise", new { Id = "REPLACEME"})';
        var url2 = url.replace('REPLACEME', @Model.ExerciseAssignId);
        window.location.href = url2;
    });

    $("#endDemo").on("click", function (event) {
        var url = '@Url.Action("Index", "Home")';
        $(location).attr('href', url);
    });

    function loadJs() {
        if ('@Model.IsValid' == 'True') {
            $.getScript('@Model.PathToScript')
                .done(function (script, textStatus) {
                    console.log(textStatus);
                    runExercise('@Model.InputParameters');
                })
                .fail(function (jqxhr, settings, exception) {
                    $("div.log").text("Triggered ajaxError handler.");
                });
        }
        else {
            $("#showErrorModal").modal('show');
        }
    };


    //$(document).ready(function () {
    //    debugger;

    //});
</script>