﻿@model Neurop3.Models.ViewModels.Program.ProgramRecipeViewModel
@using Neurop3.Common;
@using Neurop3.GlobalListValues.Enums;

@{
    Guid g = Guid.NewGuid();
    var list = (new DataTypeRecipeEnum()).ToSelectListOrderId();
    //list = list.Where(x => x.Text != DataTypeRecipeEnum.SingleSelect.ToString() || x.Text != DataTypeRecipeEnum.SingleSelect.ToString()).ToSelectListOrderId();
    var editable = ViewBag.editable != null ? (bool)ViewBag.editable : true;
    Layout = null;

    var titleTranslationName = Resources.Global.nazev_radky + ": " + Model.TranslationNameViewModel.LocalizedTranslation;
    var titleTranslationDescription = Resources.Global.popis_radky + ": " + Model.TranslationDescriptionViewModel.LocalizedTranslation;

    var nameStyle = editable ? "col-md-3" : "col-md-4";
}


<div class="recipeRowDiv">

    @using (Html.BeginCollectionItem("ProgramRecipeViewModels"))
    {
        <input type="hidden" class="guid" value="@g" />
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowNumber)
        @Html.HiddenFor(model => model.ProgramId);

        <div class="row">

            <div class="col-md-12 form-row">
                <div class="@nameStyle">
                    @*@Html.LabelFor(model => model.TranslationNameViewModel)*@
                    @Html.Hidden("RowNameIdName", Model != null && Model.TranslationNameViewModel != null && !string.IsNullOrEmpty(Model.TranslationNameViewModel.LocalizedTranslation) ? Model.TranslationNameViewModel.LocalizedTranslation : "", new { @id = "RowNameIdName-" + g })
                    @Html.TextBoxFor(model => model.TranslationNameViewModel.Id, editable ? (object)new { @id = "RowNameId-" + g, @title = titleTranslationName  } : (object)new { @id = "RowNameId-" + g, @disabled = "disabled", @title = @titleTranslationName  })
                </div>
                <div class="col-md-4">
                    @*@Html.LabelFor(model => model.TranslationDescriptionViewModel)*@
                    @Html.Hidden("RowDescriptionIdName", Model != null && Model.TranslationDescriptionViewModel != null && !string.IsNullOrEmpty(Model.TranslationDescriptionViewModel.LocalizedTranslation) ? Model.TranslationDescriptionViewModel.LocalizedTranslation : "", new { @id = "RowDescriptionIdName-" + g })
                    @Html.TextBoxFor(model => model.TranslationDescriptionViewModel.Id, editable ? (object)new { @id = "RowDescriptionId-" + g, @title = @titleTranslationDescription} : (object)new { @id = "RowDescriptionId-" + g, @disabled = "disabled", @title = titleTranslationDescription })
                </div>
                <div class="col-md-2">
                    @*@Html.LabelFor(model => model.DataTypeId)*@
                    @Html.DropDownListFor(model => model.DataTypeId, list, editable ? (object)new { @id = "ProgramTypeIdSelect-" + g, @title = Resources.Global.typ_dat } : (object)new { @id = "ProgramTypeIdSelect-" + g, @disabled = "disabled", @title = Resources.Global.typ_dat })
                </div>
                <div class="col-md-2">
                    @*@Html.LabelFor(model => model.Value)*@
                    @Html.TextBoxFor(model => model.Value, editable ? (object)new { @id = "ProgramValue-" + g, @class = "form-control-sm form-control", @title = Resources.Global.hodnota } : (object)new { @id = "ProgramValue-" + g, @class = "form-control-sm form-control ", @disabled = "disabled", @title = Resources.Global.hodnota })
                    @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                </div>
                @if (editable)
                {
                    <div class="col-md-1">
                        @Html.Label(Resources.Global.smazat, new { @class= "removeRecipeRowBtn btn btn-danger btn-sm" })
                    </div>
                }
            </div>
        </div>
    }
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $("#RowNameId-@g").select2({
            language: "cs",
            width: "100%",
            allowClear: false,
            minimumInputLength: 1,
            multiple: false,
            ajax: {
                dataType: "json",
                type: "POST",
                url: Router.action("Translation", "GetTranslations"),
                data: function (searchTerm) {
                    return { query: searchTerm };
                },
                results: function (data) {
                    return { results: data };
                }
            },
            formatResult: function (item) {
                return item.name;
            },
            formatSelection: function (item) {
                return item.name;
            }
        });

        if ($("#RowNameId-@g").val()) {
            $("#RowNameId-@g").select2('data', { id: $("#RowNameId-@g").val(), name: $("#RowNameIdName-@g").val() });
        }

        $("#RowDescriptionId-@g").select2({
            language: "cs",
            width: "100%",
            allowClear: false,
            minimumInputLength: 1,
            multiple: false,
            ajax: {
                dataType: "json",
                type: "POST",
                url: Router.action("Translation", "GetTranslations"),
                data: function (searchTerm) {
                    return { query: searchTerm };
                },
                results: function (data) {
                    return { results: data };
                }
            },
            formatResult: function (item) {
                return item.name;
            },
            formatSelection: function (item) {
                return item.name;
            }
        });

        if ($("#RowDescriptionId-@g").val()) {
            $("#RowDescriptionId-@g").select2('data', { id: $("#RowDescriptionId-@g").val(), name: $("#RowDescriptionIdName-@g").val() });
        }


        $("#ProgramTypeIdSelect-@g").select2({
            language: "cs",
            width: "100%",
            minimumResultsForSearch: Infinity
        });

        setProgramValue();

        $("#ProgramTypeIdSelect-@g").change(setProgramValue);

        function setProgramValue() {
            var value = $("#ProgramTypeIdSelect-@g").val();
            if (value == 4 || value ==5) {
                document.getElementById("ProgramValue-@g").disabled = false;
            }
            else {
                document.getElementById("ProgramValue-@g").disabled = true;
                document.getElementById("ProgramValue-@g").value = "";
            }
        }
    });
</script>