﻿@model IEnumerable<Neurop3.Models.ViewModels.Program.ProgramViewModel>
@using Microsoft.AspNet.Identity;
@using Neurop3.Common;

@{
    Layout = null;
    var totalRecords = (int)ViewBag.totalRecords;
    var rowStartsAt = (int)ViewBag.rowStartsAt;
    var currentPage = ViewBag.currentPage != null ? (int)ViewBag.currentPage : 1;

    var showAuthorName = Neurop3.Infrastructure.Authorization.Authorize(HttpContext.Current.User, RoleEnum.Admin);

    var onlyTherapist = Neurop3.Infrastructure.Authorization.AuthorizeWithOnly(HttpContext.Current.User, Neurop3.Common.RoleEnum.Therapist);


}

<input type="hidden" id="totalRecords" value="@totalRecords" />
<input type="hidden" id="currentPage" value="@currentPage" />

<table class="table table-sm table-responsive-sm table-hover">
    <tr>
        <th class="text-center">
            #
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @if (showAuthorName)
        {
            <th class="text-center">
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
        }
        <th class="text-center">
            @Resources.Global.operace
        </th>
    </tr>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            var isAuthor = HttpContext.Current.User.Identity.GetUserId().CompareTo(item.AuthorId) == 0;

            <tr>
                <td class="text-center">@(rowStartsAt++)</td>
                <td class="text-center">
                    @Html.DisplayFor(m => item.Name)
                </td>
                @if (showAuthorName)
                {
                    <td class="text-center">
                        @Html.DisplayFor(m => item.Author.FullName)
                    </td>
                }
                <td class="text-center">
                    @if (onlyTherapist)
                    {
                        @Html.ActionLink(Resources.Global.nahled, "Manage", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })

                    }
                    else
                    {
                        if (item.IsActive)
                        {
                            if (item.IsUsed)
                            {
                                @Html.ActionLink(Resources.Global.nahled, "Manage", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                                @Html.ActionLink(Resources.Global.duplikovat, "Duplicate", new { id = item.Id }, new { @class = "btn btn-warning btn-sm ml-md-2", onclick = "return confirm('Opravdu chcete duplikovat tento program?');" })
                            }
                            else
                            {
                                if (isAuthor)
                                {
                                    @Html.ActionLink(Resources.Global.editace, "Manage", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" });
                                    @Html.ActionLink(Resources.Global.smazat, "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm ml-md-2", onclick = "return confirm('Opravdu chcete smazat tento program?');" })
                                    @*@Html.ActionLink(Resources.Global.skryt, "Deactivate", new { id = item.Id }, new { @class = "btn btn-info btn-sm ml-md-2", onclick = "return confirm('Opravdu chcete deaktivovat tento program?');" })*@
                                }
                                else
                                {
                                    @Html.Label(Resources.Global.bez_pristupu, new { @class = "btn btn-sm btn-info" })
                                }
                            }
                        }
                        else
                        {
                            if (isAuthor)
                            {
                                @Html.ActionLink(Resources.Global.smazat, "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm ml-md-2", onclick = "return confirm('Opravdu chcete smazat tento program?');" })
                                @Html.ActionLink(Resources.Global.obnovit, "Activate", new { @id = item.Id }, new { @class = "btn btn-info btn-sm", onclick = "return confirm('Opravdu chcete obnovit tento program?');" })
                            }
                            else
                            {
                                @Html.Label(Resources.Global.bez_pristupu, new { @class = "btn btn-sm btn-info" })
                            }
                        }
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="text-center">
            @{ var spanValue = showAuthorName ? 4 : 3;}
            <td colspan=@spanValue>@Resources.Global.zadne_zaznamy_nenalezeny</td>
        </tr>
    }

</table>
