﻿@model Neurop3.Models.Administration.Comment
@using Microsoft.AspNet.Identity;
@{
    var sa = User.Identity.Name.CompareTo("skala.neurop.sa@gmail.com") == 0;
    var editable = User.Identity.GetUserId().CompareTo(Model.UserId) == 0;
}


<div class="container-fluid">

    <section>
        <div class="form-row">
            <div class="form-group col-md-6 col-sm-12">
                <h4>@Resources.Global.uprava_pripominky</h4>
            </div>
            <div class="form-group col-md-6 col-sm-12 text-md-right">
                @Html.ActionLink(Resources.Global.seznam_pripominek, "CommentList", new { }, new { @class = "btn btn-success btn-sm" })
            </div>
            <hr />
        </div>
    </section>
    <section class="form-group">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Type)

            <div class="form-row my-row-mt-2">
                @Html.LabelFor(model => model.TimeUtc, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.TimeUtc, new { @class = "form-control col-md-10", @readonly = "readonly" })
                @*@Html.DisplayFor(model => model.TimeUtc, new { @class = "form-control col-md-10", @readonly = "readonly" })*@
                @Html.ValidationMessageFor(model => model.TimeUtc, "", new { @class = "text-danger" })
            </div>

            <div class="form-row my-row-mt-2">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-10", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-row my-row-mt-2">
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.TextAreaFor(model => model.Message, editable ? (object)new { @rows = "5", @class = "form-control col-md-10" } : (object)new { @rows = "5", @class = "form-control col-md-10", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>

            <div class="form-row my-row-mt-2">
                @Html.LabelFor(model => model.IsShown, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.CheckBoxFor(model => model.IsShown, sa ? (object)new { @class = "form-control col-md-1" } : (object)new { @class = "form-control col-md-1", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.IsShown, "", new { @class = "text-danger" })
            </div>

            <div class="form-row my-row-mt-2">
                @Html.LabelFor(model => model.IsDone, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.CheckBoxFor(model => model.IsDone, sa ? (object)new { @class = "form-control col-md-1" } : (object)new { @class = "form-control col-md-1", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.IsDone, "", new { @class = "text-danger" })
            </div>

            if (sa || editable)
            {
                <div class="form-group col-12 text-center">
                    <input type="submit" value="@Resources.Global.ulozit" class="btn btn-primary" />
                </div>
            }
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*<script src="~/Scripts/myScripts/DateTimeValidator.js"></script>*@