﻿@model Neurop3.Models.Administration.Comment
@using Neurop3.GlobalListValues.Enums;

@{
    var list = (new Neurop3.Common.CommentType()).ToSelectList();
}


<div class="container-fluid">

    <section class="form-row">

        <div class="form-group col-sm-12 col-md-6">
            <h4>@Resources.Global.vytvorit_pripominku</h4>
        </div>
        @*<div class="form-group col-sm-12 col-md-6 text-md-right">
                @Html.ActionLink(Resources.Global.vytvorit_pripominku, "CommentCreate", new { }, new { @class = "btn btn-success btn-sm" })
            </div>*@
        <hr />
    </section>

    <section>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.UserId)


            <div class="form-row">

                <div class="form-group col-sm-12 col-md-8">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-sm-12 col-md-4">
                    @Html.LabelFor(model => model.Type)
                    @Html.DropDownListFor(model => model.Type, list, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-12">
                    @Html.LabelFor(model => model.Message)
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-12 text-center">
                    <input type="submit" value="@Resources.Global.zalozit" class="btn btn-primary" />
                </div>
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}