﻿@model IEnumerable<Neurop3.Models.Administration.Comment>
@using Neurop3.GlobalListValues.Enums;
@using Microsoft.AspNet.Identity;

@{
    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;
    var currentUserId = User.Identity.GetUserId();
}



<div class="container-fluid">

    <section class="form-row">

        @if (tooltip)
        {
            <div class="form-group col-12">
                <span class="fa fa-info-circle fa-lg" title="Editor do kterého může každý přihlášený uživatel aplikace založit novou připomínku. Připomínka by se měla týkat především nestandardního chování aplikace (chyby) nebo návrhu na její vylepšení. Vývojář na základě těchto připomínek chyby opraví, případně doplní danou funkcionalitu."></span>
            </div>
        }

        <div class="form-group col-sm-12 col-md-6">
            <h4>@Resources.Global.seznam_pripominek</h4>
        </div>
        <div class="form-group col-sm-12 col-md-6 text-md-right">
            @Html.ActionLink(Resources.Global.vytvorit_pripominku, "CommentCreate", new { }, new { @class = "btn btn-success btn-sm" })
        </div>
        <hr />
    </section>


    <section class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.TimeUtc)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.IsShown)
                    </th>
                    <th class="text-center">
                        @Resources.Global.operace
                    </th>
                </tr>
            </thead>

            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="text-center">
                                @{
                                    var type = ((Neurop3.Common.CommentType)item.Type).GetDescriptionString();
                                }
                                @type
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.TimeUtc)
                            </td>
                            <td class="text-center">
                                @{ var isShown = item.IsShown ? Resources.Global.ano : Resources.Global.ne; }
                                @isShown
                            </td>
                            <td class="text-center">
                                @if (item.UserId.CompareTo(currentUserId) == 0)
                                {
                                    @Html.ActionLink(Resources.Global.editace, "CommentManage", "Home", new { @id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                                }
                                else
                                {
                                    @Html.ActionLink(Resources.Global.nahled, "CommentManage", "Home", new { @id = item.Id }, new { @class = "btn btn-success btn-sm" })
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">@Resources.Global.zadne_zaznamy_nenalezeny</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>

@*<script>

        $("#ShowOnlyActivePrograms").click(function () {
            var checked = $(this).is(':checked');
            ProgramFilter(checked);
        });

    </script>*@