﻿<section>
    <h4>Kontakt</h4>
    <hr />
    <address>
        Staudachber 2<br />
        Bernried, D94505<br />
        <abbr title="Phone">Phone:</abbr> 425.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:skalap@students.zcu.cz">skalap@students.zcu.cz</a><br />
        <strong>E-mail:</strong> <a href="mailto:samco@neurop.de">samco@neurop.de</a><br />
    </address>
</section>