﻿@model Neurop3.Models.Administration.ChangeLog

@{
    ViewBag.Title = "CreateChangeLog";
}


<div class="container-fluid">

    <section>
        <div class="form-group col-12">
            <h4>CreateChangeLog</h4>
            <hr />
        </div>
    </section>

    <section>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.TimeUtc)
            @Html.HiddenFor(m => m.Version)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Message)
                @Html.TextAreaFor(model => model.Message, new { @rows = 3, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-12 text-center">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}