﻿@model IEnumerable<Neurop3.Models.Administration.ErrorLog>

@{
    ViewBag.Title = "Errors";
}

<h2>Errors</h2>

<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.TimeUtc)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th class="text-center">
            @Resources.Global.operace
        </th>
        @*<th class="text-center">
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.StackTrace)
            </th>*@

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.TimeUtc)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm m-sm-1 showError" value='@item.ErrorId'>
                    @Resources.Global.zobrazit
                </button>
            </td>

            @*<td class="text-center">
                    <span class="fa fa-info-circle fa-lg" title="@item.Message"> </span>
                </td>
                <td class="text-center">
                    <span class="fa fa-info-circle fa-lg" title="@item.StackTrace"> </span>
                </td>*@


        </tr>
    }

</table>

<!-- show Error modal -->
<div class="modal fade" id="showErrorModal" tabindex="-1" role="dialog" aria-labelledby="showModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showModalTitle">@Resources.Global.chyba</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="showErrorModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(".showError").on("click", function (event) {
        var errorId = $(this).attr("value");
        $.ajax({
            cache: false,
            type: "POST",
            //async: false,
            url: Router.action("Home", "ShowError"),
            data: {
                errorId: errorId
            },
            success: function (data) {
                $("#showErrorModalBody").html(data);
                $("#showErrorModal").modal('show');
            }
        });

    });
</script>
