﻿@using Neurop3.Common;

@{
    var tooltip = AppSetting.GetSetting<int>("editorTooltips") == 1;
    var patientFeedback = ViewBag.feedBack != null ? (Int32)ViewBag.feedBack : 0;
    var packageId = ViewBag.packageId != null ? (Int32)ViewBag.packageId : 0;
}

<div class="container-fluid" id="helpers">

    @if (tooltip)
    {
        <div class="row">
            <span class="fa fa-info-circle fa-lg m-2" title="Toto je homepage, do které se bude dynamicky načítat obsah podle přihlášeného uživatele a jeho role/rolí. Obsah domovské stránky je třeba prodiskutovat, může mít dlaždicový charakter."></span>
        </div>
    }

    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            if (Neurop3.Infrastructure.Authorization.AuthorizeAll(User, new RoleEnum[] { RoleEnum.Superadmin, RoleEnum.Admin }))
            {
                @Html.Partial("EditorTemplates/_IndexSuperAdmin")
            }
            else
            {
                if (Neurop3.Infrastructure.Authorization.Authorize(User, RoleEnum.Superadmin))
                {
                    @Html.Partial("EditorTemplates/_IndexSuperAdmin")
                }
                if (Neurop3.Infrastructure.Authorization.Authorize(User, RoleEnum.Admin))
                {
                    @Html.Partial("EditorTemplates/_IndexAdmin")
                }
            }

            if (Neurop3.Infrastructure.Authorization.AuthorizeAll(User, new RoleEnum[] { RoleEnum.Super_therapist, RoleEnum.Therapist }))
            {
                @Html.Partial("EditorTemplates/_IndexSuperTherapist")
            }
            else
            {
                if (Neurop3.Infrastructure.Authorization.Authorize(User, RoleEnum.Super_therapist))
                {
                    @Html.Partial("EditorTemplates/_IndexSuperTherapist")
                }
                if (Neurop3.Infrastructure.Authorization.Authorize(User, RoleEnum.Therapist))
                {
                    @Html.Partial("EditorTemplates/_IndexTherapist")
                }
            }

            if (Neurop3.Infrastructure.Authorization.Authorize(User, RoleEnum.Patient))
            {
                @Html.Partial("EditorTemplates/_IndexPatient")
            }
            if (Neurop3.Infrastructure.Authorization.Authorize(User, RoleEnum.Unassigned))
            {
                @Html.Partial("EditorTemplates/_IndexUnassign")
            }
        }
        else
        {
            @Html.Partial("EditorTemplates/_IndexUnregister")
        }
    </div>
</div>

<!-- Patient Feedback Modal-->
<div class="modal fade" id="patientFeedbackModal" tabindex="-1" role="dialog" aria-labelledby="showPatientFeedbackModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showPatientFeedbackModalTitle">@Resources.Global.ohodnoceni_cviceni</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/User/EditorTemplates/_PatientFeedback.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button id="savePatientFeedbackButton" type="button" class="btn btn-danger">@Resources.Global.ulozit</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        if (@patientFeedback == 1 && @packageId != 0) {
            $('#patientFeedbackModal').modal('show');
        }
    });

    $('#savePatientFeedbackButton').on('click', function (event) {
        $.ajax({
            cache: false,
            type: "POST",
            dataType: "json",
            //async: false,
            url: Router.action("User", "AddPatientFeedback"),
            data: {
                difficulty: $("#Difficulty").val(),
                exerciseAmount: $("#ExerciseAmount").val(),
                note: $("#Note").val(),
                packageId: @packageId,
            },
            success: function (data) {
                if (data.success == true) {
                    $("#patientFeedbackModal").modal('hide');
                    var url = '@Url.Action("Index", "Home")';
                    window.location.href = url;
                }
            }
        });
    });




</script>
