﻿@model IEnumerable<Neurop3.Models.Administration.LoginLog>


<h2>LoginLogs</h2>

<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.TimeUtc)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.TimeUtc)
        </td>
    </tr>
}

</table>
