﻿@model Neurop3.Models.Administration.ErrorLog

@{ 
    Layout = null;
}
<div class="form-row">
    <div class="form-group col-sm-12 col-md-6">
        @Html.LabelFor(model => model.User)
        @Html.TextBoxFor(model => model.User, new { @class = "form-control" })
    </div>
    <div class="form-group col-sm-12 col-md-6">
        @Html.LabelFor(model => model.TimeUtc)
        @Html.TextBoxFor(model => model.TimeUtc, new { @class = "form-control" })
    </div>
    <div class="form-group col-sm-12 col-md-6">
        @Html.LabelFor(model => model.Source)
        @Html.TextBoxFor(model => model.Source, new { @class = "form-control" })
    </div>

    <div class="form-group col-sm-12 col-md-6">
        @Html.LabelFor(model => model.Type)
        @Html.TextBoxFor(model => model.Type, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Message)
    @Html.TextAreaFor(model => model.Message, new { @rows = 3, @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.StackTrace)
    @Html.TextAreaFor(model => model.StackTrace, new { @rows = 8, @class = "form-control" })
</div>

@*<div class="form-group">
    @Html.LabelFor(model => model.HResult)
    @Html.TextBoxFor(model => model.HResult, new { @class = "form-control"  })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Stringify)
    @Html.TextAreaFor(model => model.Stringify, new {@rows = 3,  @class = "form-control"  })
</div>*@

