﻿@model Neurop3.Models.ViewModels.User.ListViewModel

@{
    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;
}


<div class="container-fluid">
    @if (tooltip)
    {
        <div class="row m-1">
            <span class="fa fa-info-circle fa-lg" title="Editor pro správu uživatelů, který je určený pro superadministrátor nebo administrátora. Zde je přihlášenému uživateli umožněno nastavovat všem uživatelům napříč aplikací jejich uživatelské role. SuperAdministrátor má automaticky přidělené všech ostatní role a v celém systému musí být alespoň jediný uživatel s rolí superadministrátor. Tato vlastnost je programově zajištěna.">&nbsp;</span>
        </div>
    }
    <div class="row">
        <div class="col-md-8">
            <h4>@Resources.Global.sprava_uzivatelu</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="input-group">
                <input type="text" id="searchInput" class="form-control" placeholder="@Resources.Global.hledat_uzivatele">
                <div class="input-group-append">
                    <span class="input-group-text fa fa-search"></span>
                </div>
            </div>
            @*@Html.TextBox("searchInput", "", new { @placeholder = Resources.Global.hledat })*@
        </div>
    </div>
    <hr />
    <div class="row" id="usersTableWrapper">
        @Html.EditorFor(m => Model.UserVMs, "UserListTable", new { })
    </div>
</div>

<script>

    $("#searchInput").on("keyup", function (event) {

        //if (event.keyCode === 13) {
        $.ajax({
            type: "POST",
            url: Router.action("User", "ListFilter"),
            data: {
                input: $("#searchInput").val()
            },
            success: function (data) {
                $("#usersTableWrapper").html(data);
            }
        });
        //}
    });
</script>