﻿@model Neurop3.Models.ViewModels.User.ManageViewModel

@{
    var editable = Model.IsEditable;
    var title = editable ? Resources.Global.editace_uzivatele : Resources.Global.nahled_uzivatele;
}


<div class="container-fluid">
    <section class="form-row">
        <div class="form-group col-12">
            <h4>@title</h4>
            <hr />
        </div>
    </section>
    <section>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserVM.Id)
            @Html.HiddenFor(model => model.UserVM.IsEditable)

            <ul class="nav nav-tabs" id="userTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="personal_info_tab" data-toggle="tab" href="#personal_info" role="tab" aria-controls="personal_info" aria-selected="true">@Resources.Global.osobni_informace</a>
                </li>
            </ul>

            <div class="tab-content mt-2" id="userTabContent">
                <div id="personal_info" class="tab-pane fade show active" role="tabpanel" aria-labelledby="personal_info_tab">
                    <div class="form-row">

                        <div class="form-group col-md-6 col-sm-12">
                            @Html.LabelFor(model => model.UserVM.FirstName)
                            @Html.TextBoxFor(model => model.UserVM.FirstName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            @Html.LabelFor(model => model.UserVM.LastName)
                            @Html.TextBoxFor(model => model.UserVM.LastName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            @Html.LabelFor(model => model.UserVM.Email)
                            @Html.TextBoxFor(model => model.UserVM.Email, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            @Html.LabelFor(model => model.UserVM.PhoneNumber)
                            @Html.TextBoxFor(model => model.UserVM.PhoneNumber, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserVM.RoleIds)
                        @Html.HiddenFor(model => model.UserVM.RoleIds)
                    </div>

                    @*<div class="row form-row mt-md-2">
                            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.UserName, Model.IsEditable ? (object) new { } : (object) new { @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    @if (editable)
                    {
                        <div class="form-group col-12 text-center">
                            <input type="submit" value=@Resources.Global.ulozit class="btn btn-success" />
                        </div>
                    }


                </div>
            </div>
        }
    </section>
</div>


<script src="~/Scripts/ViewScripts/User/_Manage.js"></script>

<script>

    var userManage = new UserManage();
    userManage.userId = '@Model.UserVM.Id';
    userManage.editable = '@editable' == 'True';
    userManage.Init();

    @*$("#Roles").select2({
        width: "100%",
        allowClear: true,
        //multiple: true,
        minimumInputLength: -1,
    });


    var data = [];


    @if(Model.Roles != null && Model.Roles.Any())
    {
        foreach(var role in Model.Roles)
        {
            @: data.push({ id: '@role.RoleId', name: '@role.ToString()' });
        }
            @: $("#Roles").select2('data', data);
    }*@
</script>