﻿@model Neurop3.Models.ViewModels.User.PatientDetailViewModel

@using Neurop3.Models.ViewModels.User;
@using Microsoft.AspNet.Identity;
@using Neurop3.Common;
@using Neurop3.GlobalListValues.Enums;
@{
    var currentUserId = HttpContext.Current.User.Identity.GetUserId();

    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;

    var statusNew = Neurop3.Common.ExerciseStatusEnum.Novy.GetHashCode();
    var statusInProgress = Neurop3.Common.ExerciseStatusEnum.Probihajici.GetHashCode();
    var statusFinished = Neurop3.Common.ExerciseStatusEnum.Dokoncena.GetHashCode();
    var statusChecked = Neurop3.Common.ExerciseStatusEnum.Zkontrolovana.GetHashCode();
    var statusClosed = Neurop3.Common.ExerciseStatusEnum.Uzavrena.GetHashCode();

    var count = 0;

    var selectTab = ViewBag.selectTab; //"#reports";


    var gender = Model.PatientDataVM != null ? ((Gender)Model.PatientDataVM.Gender).GetDescriptionString() : "";
    var socialStatus = Model.PatientDataVM != null ? ((SocialStatus)Model.PatientDataVM.SocialStatus).GetDescriptionString() : "";

}



<div class="container-fluid">

    <section>
        <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
                <h4>@Resources.Global.detail_pacienta</h4>
            </div>
            <div class="form-group col-sm-12 col-md-6 text-sm-left text-md-right">
                @Html.ActionLink(Resources.Global.seznam_pacientu, "PatientList", null, new { @class = "btn btn-success btn-sm" })
            </div>
            
        </div>
    </section>
            <hr />
    <section>

        <ul class="nav nav-pills nav" id="PatientDetailTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="basicInformationTab" data-toggle="tab" href="#basicInformation" role="tab" aria-controls="basicInformation" aria-selected="true">@Resources.Global.zakladni_informace</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="exercisesTab" data-toggle="tab" href="#exercises" role="tab" aria-controls="exercises" aria-selected="false">@Resources.Global.ulohy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reportsTab" data-toggle="tab" href="#reports" role="tab" aria-controls="reports" aria-selected="false">@Resources.Global.reporty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="diagnosesTab" data-toggle="tab" href="#diagnoses" role="tab" aria-controls="diagnoses" aria-selected="false">@Resources.Global.diagnozy</a>
            </li>
        </ul>
        <div class="form-group">
            <hr />
        </div>
        <div class="tab-content mt-2" id="PatientDetailTabsContent">
            <div class="tab-pane fade show active" id="basicInformation" role="tabpanel" aria-labelledby="basicInformationTab">
                @*<div class="form-group">
                        @Html.LabelFor(model => model.Patient.FullName)
                        @Html.TextBoxFor(model => model.Patient.FullName, new { @class = "form-control", @readonly = "readonly" })
                    </div>*@
                <div class="form-row">
                    @if (Model.PatientDataVM != null)
                    {
                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                            @Html.LabelFor(model => model.Patient.FullName)
                            @Html.TextBoxFor(model => model.Patient.FullName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                            @Html.LabelFor(model => model.PatientDataVM.DateOfBirth)
                            @Html.TextBoxFor(model => model.PatientDataVM.DateOfBirth, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                            <label for="gender">@Resources.Global.pohlavi</label>
                            <input id="gender" class="form-control" readonly="readonly" value="@gender" />
                            @*@Html.LabelFor(model => model.PatientDataVM.Gender)
                @Html.TextBox(gender, new { @class = "form-control", @readonly = "readonly" })*@
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                            @Html.LabelFor(model => model.PatientDataVM.Profession)
                            @Html.TextBoxFor(model => model.PatientDataVM.Profession, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                            @Html.LabelFor(model => model.PatientDataVM.Representative)
                            @Html.TextBoxFor(model => model.PatientDataVM.Representative, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                            <label for="socialStatus">@Resources.Global.socialni_status</label>
                            <input id="socialStatus" class="form-control" readonly="readonly" value="@socialStatus" />
                            @*@Html.LabelFor(model => model.PatientDataVM.SocialStatus)
                @Html.TextBox(socialStatus, new { @class = "form-control", @readonly = "readonly" })*@
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                            @Html.LabelFor(model => model.Patient.Email)
                            @Html.TextBoxFor(model => model.Patient.Email, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                            @Html.LabelFor(model => model.Patient.PhoneNumber)
                            @Html.TextBoxFor(model => model.Patient.PhoneNumber, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    }
                    else
                    {
                        <h5>@Resources.Global.neuvedeno</h5>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="exercises" role="tabpanel" aria-labelledby="exercisesTab">
                <ul class="nav nav-tabs nav-fill" id="exercisesTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="newExercisesTab" data-toggle="tab" href="#newExercises" role="tab" aria-controls="newExercises" aria-selected="true">
                            @Resources.Global.nove_ulohy
                            @{
                                count = Model.ExerciseAssignVMs.Where(x => x.StatusId == statusNew).Count();
                                if (count >= 0)
                                {
                                    <span class="badge badge-info">@count</span>
                                }
                            }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="inProgressExercisesTab" data-toggle="tab" href="#inProgressExercises" aria-controls="inProgressExercises" aria-selected="false">
                            @Resources.Global.probihajici_ulohy
                            @{
                                count = Model.ExerciseAssignVMs.Where(x => x.StatusId == statusInProgress).Count();
                                if (count >= 0)
                                {
                                    <span class="badge badge-info">@count</span>
                                }
                            }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="finishedExercisesTab" data-toggle="tab" href="#finishedExercises" aria-controls="finishedExercises" aria-selected="false">
                            @Resources.Global.dokoncene_ulohy

                            @{
                                count = Model.ExerciseAssignVMs.Where(x => x.StatusId == statusFinished).Count();
                                if (count >= 0)
                                {
                                    <span class="badge badge-info">@count</span>
                                }
                            }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="checkedExercisesTab" data-toggle="tab" href="#checkedExercises" aria-controls="checkedExercises" aria-selected="false">
                            @Resources.Global.Zkontrolovane_ulohy
                            @{
                                count = Model.ExerciseAssignVMs.Where(x => x.StatusId == statusChecked).Count();
                                if (count >= 0)
                                {
                                    <span class="badge badge-info">@count</span>
                                }
                            }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="closedExercisesTab" data-toggle="tab" href="#closedExercises" aria-controls="closedExercises" aria-selected="false">
                            @Resources.Global.Uzavrene_ulohy
                            @{
                                count = Model.ExerciseAssignVMs.Where(x => x.StatusId == statusClosed).Count();
                                if (count >= 0)
                                {
                                    <span class="badge badge-info">@count</span>
                                }
                            }
                        </a>
                    </li>
                </ul>
                <div class="tab-content mt-2" id="ExercisesTabsContent">
                    <div class="tab-pane fade show active" id="newExercises" role="tabpanel" aria-labelledby="newExercisesTab">
                        @if (tooltip)
                        {
                            <div class="form-group">
                                <span class="fa fa-info-circle fa-lg" title="Není nadefinováno"></span>
                            </div>
                        }
                        <div class="form-group">
                            @Html.Partial("~/Views/User/EditorTemplates/PatientDetailExerciseAssignsTable.cshtml", Model.ExerciseAssignVMs.Where(x => x.StatusId == statusNew))
                        </div>
                    </div>
                    <div class="tab-pane fade" id="inProgressExercises" role="tabpanel" aria-labelledby="inProgressExercisesTab">
                        @if (tooltip)
                        {
                            <div class="form-group">
                                <span class="fa fa-info-circle fa-lg" title="Není nadefinováno"></span>
                            </div>
                        }
                        <div class="form-group">
                            @Html.Partial("~/Views/User/EditorTemplates/PatientDetailExerciseAssignsTable.cshtml", Model.ExerciseAssignVMs.Where(x => x.StatusId == statusInProgress))
                        </div>
                    </div>
                    <div class="tab-pane fade" id="finishedExercises" role="tabpanel" aria-labelledby="finishedExercisesTab">
                        @if (tooltip)
                        {
                            <div class="form-group">
                                <span class="fa fa-info-circle fa-lg" title="Není nadefinováno"></span>
                            </div>
                        }
                        <div class="form-group">
                            @Html.Partial("~/Views/User/EditorTemplates/PatientDetailExerciseAssignsTable.cshtml", Model.ExerciseAssignVMs.Where(x => x.StatusId == statusFinished))
                        </div>
                    </div>
                    <div class="tab-pane fade" id="checkedExercises" role="tabpanel" aria-labelledby="checkedExercisesTab">
                        @if (tooltip)
                        {
                            <div class="form-group">
                                <span class="fa fa-info-circle fa-lg" title="Není nadefinováno"></span>
                            </div>
                        }
                        <div class="form-group">
                            @Html.Partial("~/Views/User/EditorTemplates/PatientDetailExerciseAssignsTable.cshtml", Model.ExerciseAssignVMs.Where(x => x.StatusId == statusChecked))
                        </div>
                    </div>

                    <div class="tab-pane fade" id="closedExercises" role="tabpanel" aria-labelledby="closedExercisesTab">
                        @if (tooltip)
                        {
                            <div class="form-group">
                                <span class="fa fa-info-circle fa-lg" title="Není nadefinováno"></span>
                            </div>
                        }
                        <div class="form-group">
                            @Html.Partial("~/Views/User/EditorTemplates/PatientDetailExerciseAssignsTable.cshtml", Model.ExerciseAssignVMs.Where(x => x.StatusId == statusInProgress))
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reportsTab">
                <div class="form-group col-12 text-right">
                    <button type="button" class="btn btn-success btn-sm" id="createReport">
                        @Resources.Global.vytvorit_report
                    </button>
                </div>
                <div class="form-group">
                    @Html.Partial("EditorTemplates/PatientDetailTherapistReportTable", Model.TherapistReportVMs)
                </div>
            </div>
            <div class="tab-pane fade" id="diagnoses" role="tabpanel" aria-labelledby="diagnosesTab">
                ...
            </div>
        </div>
    </section>
</div>

<!-- create report modal -->
<div class="modal fade" id="createReportModal" tabindex="-1" role="dialog" aria-labelledby="createModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalTitle">@Resources.Global.vytvorit_report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="createReportModalBody">
                @Html.Partial("EditorTemplates/_TherapistReportCreate", new TherapistReportCreateViewModel() { PatientDataId = Model.Patient.Id, TherapistId = currentUserId })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button type="button" class="btn btn-primary" id="createReportSubmit">@Resources.Global.vytvorit_report</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

        if ('@selectTab') {
             $('.nav-pills a[href="@selectTab"]').tab('show');
        }

    });

    $("#createReport").on("click", function (event) {
        $("#createReportModal").modal('show');
    });

    $("#createReportSubmit").on("click", function (event) {
        //if ($("#createTherapistReportForm").valid()) {
        //}
        $("#createTherapistReportForm").submit();
    });



</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}