﻿@model  Neurop3.Models.ViewModels.User.PatientAssignListViewModel
@using Neurop3.Common;
@using Neurop3.GlobalListValues.Enums;

@{
    ViewBag.Title = "PatientAssign";
    var patient = Neurop3.Common.RoleEnum.Patient.GetHashCode();
    var therapist = Neurop3.Common.RoleEnum.Therapist.GetHashCode();
    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;

    SelectList recordPerPageList = new SelectList(new List<SelectListItem>() {
new SelectListItem() {Value = "5", Text = "5"},
new SelectListItem() {Value = "10", Text = "10"},
new SelectListItem() {Value = "15", Text = "15"},
new SelectListItem() {Value = "1000", Text = "1000"},
}, "Value", "Text", Model.Filter.RecordsPerPage);


    var activeList = (new ActiveEnum()).ToSelectList();

    //SelectList activeList = new SelectList(new List<SelectListItem>() {
    //new SelectListItem() {Value = "2", Text = Resources.Global.neuvedeno},
    //new SelectListItem() {Value = "1", Text = Resources.Global.ano},
    //new SelectListItem() {Value = "0", Text = Resources.Global.ne}
    //}, "Value", "Text", Model.Filter.IsActive);
}

<div class="container-fluid">

    <section class="form-row">
        @if (tooltip)
        {
            <div class="form-group col-12">
                <span class="fa fa-info-circle fa-lg" title="Editor dostupný pro administrátory aplikace sloužící pro vytvoření dvojice terapeut - pacient (pomocí tlačítka Nové přiřazení pacienta). Editor umožnuje filtraci uživatelů podle jejich jména nebo příjmení."></span>
            </div>
        }

        <div class="form-group col-md-6 col-sm-12">
            <h4>@Resources.Global.existujici_prirazeni</h4>
        </div>
        <div class="form-group col-md-6 col-sm-12 text-md-right text-sm-left">
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addNewAssignModal">
                @Resources.Global.nove_prirazeni_pacienta
            </button>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filterModal">
                @Resources.Global.nastavit_filtr
            </button>
        </div>
        <hr />
        <div class="form-group col-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled" id="previous">
                        <span class="page-link btn-sm">@Resources.Global.predchozi</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="btn page-item btn-sm" id="pageLabel"></span>
                    </li>
                    <li class="page-item" id="next">
                        <a class="page-link btn-sm" href="#">@Resources.Global.dalsi</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section>
        <div class="form-group" id="patientAssignTableWrapper">
            @Html.EditorFor(m => Model.PatientAssignViewModels, "_PatientAssignListTable", new { @totalRecords = Model.Filter.TotalRecords, @rowStartsAt = 1, @currentPage = 1 })
        </div>
    </section>
</div>

@*modal prirazeni*@
<div class="modal fade" id="addNewAssignModal" tabindex="-1" role="dialog" aria-labelledby="newAssignLabel" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newAssignLabel">@Resources.Global.nove_prirazeni_pacienta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label for="newTherapistId" class="control-label col-md-4">@Resources.Global.terapeut</label>
                    <div class="col-md-8">
                        <input type="hidden" id="newTherapistId" />
                    </div>
                </div>
                <div class="row">
                    <label for="newPatientId" class="control-label col-md-4">@Resources.Global.pacient</label>
                    <div class="col-md-8">
                        <input type="hidden" id="newPatientId" />
                    </div>
                </div>
                <div class="row">
                    <label id="assignExist" style="color: red;" class="ml-2"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button id="addNewAssign" type="button" class="btn btn-primary">@Resources.Global.ulozit</button>
            </div>
        </div>
    </div>
</div>

@*modal filter*@
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTable" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalTable">@Resources.Global.nastavit_filtr</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.Filter.PatientName)
                    @Html.TextBoxFor(m => m.Filter.PatientName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Filter.TherapistName)
                    @Html.TextBoxFor(m => m.Filter.TherapistName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Filter.IsActive)
                        @Html.DropDownListFor(m => m.Filter.IsActive, activeList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Filter.RecordsPerPage)
                        @Html.DropDownListFor(m => m.Filter.RecordsPerPage, recordPerPageList, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button type="button" class="btn btn-primary" id="useFilter">@Resources.Global.filtrovat</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () { updateLabel()});

        //$("#searchInput").on("keyup", function (event) {
        //    PatientAssignFilter(true);
        //});

        //$("#ShowOnlyActivePatientAssign").click(function () {
        //    var checked = $(this).is(':checked');
        //    PatientAssignFilter(checked);
        //});

        //function PatientAssignFilter(checked) {
        //    //if (event.keyCode === 13) {
        //    $.ajax({
        //        type: "POST",
        //        url: Router.action("User", "PatientAssignFilter"),
        //        data: {
        //            input: $("#searchInput").val(),
        //            onlyActive: checked
        //        },
        //        success: function (data) {
        //            $("#patientAssignTableWrapper").html(data);
        //        }
        //    });
        //    //}
        //};

    $("#newTherapistId").select2({
        width: "100%",
        minimumInputLength: -1,
        allowClear: false,
        multiple: false,
        placeholder: '@Resources.Global.vybrat_terapeuta',
        ajax: {
            dataType: "json",
            type: "POST",
            url: Router.action("User", "GetUsersToAssign"),
            data: function (searchTerm) {
                return { input: searchTerm, type: @therapist };
            },
            results: function (data) {
                return { results: data };
            }
        },
        formatResult: function (item) {
            return item.name;
        },
        formatSelection: function (item) {
            return item.name;
        }
    });

    $("#newPatientId").select2({
        width: "100%",
        minimumInputLength: -1,
        allowClear: false,
        multiple: false,
        placeholder: "@Resources.Global.vybrat_pacienta",
        ajax: {
            dataType: "json",
            type: "POST",
            url: Router.action("User", "GetUsersToAssign"),
            data: function (searchTerm) {
                return { input: searchTerm, type: @patient };
            },
            results: function (data) {
                return { results: data };
            }
        },
        formatResult: function (item) {
            return item.name;
        },
        formatSelection: function (item) {
            return item.name;
        }
    });

    $("#addNewAssign").click(function () {

        if (testIfAssignExists() == true) {
            $("#assignExist").html("Toto prirazeni jiz existuje.");  //Resources.Global.prirazeni_nebude_pridano_protoze_existuje
            return false;
        }
        else {
            $("#assignExist").html("");
            $.ajax({
                cache: false,
                type: "POST",
                async: false,
                dataType: "json",
                url: Router.action("User", "AddPatientAssign"),
                data: {
                    patientId: $("#newPatientId").val(),
                    therapistId: $("#newTherapistId").val()
                },
                success: function (data) {
                    if (data.success == true) {
                        $("#addNewAssignModal").modal('hide');
                        window.location.reload();
                    }

                    //$("#patientAssignTableWrapper").html(data);
                },
            });
            return true;
        }

    });

    function testIfAssignExists()
    {
        var result;
        var patientIdSelected = $("#newPatientId").val();
        var therapistIdSelected = $("#newTherapistId").val();

        $.ajax(
            {
                url: '@Url.Action("AssignExists", "User")',
                type: "POST",
                cache: false,
                async: false,
                data:
                {
                    patientId: patientIdSelected,
                    therapistId: therapistIdSelected
                },
                success: function (data) {
                    result = data.success;
                },
                complete: function () { }
            }
        );
        return result;
    };

    $("#useFilter").on("click", function (event) {
        $("#currentPage").val(1);
        reloadList();
        $("#filterModal").modal('hide');
    });

    $("#previous").on("click", function (event) {
        var currentPage = parseInt($("#currentPage").val());

        if (currentPage > 1) {
            currentPage--;
            $("#currentPage").val(currentPage);
            reloadList()
        }
    });

    $("#next").on("click", function (event) {
        var currentPage = parseInt($("#currentPage").val());
        var maxPageCount = GetTotalPageCount();

        if (currentPage < maxPageCount) {
            currentPage++;
            $("#currentPage").val(currentPage);
            reloadList();
        }
    });

    function GetTotalPageCount() {
        var recordsPerPage = parseInt($("#Filter_RecordsPerPage").val());
        var totalRecords = parseInt($("#totalRecords").val());
        var retVal = Math.ceil(totalRecords / recordsPerPage);
        return retVal;
    }

    function updateLabel() {
        var currentPage = parseInt($("#currentPage").val());
        var totalRecords = parseInt($("#totalRecords").val());
        var recordsPerPage = parseInt($("#Filter_RecordsPerPage").val());
        var maxPageCount = GetTotalPageCount();

        var start = totalRecords != 0 ? (currentPage - 1) * recordsPerPage + 1 : 0;
        var end = (currentPage) * recordsPerPage;
        if (end > totalRecords) {
            end = totalRecords;
        }

        $("#pageLabel").text(start + "-" + end + " / " + totalRecords);

        if (currentPage == 1) {
            if (!$("#previous").hasClass("disabled")) {
                $("#previous").addClass("disabled");
            }
            if ($("#next").hasClass("disabled")) {
                $("#next").removeClass("disabled")
            }
        }
        if (currentPage == 2) {
            if ($("#previous").hasClass("disabled")) {
                $("#previous").removeClass("disabled");
            }
        }
        if (currentPage == maxPageCount) {
            if (!$("#next").hasClass("disabled")) {
                $("#next").addClass("disabled");
            }
            if ($("#previous").hasClass("disabled")) {
                $("#previous").removeClass("disabled");
            }
        }
        if (currentPage == (maxPageCount - 1)) {
            if ($("#next").hasClass("disabled")) {
                $("#next").removeClass("disabled");
            }
        }
        if (maxPageCount == 1) {
            if (!$("#next").hasClass("disabled")) {
                $("#next").addClass("disabled");
            }
            if (!$("#previous").hasClass("disabled")) {
                $("#previous").addClass("disabled");
            }
        }
    };

    function reloadList() {

        $.ajax({
            type: "POST",
            url: Router.action("User", "PatientAssignListFilter"),
            data: {
                patientName: $("#Filter_PatientName").val(),
                therapistName: $("#Filter_TherapistName").val(),
                isActive: $("#Filter_IsActive").val(),
                recordPerPage: $("#Filter_RecordsPerPage").val(),
                currentPage: $("#currentPage").val()
            },
            success: function (data) {
                $("#patientAssignTableWrapper").html(data);
                updateLabel();
            }
        });
    };


</script>
