﻿
@{
    ViewBag.Title = "PatientList";
    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;
}

<div class="container-fluid">
    @if (tooltip)
    {
        <div class="row">
            <span class="fa fa-info-circle fa-lg" title="Editor určený pro terapeuty pro správu svých pacientů. Jednotlivé řádky tabulky budou obsahovat konkrétní pacienty, kde je budou moci terapeuti spravovat."></span>
        </div>
    }
    <div class="row">
        <div class="col-md-8">
            <h4>@Resources.Global.seznam_pacientu</h4>
        </div>
        <div class="col-md-4 text-right">
            <div class="input-group">
                <input type="text" id="searchInput" class="form-control" placeholder="@Resources.Global.hledat_pacienta">
                <div class="input-group-append">
                    <span class="input-group-text fa fa-search"></span>
                </div>
            </div>
            @*@Html.TextBox("searchInput", "", new { @placeholder = Resources.Global.hledat })*@
        </div>
    </div>
    <hr />
    <div class="row" id="patientListTableWrapper">
        @Html.EditorFor(m => Model, "PatientListTable", new { })
    </div>
</div>

<script>

    $("#searchInput").on("keyup", function (event) {

        //if (event.keyCode === 13) {
        $.ajax({
            type: "POST",
            url: Router.action("User", "PatientListFilter"),
            data: {
                input: $("#searchInput").val()
            },
            success: function (data) {
                $("#patientListTableWrapper").html(data);
            }
        });
        //}
    });
</script>
