﻿@model IEnumerable<Neurop3.Models.ViewModels.User.TherapistReportViewModel>

<div class="container-fluid">
    <section>
        <div class="form-row">
            <div class="col-12">
                <h4>@Resources.Global.zpravy_od_terapeuta</h4>
            </div>
            <div class="col-12">
                <hr />
            </div>
        </div>
    </section>
    <section>
        @Html.Partial("~/Views/User/EditorTemplates/PatientDetailTherapistReportTable.cshtml", Model)
    </section>
</div>



