﻿@model IEnumerable<Neurop3.Models.ViewModels.Translation.TranslationViewModel>

@{

    Layout = null;
    var totalRecords = (int)ViewBag.totalRecords;
    var rowStartsAt = (int)ViewBag.rowStartsAt;
    var currentPage = ViewBag.currentPage != null ? (int)ViewBag.currentPage : 1;
}

<input type="hidden" id="totalRecords" value="@totalRecords" />
<input type="hidden" id="currentPage" value="@currentPage" />

<table id="TranslationTable" class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cz)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.En)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.De)
            </th>
            <th class="text-center" scope="col" style="width: 180px">
                @Resources.Global.operace
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            
            foreach (var item in Model)
            {
                <tr>
                    <td scope="row">@(rowStartsAt++)</td>
                    <td>
                        @Html.DisplayFor(x => item.Cz)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.En)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.De)
                    </td>

                    <td class="text-left">

                        @Html.ActionLink(Resources.Global.editace, "Manage", new { @id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                        @if (!item.IsUsed)
                        {
                            @Html.ActionLink(Resources.Global.smazat, "Delete", new { @id = item.Id }, new { @class = "btn btn-danger btn-sm ml-md-2", onclick = "return confirm('Opravdu chcete smazat tento preklad?');" })
                        }
                        else
                        {
                            @Html.ActionLink(Resources.Global.duplikovat, "Duplicate", new { @id = item.Id }, new { @class = "btn btn-warning btn-sm", onclick = "return confirm('Opravdu chcete duplikovat tento preklad?');" })
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="5">@Resources.Global.zadne_zaznamy_nenalezeny</td></tr>
        }
    </tbody>
</table>
