﻿@model IEnumerable<Neurop3.Models.ViewModels.Exercise.ExerciseAssignViewModel>

@{ 
    Layout = null;
}

<h6>Prirazene ulohy</h6>
@if(Model != null)
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.ExerciseAssignToPatientTitle, "RunTest", "Test", new { @assignId = item.Id }, new { @class="btn btn-warning btn-sm m-1"})
            </li>
        }
    </ul>
}
