﻿@model IEnumerable<Neurop3.Models.ViewModels.Package.PackagePatientHomeViewModel>
@using Neurop3.Common;
@using Neurop3.GlobalListValues.Enums;

@{
    Layout = null;
    var newPackage = ExerciseStatusEnum.Novy.GetHashCode();
    var inProgressPackage = ExerciseStatusEnum.Probihajici.GetHashCode();


}
<h6>@Resources.Global.prirazene_baliky</h6>
@if (Model != null && Model.Any())
{

    foreach (var item in Model.Where(x => x.StatusId == newPackage).OrderByDescending(x => x.LastAccessTimeUtc))
    {
        <div class="package-homepage new-package">
            <table>
                @{ var statusBaliku = ((ExerciseStatusEnum)item.StatusId).GetDescriptionString();}
                <tr><td>@Resources.Global.nazev:</td><td><b>@item.Name</b></td></tr>
                <tr><td>@Resources.Global.mnozstvi_uloh:</td><td><b>@item.ExercisesCount</b></td></tr>
                <tr><td>@Resources.Global.status:</td><td><b>@statusBaliku</b></td></tr>
                <tr><td>@Resources.Global.posledni_spusteni:</td><td><b>@item.LastAccessTimeUtc.ToShortDateString()</b></td></tr>
            </table>
            @*<p>@Resources.Global.nazev: @item.Name</p>
                <p>@Resources.Global.mnozstvi_uloh: @item.ExercisesCount</p>
                <p>@Resources.Global.status: @item.Status.Name</p>
                <p>@Resources.Global.datum_vytvoreni: @item.LastAccessTimeUtc.ToShortDateString()</p>*@
            @Html.ActionLink(Resources.Global.spusti, "RunPackage", "Test", new { packageId = item.Id }, new { @class = "col-12 btn btn-warning btn-sm pull-right" })
        </div>
    }
    
    foreach (var item in Model.Where(x => x.StatusId == inProgressPackage).OrderByDescending(x => x.LastAccessTimeUtc))
    {
        <div class="package-homepage inProgress-package">
            <table>
                @{ var statusBaliku = ((ExerciseStatusEnum)item.StatusId).GetDescriptionString();}
                <tr><td>@Resources.Global.nazev:</td><td><b>@item.Name</b></td></tr>
                <tr><td>@Resources.Global.mnozstvi_uloh:</td><td><b>@item.ExercisesCount</b></td></tr>
                <tr><td>@Resources.Global.status:</td><td><b>@statusBaliku</b></td></tr>
                <tr><td>@Resources.Global.posledni_spusteni:</td><td><b>@item.LastAccessTimeUtc.ToShortDateString()</b></td></tr>
            </table>
            @Html.ActionLink(Resources.Global.spusti, "RunPackage", "Test", new { packageId = item.Id }, new { @class = "col-12 btn btn-warning btn-sm pull-right" })
        </div>
    }
}
else
{
    <div class="package-homepage">
        <p>@Resources.Global.nemate_prirazeni_zadny_aktivni_balik</p>
    </div>
}
