﻿@model IEnumerable<Neurop3.Models.ViewModels.Exercise.ExerciseAssignViewModel>

@{
    Layout = null;
}

<h6>Zadané úlohy</h6>
@if (Model != null)
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.ExerciseAssignByTherapistTitle, "Analyze", "Analysis", new { @id = item.Id }, new { @class = "btn btn-warning btn-sm m-1" })
            </li>
        }
    </ul>
}