﻿@model IEnumerable<Neurop3.Models.ViewModels.Package.PackageTherapistHomeViewModel>
@using Neurop3.Common;
@using Neurop3.GlobalListValues.Enums;

@{
    Layout = null;
    var newPackage = ExerciseStatusEnum.Novy.GetHashCode();
    var inProgressPackage = ExerciseStatusEnum.Probihajici.GetHashCode();
}

<h6>Prirazene Balíky</h6>
@if (Model != null && Model.Any())
{
    foreach (var item in Model.Where(x => x.StatusId == newPackage).Take(5).OrderByDescending(x => x.LastAccessTimeUtc))
    {
        <div class="package-homepage new-package">
            <table>
                @{ var statusBaliku = ((ExerciseStatusEnum)item.StatusId).GetDescriptionString();}

                <tr><td>@Resources.Global.nazev:</td><td><b>@item.Name</b></td></tr>
                <tr><td>@Resources.Global.mnozstvi_uloh:</td><td><b>@item.ExercisesCount</b></td></tr>
                <tr><td>@Resources.Global.status:</td><td><b>@statusBaliku</b></td></tr>
                <tr><td>@Resources.Global.posledni_spusteni:</td><td><b>@item.LastAccessTimeUtc.ToShortDateString() <br /> @item.LastAccessTimeUtc.ToShortTimeString()</b></td></tr>
            </table>
            @Html.ActionLink(Resources.Global.nahled_baliku, "Manage", "Package", new { id = item.Id }, new { @class = "col-12 btn btn-warning btn-sm" })
        </div>
    }
    foreach (var item in Model.Where(x => x.StatusId == inProgressPackage).Take(5).OrderByDescending(x => x.LastAccessTimeUtc))
    {
        <div class="package-homepage inProgress-package">
            <table>
                @{ var statusBaliku = ((ExerciseStatusEnum)item.StatusId).GetDescriptionString();}
                <tr><td>@Resources.Global.nazev:</td><td><b>@item.Name</b></td></tr>
                <tr><td>@Resources.Global.mnozstvi_uloh:</td><td><b>@item.ExercisesCount</b></td></tr>
                <tr><td>@Resources.Global.status:</td><td><b>@statusBaliku</b></td></tr>
                <tr><td>@Resources.Global.posledni_spusteni:</td><td><b>@item.LastAccessTimeUtc.ToShortDateString() <br /> @item.LastAccessTimeUtc.ToShortTimeString()</b></td></tr>
            </table>
            @Html.ActionLink(Resources.Global.nahled_baliku, "Manage", "Package", new { id = item.Id }, new { @class = "col-12 btn btn-warning btn-sm" })
        </div>
    }
}