﻿@model IEnumerable<Neurop3.Models.ViewModels.Exercise.ExerciseResultsRowViewModel>

@{ 
    var colsCount = Model != null && Model.Any() ?  Model.FirstOrDefault().Values.Count() + 2 : 2;
}

<table class="table table-sm text-center table-responsive-sm">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Sequence)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TimeUtc)
            </th>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model.FirstOrDefault().Values.OrderBy(x => x.RowIndex))
                {
                    <th>
                        @item.RowName
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sequence)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeUtc)
                    </td>
                    @foreach (var value in item.Values.OrderBy(x => x.RowIndex))
                    {
                        <td>
                            @value.Value
                        </td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan=colsCount class="text-center">@Resources.Global.zadne_zaznamy_nenalezeny</td>
            </tr>
        }
    </tbody>
</table>
