﻿@model IEnumerable<Neurop3.Models.ViewModels.Exercise.ExerciseAssignViewModel>
@using Neurop3.Common;
@using Neurop3.GlobalListValues.Enums;

@{
    Layout = null;
}

<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Patient.FullName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Exercise.Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.LastAccessDate)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        @*<th class="text-center">
            @Html.DisplayNameFor(model => model.IsActive)
        </th>*@
        <th class="text-center">
            @Resources.Global.pocet_vysledku
        </th>
        <th></th>
    </tr>

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exercise.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastAccessDate)
                </td>
                <td class="text-center">
                    @{ var statusPrirazeni = ((ExerciseStatusEnum) item.StatusId).GetDescriptionString();}
                    @Html.DisplayFor(modelItem => statusPrirazeni)
                </td>
                @*<td class="text-center">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>*@
                <td class="text-center">
                    @{ var pocet = item.ExerciseResultsVMs.Where(x => x.Row == 0).Count();
                    }
                    @pocet

                </td>
                <td class="text-center">@Html.ActionLink(Resources.Global.analyzovat, "Analyze", "Analysis", new { @id = item.Id }, new { @class="btn btn-primary btn-sm" })</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6" class="text-center">@Resources.Global.zadne_zaznamy_nenalezeny</td>
        </tr>
    }



</table>
