﻿@model Neurop3.Models.ViewModels.Package.PackageCreateViewModel

@{
    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;
}

<div class="container-fluid">

    <section>
        <div class="form-row">
            @if (tooltip)
            {
                <span class="fa fa-info-circle fa-lg" title="Vytvoření nové ulohy pomocí jeho názvu a výběru modulu ze seznamu."></span>
            }
        </div>
        <div class="form-row">
            <div class="col-12">
                <h4>@Resources.Global.vytvorit_balik</h4>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <hr />
            </div>
        </div>
    </section>
    <section>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PatientId)
                @Html.HiddenFor(m => m.PatientId)
                @Html.ValidationMessageFor(model => model.PatientId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group text-center">
                <input type="submit" value="@Resources.Global.vytvorit" class="btn btn-primary" />
            </div>
        }
    </section>
</div>


<script>

    $("#PatientId").select2({
            width: "100%",
            minimumInputLength: -1,
            allowClear: false,
            multiple: false,
            placeholder: '@Resources.Global.vybrat_pacienta',
            ajax: {
                dataType: "json",
                type: "POST",
                url: Router.action("User", "GetTherapistPatients"),
                data: function (searchTerm) {
                    return { query: searchTerm };
                },
                results: function (data) {
                    return { results: data };
                }
            },
            formatResult: function (item) {
                return item.name;
            },
            formatSelection: function (item) {
                return item.name;
            }
        });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}