﻿@model Neurop3.Models.ViewModels.Package.PackageManageViewModel
@using Neurop3.GlobalListValues.Enums;
@using Neurop3.Common;

@{
    var tabNumber = ViewBag.tab;

    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;
    var label = Resources.Global.editace_baliku; //Model.IsUsed ? Resources.Global.nahled_programu : Resources.Global.editace_programu;
    label = string.Concat(label, " (", Model.Id, ")");

    var statusList = (new ExerciseStatusEnum()).ToSelectListOrderId();

}

<div class="container-fluid">

    <section>
        <div class="form-row">
            <div class="form-group col-md-6 col-sm-12">
                <h4>@label</h4>
            </div>
            <div class="form-group col-md-6 col-sm-12 text-md-right">
                @Html.ActionLink(Resources.Global.seznam_baliku, "List", new { }, new { @class = "btn btn-success btn-sm" })
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#duplicateModal">
                    @Resources.Global.duplikovat
                </button>
                @Html.ActionLink(Resources.Global.smazat, "Delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm ml-md-2", onclick = "return confirm('Opravdu chcete smazat tento balik?');" })

            </div>
            <div class="form-group col-12">
                <hr />
            </div>
        </div>
    </section>

    <section>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Id)

            @Html.HiddenFor(model => model.Patient.FirstName)
            @Html.HiddenFor(model => model.Patient.LastName)
            @Html.HiddenFor(model => model.PatientId)
            @Html.HiddenFor(model => model.TherapistId)

        <ul class="nav nav-tabs" id="packageTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="packageDescriptionTab" data-toggle="tab" href="#packageDescription" role="tab" aria-controls="packageDescription" aria-selected="true">@Resources.Global.popis_baliku</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="packageAssignTab" data-toggle="tab" href="#packageAssign" role="tab" aria-controls="packageAssign" aria-selected="false">@Resources.Global.prirazene_ulohy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="packageFeedBackTab" data-toggle="tab" href="#packageFeedBack" role="tab" aria-controls="packageFeedBack" aria-selected="false">@Resources.Global.zpetna_vazba</a>
            </li>
        </ul>

            <div class="tab-content mt-2" id="packageTabsContent">
                <div class="tab-pane fade show active" id="packageDescription" role="tabpanel" aria-labelledby="packageDescriptionTab">
                    @if (tooltip)
                    {
                        <div class="form-group">
                            <span class="fa fa-info-circle fa-lg" title="Karta pro popis balíku."></span>
                        </div>
                    }
                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            @Html.LabelFor(model => model.PatientId)
                            @Html.TextBoxFor(model => model.Patient.FullName, new { @class = "form-control", @readonly = "readonly" })
                            @*@Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            @Html.LabelFor(model => model.CreateTimeUtc)
                            @Html.TextBoxFor(model => model.CreateTimeUtc, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.CreateTimeUtc, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            @Html.LabelFor(model => model.LastAccessTimeUtc)
                            @Html.TextBoxFor(model => model.LastAccessTimeUtc, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.LastAccessTimeUtc, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            @Html.LabelFor(model => model.StatusId)
                            @Html.DropDownListFor(model => model.StatusId, statusList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            @Html.LabelFor(model => model.IsActive)
                            @Html.CheckBoxFor(model => model.IsActive, new { @class = "ml-2" })
                            @*@Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="@Resources.Global.ulozit" class="btn btn-primary" />
                    </div>
                </div>
                <div class="tab-pane fade" id="packageAssign" role="tabpanel" aria-labelledby="packageAssignTab">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            @if (tooltip)
                            {
                                <span class="fa fa-info-circle fa-lg" title="Karta pro zobrazní přiřazených úloh k danému balíku."></span>
                            }
                        </div>
                        <div class="form-group col-md-9 text-right">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addExerciseModal">
                                @Resources.Global.pridat_ulohu
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Partial("EditorTemplates/_PackageExerciseAssignList", Model.ExerciseAssignPackageViewModels)
                    </div>
                </div>
                <div class="tab-pane fade" id="packageFeedBack" role="tabpanel" aria-labelledby="packageFeedBackTab">
                    @Html.Partial("EditorTemplates/PackageFeedBackTable", Model.patientFeedbackVMs)
                </div>
            </div>

        }
    </section>
</div>

@*duplicate modal*@
<div class="modal fade" id="duplicateModal" tabindex="-1" role="dialog" aria-labelledby="duplicateModalTable" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="duplicateModalTable">@Resources.Global.duplikovat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="newPackageName">@Resources.Global.nazev_duplikovaneho_baliku</label>
                    <input type="text" class="form-control" id="newPackageName" />
                </div>
                <div class="form-group">
                    <label for="newPatientId">@Resources.Global.jmeno_pacienta</label>
                    <input type="hidden" id="newPatientId" />
                </div>
                <p id="duplicationErrorMessage" style="color: red" class="m-2"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button type="button" class="btn btn-primary" id="duplicatePackage">@Resources.Global.duplikovat</button>
            </div>
        </div>
    </div>
</div>

@*add exercise modal*@
<div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" aria-labelledby="addExerciseModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExerciseModalTitle">@Resources.Global.pridat_ulohu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="newExerciseId">@Resources.Global.pridat_ulohu</label>
                    <input type="hidden" id="newExerciseId" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button type="button" class="btn btn-primary" id="addExerciseToPackage">@Resources.Global.pridat_ulohu</button>
            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {
        if (@tabNumber != 1) {
            $('.nav-tabs li:nth-child(@tabNumber) a').tab('show')
        }
    })


    $("#newExerciseId").select2({
        language: "cs",
        width: "100%",
        minimumInputLength: -1,
        allowClear: false,
        multiple: false,
        placeholder: 'Přidat ulohu', //TODO js lokalizace
        ajax: {
            dataType: "json",
            type: "POST",
            url: Router.action("Package", "GetExerciseListToPackageAdd"),
            data: function (searchTerm) {
                return { input: searchTerm };
            },
            results: function (data) {
                return { results: data };
            }
        },
        formatResult: function (item) {
            return item.name;
        },
        formatSelection: function (item) {
            return item.name;
        }
    });

    $("#newPatientId").select2({
        language: "cs",
        width: "100%",
        minimumInputLength: -1,
        allowClear: false,
        multiple: false,
        placeholder: 'Najit pacienta', //TODO js lokalizace
        ajax: {
            dataType: "json",
            type: "POST",
            url: Router.action("User", "GetTherapistPatients"),
            data: function (searchTerm) {
                return { query: searchTerm };
            },
            results: function (data) {
                return { results: data };
            }
        },
        formatResult: function (item) {
            return item.name;
        },
        formatSelection: function (item) {
            return item.name;
        }
    });


    $("#addExerciseToPackage").click(function () {
        $.ajax({
            cache: false,
            type: "POST",
            async: false,
            dataType: "json",
            url: Router.action("Package", "AddExerciseToPackage"),
            data: {
                exerciseId: $("#newExerciseId").val(),
                packageId: @Model.Id,
            },
            success: function (data) {
                if (data.success == true) {
                    $("#addExerciseModal").modal('hide');

                    var url = '@Url.Action("Manage", "Package", new { id = Model.Id, tab = 2})';
                    //var url2 = url.replace('REPLACEME', redirectToId);
                    window.location.href = url;
                    //window.location.reload();
                    //$(".nav-tabs a[href=#packageAssign]").tab('show');
                }
            }
        });
    });

    $("#duplicatePackage").click(function () {

        if (duplicationIsValid()) {
            $("#duplicateModal").modal('hide');
            $.ajax({
                cache: false,
                type: "POST",
                async: false,
                dataType: "JSON",
                url: Router.action("Package", "Duplicate"),
                data: {
                    packageId: @Model.Id,
                    packageName: $("#newPackageName").val(),
                    patientId: $("#newPatientId").val()
                },
                success: function (data) {
                    var redirectToId = data.data.toString();
                    var url = '@Url.Action("Manage", "Package", new { id = "REPLACEME"})';
                    var url2 = url.replace('REPLACEME', redirectToId);
                    window.location.href = url2;
                }
            });
        }


    });

    function duplicationIsValid() {
        $("duplicationErrorMessage").text("");

        var packageName = $("#newPackageName").val();
        var patientId = $("#newPatientId").val();

        var errorMessage = "";
        if (!packageName || packageName.length < 5) {
            errorMessage += "Package name must have 5 or more words, ";
        }

        if (!patientId) {
            errorMessage += "Patient must be chossen, ";
        }
        if (patientId === '@Model.PatientId' ) {
            errorMessage += "Patient has already have this package";
        }
        if (!(errorMessage.length == 0)) {
            $("#duplicationErrorMessage").text(errorMessage);
            return false;
        }
        return true;
    }


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}