﻿@model IEnumerable<Neurop3.Models.ViewModels.Package.PackagePatientHomeViewModel>
@using Neurop3.Common;
@{
    var newPackage = Resources.Global.nova;
    var inProgressPackage = Resources.Global.probihajici;
}


<div class="container-fluid">
    <section>
        <div class="form-row">
            <div class="col-12">
                <h4>@Resources.Global.prirazene_baliky</h4>
            </div>
            <div class="col-12">
                <hr />
            </div>
        </div>
    </section>
    <section>
        <table class="table table-responsive-sm table-sm table-hover">
            <thead>
                <tr>
                    <th>@Resources.Global.nazev</th>
                    <th>@Resources.Global.jmeno_terapeuta</th>
                    <th>@Resources.Global.status</th>
                    <th>@Resources.Global.ulohy</th>
                    <th>@Resources.Global.posledni_spusteni</th>
                    <th>@Resources.Global.operace</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model.OrderByDescending(x => x.LastAccessTimeUtc))
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Therapist.FullName</td>
                            <td>
                                @{ var state = item.StatusId == @ExerciseStatusEnum.Novy.GetHashCode() ? @newPackage : @inProgressPackage; }
                                @state
                            </td>
                            <td>@item.ExercisesCount</td>
                            <td>@item.LastAccessTimeUtc</td>
                            <td>
                                @Html.ActionLink(Resources.Global.spusti, "RunPackage", "Test", new { packageId = item.Id }, new { @class = "btn btn-warning btn-sm" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">@Resources.Global.zadne_zaznamy_nenalezeny</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>