﻿@model IEnumerable<Neurop3.Models.ViewModels.Package.PackageViewModel>
@using Microsoft.AspNet.Identity;

@{
    Layout = null;
    var currentUserId = HttpContext.Current.User.Identity.GetUserId();

    var totalRecords = (int)ViewBag.totalRecords;
    var rowStartsAt = (int)ViewBag.rowStartsAt;
    var currentPage = ViewBag.currentPage != null ? (int)ViewBag.currentPage : 1;

}

<input type="hidden" id="totalRecords" value="@totalRecords" />
<input type="hidden" id="currentPage" value="@currentPage" />

<table class="table table-hover table-sm table-responsive-sm">
    <tr>
        <th class="text-center">
            #
        </th>
        <th class="text-center">
            @Resources.Global.jmeno_pacienta
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="text-center">
            @Resources.Global.pocet_zaznamu
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th class="text-center">
            @Resources.Global.operace
        </th>
    </tr>

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model.OrderByDescending(x => x.LastAccessTimeUtc))
        {
            <tr>
                <td class="text-center" scope="row">@(rowStartsAt++)</td>
                <td class="text-center">
                    @Html.DisplayFor(m => item.Patient.FullName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(m => item.AssignCount)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(m => item.IsActive)
                </td>
                <td class="text-center">

                    @Html.ActionLink(Resources.Global.editace, "Manage", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink(Resources.Global.smazat, "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm ml-md-2", onclick = "return confirm('Opravdu chcete smazat tento balik?');" })

                    @*@if (item.IsActive)
                        {
                            if (item.HasResult)
                            {
                                @Html.ActionLink(Resources.Global.nahled, "Manage", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                                @Html.ActionLink(Resources.Global.duplikovat, "Duplicate", new { id = item.Id }, new { @class = "btn btn-warning btn-sm ml-md-2", onclick = "return confirm('Opravdu chcete duplikovat tuto ulohu?');" })

                            }
                            else
                            {
                                if (item.HasActiveAssign)
                                {
                                    @Html.ActionLink(Resources.Global.nahled, "Manage", new { id = item.Id }, new { @class = "btn btn-success btn-sm ml-1 mr-1" })
                                    @Html.ActionLink(Resources.Global.duplikovat, "Duplicate", new { id = item.Id }, new { @class = "btn btn-warning btn-sm ml-1 mr-1", onclick = "return confirm('Opravdu chcete duplikovat tuto ulohu?');" })
                                }
                                else
                                {
                                    if (item.IsAuthor)
                                    {
                                        @Html.ActionLink(Resources.Global.editace, "Manage", new { id = item.Id }, new { @class = "btn btn-primary btn-sm ml-1 mr-1" })
                                        @Html.ActionLink(Resources.Global.smazat, "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm ml-1 mr-1", onclick = "return confirm('Opravdu chcete smazat tuto ulohu?');" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink(Resources.Global.nahled, "Manage", new { id = item.Id }, new { @class = "btn btn-success btn-sm ml-1 mr-1" })
                                        @Html.ActionLink(Resources.Global.duplikovat, "Duplicate", new { id = item.Id }, new { @class = "btn btn-warning btn-sm ml-1 mr-1", onclick = "return confirm('Opravdu chcete duplikovat tuto ulohu?');" })
                                    }
                                }
                            }
                        }
                        else
                        {
                            @Html.ActionLink(Resources.Global.obnovit, "Activate", new { id = item.Id }, new { @class = "btn btn-info btn-sm ml-1 mr-1" })
                        }*@
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="text-center">
            <td colspan="6">@Resources.Global.zadne_zaznamy_nenalezeny</td>
        </tr>
    }
</table>
