﻿@model IEnumerable<Neurop3.Models.ViewModels.Package.ExerciseAssignPackageViewModel>

@{
    var count = 1;
    Layout = null;
}

<table class="table">
    <tr>
        @*<th class="text-center">
            @Resources.Global.poradi
        </th>*@
        <th class="text-center">
            #
        </th>
        <th class="text-center">
            @Resources.Global.nazev_ulohy
        </th>
        <th class="text-center">
            @Resources.Global.pocet_vysledku
        </th>
        <th class="text-center">
            @Resources.Global.operace
        </th>
    </tr>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            //var isAuthor = HttpContext.Current.User.Identity.GetUserId().CompareTo(item.AuthorId) == 0;

            <tr>
                @*<td class="text-center">
                    <span class="fa fa-arrow-circle-up fa-lg packageUp"></span>&nbsp;&nbsp;
                    <span class="fa fa-arrow-circle-down fa-lg packageDown"></span>
                </td>*@
                <td class="text-center" scope="row">@(count++)</td>
                <td class="text-center">
                    @Html.DisplayFor(m => item.ExerciseAssign.Exercise.Name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(m => item.ExerciseAssign.ResultsCount)
                </td>
                <td class="text-center">
                    @Html.ActionLink(Resources.Global.odebrat, "RemoveExerciseAssignFromPackage", new { @packageId = item.ExercisePackageId, @order = item.Order }, new { @class = "btn btn-danger btn-sm" })
                    @Html.ActionLink(Resources.Global.analyzovat, "Analyze", "Analysis", new { @id = item.ExerciseAssignId, @order = item.Order }, new { @class = "btn btn-success btn-sm" })
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="text-center">
            <td colspan="4">@Resources.Global.zadne_zaznamy_nenalezeny</td>
        </tr>
    }
</table>
