﻿@model IEnumerable<Neurop3.Models.ViewModels.User.PatientFeedbackViewModel>
@using Microsoft.AspNet.Identity;
@using Neurop3.Common;
@using Neurop3.GlobalListValues.Enums;

@{
    var currentUserId = HttpContext.Current.User.Identity.GetUserId();
    var isPatient = Neurop3.Infrastructure.Authorization.Authorize(HttpContext.Current.User, Neurop3.Common.RoleEnum.Patient);
}

<table class="table text-center table-hover table-sm table-responsive-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeUtc)
            </th>
            <th>
                @Resources.Global.operace
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Any())
        {
            foreach (var item in Model.OrderByDescending(x => x.TimeUtc))
            {
                <tr>
                    @{ 
                        var obtiznost = ((PatientFeedbackDifficulty) item.Difficulty).GetDescriptionString();
                        var mnozstvi = ((PatientFeedbackExerciseAmount)item.ExerciseAmount).GetDescriptionString();
                    }
                    <td>
                        @obtiznost
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => mnozstvi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoteShort)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeUtc)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm m-sm-1 showFeedBack" value='@item.Id'>
                            @Resources.Global.zobrazit
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
                <tr>
                    <td class="text-center" colspan="5">
                        @Resources.Global.zadne_zaznamy_nenalezeny
                    </td>
                </tr>
        }

    </tbody>

</table>

<!-- show feedback modal -->
<div class="modal fade" id="showFeedBackModal" tabindex="-1" role="dialog" aria-labelledby="showModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showModalTitle">@Resources.Global.zobrazit_report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="showFeedbackModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(".showFeedBack").on("click", function (event) {
        var feedBackId = $(this).attr("value");
        $.ajax({
            cache: false,
            type: "POST",
            //async: false,
            url: Router.action("User", "ShowPatietFeedBack"),
            data: {
                feedBackId: feedBackId
            },
            success: function (data) {
                $("#showFeedbackModalBody").html(data);
                $("#showFeedBackModal").modal('show');
            }
        });

    });
</script>