﻿@model Neurop3.Models.ViewModels.Exercise.ExerciseCreateViewModel

@{
    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;
}

<div class="container-fluid">

    <section>
        <div class="row">
            @if (tooltip)
            {
                <span class="fa fa-info-circle fa-lg" title="Vytvoření nové ulohy pomocí jeho názvu a výběru modulu ze seznamu."></span>
            }
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>@Resources.Global.vytvoreni_ulohy</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    </section>
    <section>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @rows = 2, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ProgramId)
                @Html.DropDownListFor(model => model.ProgramId, (SelectList)ViewBag.ProgramList, null, new { @id = "selectProgram", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group text-center">
                <input type="submit" value="@Resources.Global.vytvorit" class="btn btn-primary" />
            </div>
        }
    </section>
</div>

<script>

    $(document).ready(function () {

        $("#selectProgram").select2({
            language: "cs"
            //width: "100%",
        });

    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}