﻿@model Neurop3.Models.ViewModels.Exercise.LabyrViewModel



@using (Html.BeginForm("Labyr", "Exercise", FormMethod.Post, new { @id = "LabyrExerciseForm", @class = "LabyrForm" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-12 mb-3">
            @Html.LabelFor(model => model.IsActive)
            @Html.CheckBoxFor(model => model.IsActive, htmlAttributes: new { @class="" })
            @*@Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        @*<div class="col-md-2 col-sm-3 mb-3">
            @Html.LabelFor(model => model.Id)
            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
        </div>*@
    </div>
    <hr />
    <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <label for="TraceInput">@Resources.Global.zanechavani_stopy&nbsp<i class="fa fa-info-circle" title='@Resources.Global.zanechavani_stopy_popis'></i></label>
            @Html.DropDownListFor(model => model.Trace, new SelectList(new List<SelectListItem> { new SelectListItem() { Text = Resources.Global.ano, Value = "true" }, new SelectListItem() { Text = Resources.Global.ne, Value = "false" } }, "Value", "Text", Model.Trace), htmlAttributes: new { @class = "form-control", @id = "TraceInput" })
            @*@Html.EditorFor(model => model.Trace, new { htmlAttributes = new { @class = "form-control", @id = "TraceInput" } })*@
            @Html.ValidationMessageFor(model => model.Trace, "", new { @class = "text-danger" })
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <label for="PresentationTimeInput">@Resources.Global.cas_prezentace&nbsp<i class="fa fa-info-circle" title="@Resources.Global.cas_prezentace_popis"></i></label>
            @Html.EditorFor(model => model.PresentationTime, new { htmlAttributes = new { @class = "form-control", @id = "PresentationTimeInput" } })
            @Html.ValidationMessageFor(model => model.PresentationTime, "", new { @class = "text-danger" })
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <label for="StartPointInput">@Resources.Global.startovni_bod&nbsp<i class="fa fa-info-circle" title="@Resources.Global.startovní_bod_popis"></i></label>
            @Html.DropDownListFor(model => model.StartPoint, new SelectList(new List<SelectListItem> { new SelectListItem() { Text = Resources.Global.ano, Value = "true" }, new SelectListItem() { Text = Resources.Global.ne, Value = "false" } }, "Value", "Text", Model.StartPoint), htmlAttributes: new { @class = "form-control", @id = "StartPointInput" })
            @Html.ValidationMessageFor(model => model.StartPoint, "", new { @class = "text-danger" })
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <label for="EndPointInput">@Resources.Global.koncovy_bod&nbsp<i class="fa fa-info-circle" title="@Resources.Global.koncovy_bod_popis"></i></label>
            @Html.DropDownListFor(model => model.EndPoint, new SelectList(new List<SelectListItem> { new SelectListItem() { Text = Resources.Global.ano, Value = "true" }, new SelectListItem() { Text = Resources.Global.ne, Value = "false" } }, "Value", "Text", Model.EndPoint), htmlAttributes: new { @class = "form-control", @id = "EndPointInput" })
            @Html.ValidationMessageFor(model => model.EndPoint, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            @Html.LabelFor(model => model.Columns)
            @Html.EditorFor(model => model.Columns, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Columns, "", new { @class = "text-danger" })
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            @Html.LabelFor(model => model.Rows)
            @Html.EditorFor(model => model.Rows, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rows, "", new { @class = "text-danger" })
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <label for="GapHorizontalInput">@Resources.Global.horizontalni_mezera&nbsp<i class="fa fa-info-circle" title="@Resources.Global.horizontalni_mezera_popis"></i></label>
            @Html.EditorFor(model => model.GapHorizontal, new { htmlAttributes = new { @class = "form-control", @id = "GapHorizontalInput" } })
            @Html.ValidationMessageFor(model => model.GapHorizontal, "", new { @class = "text-danger" })
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <label for="GapVerticalInput">@Resources.Global.vertikalni_mezera&nbsp<i class="fa fa-info-circle" title="@Resources.Global.vertikalni_mezera_popis"></i></label>
            @Html.EditorFor(model => model.GapVertical, new { htmlAttributes = new { @class = "form-control", @id = "GapVerticalInput" } })
            @Html.ValidationMessageFor(model => model.GapVertical, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <label for="RadiusInput">@Resources.Global.velikost_bodu&nbsp<i class="fa fa-info-circle" title="@Resources.Global.velikost_bodu_popis"></i></label>
            @Html.EditorFor(model => model.Radius, new { htmlAttributes = new { @class = "form-control", @id = "RadiusInput" } })
            @Html.ValidationMessageFor(model => model.Radius, "", new { @class = "text-danger" })
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <label for="CriterionInput">@Resources.Global.kriterium&nbsp<i class="fa fa-info-circle" title="@Resources.Global.kriterium_popis"></i></label>
            @Html.EditorFor(model => model.Criterion, new { htmlAttributes = new { @class = "form-control", @id = "CriterionInput" } })
            @Html.ValidationMessageFor(model => model.Criterion, "", new { @class = "text-danger" })
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <label for="MaxTrialInput">@Resources.Global.pocet_pokusu&nbsp<i class="fa fa-info-circle" title="@Resources.Global.pocet_pokusu_popis"></i></label>
            @Html.EditorFor(model => model.MaxTrials, new { htmlAttributes = new { @class = "form-control", @id = "MaxTrialInput" } })
            @Html.ValidationMessageFor(model => model.MaxTrials, "", new { @class = "text-danger" })
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12 mb-3">
            <label for="MaxTimeInput">@Resources.Global.cas_na_ulohu&nbsp<i class="fa fa-info-circle" title="@Resources.Global.cas_na_ulohu_popis"></i></label>
            @Html.EditorFor(model => model.MaxTime, new { htmlAttributes = new { @class = "form-control", @id = "MaxTimeInput" } })
            @Html.ValidationMessageFor(model => model.MaxTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="mb-3">
        <label for="SeriesInput">@Resources.Global.posloupnost_bodu&nbsp<i class="fa fa-info-circle" title="@Resources.Global.posloupnost_bodu_popis"></i></label>
        @Html.TextAreaFor(model => model.Series, htmlAttributes: new { @class = "form-control", @id = "SeriesInput" })
        @Html.ValidationMessageFor(model => model.Series, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label for="InstructionInput">@Resources.Global.instrukce&nbsp<i class="fa fa-info-circle" title="@Resources.Global.instrukce_popis"></i></label>
        @Html.TextAreaFor(model => model.Instruction, htmlAttributes: new { @class = "form-control", @id = "InstructionInput" })
        @Html.ValidationMessageFor(model => model.Instruction, "", new { @class = "text-danger" })
    </div>

    <div class="row mb-3 justify-content-center">
        <input type="submit" value="@Resources.Global.ulozit" class="btn btn-default" />
    </div>


</div>

}
