﻿@model Neurop3.Models.ViewModels.Exercise.ListViewModel
@using Neurop3.Common;
@using Neurop3.GlobalListValues.Enums;
@{
    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;

    SelectList recordPerPageList = new SelectList(new List<SelectListItem>() {
new SelectListItem() {Value = "5", Text = "5"},
new SelectListItem() {Value = "10", Text = "10"},
new SelectListItem() {Value = "15", Text = "15"},
new SelectListItem() {Value = "1000", Text = "1000"},
}, "Value", "Text", Model.Filter.RecordsPerPage);

    var activeList = (new ActiveEnum()).ToSelectListOrderId();

    //    SelectList activeList = new SelectList(new List<SelectListItem>() {
    //new SelectListItem() {Value = "2", Text = Resources.Global.neuvedeno},
    //new SelectListItem() {Value = "1", Text = Resources.Global.ano},
    //new SelectListItem() {Value = "0", Text = Resources.Global.ne}
    //}, "Value", "Text", Model.Filter.IsActive);

    var publicList = (new ActiveEnum()).ToSelectListOrderId();

    //    SelectList publicList = new SelectList(new List<SelectListItem>() {
    //new SelectListItem() {Value = "2", Text = Resources.Global.neuvedeno},
    //new SelectListItem() {Value = "1", Text = Resources.Global.ano},
    //new SelectListItem() {Value = "0", Text = Resources.Global.ne}
    //}, "Value", "Text", Model.Filter.IsPublic);

}

<div class="container-fluid">

    <section>
        <div class="form-group">
            @if (tooltip)
            {
                <span class="fa fa-info-circle fa-lg" title="Seznam všech vytvořených úloh."></span>
            }
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 col-sm-12">
                <h4>@Resources.Global.seznam_uloh</h4>
            </div>
            <div class="form-group col-md-6 col-sm-12 text-right">
                @Html.ActionLink(Resources.Global.vytvoreni_ulohy, "Create", new { }, new { @class = "btn btn-success btn-sm" })
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filterModal">
                    @Resources.Global.nastavit_filtr
                </button>
            </div>
        </div>
    </section>
    <div class="row">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled" id="previous">
                    <span class="page-link btn-sm">@Resources.Global.predchozi</span>
                </li>
                <li class="page-item disabled">
                    <span class="btn page-item btn-sm" id="pageLabel"></span>
                </li>
                <li class="page-item" id="next">
                    <a class="page-link btn-sm" href="#">@Resources.Global.dalsi</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row" id="exerciseTableWrapper">
        @Html.EditorFor(m => Model.ExerciseVMs, "_ExerciseListTable", new { @totalRecords = Model.Filter.TotalRecords, @rowStartsAt = 1, @currentPage = 1 })
    </div>
</div>

<!-- Modal filter -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTable" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalTable">@Resources.Global.nastavit_filtr</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.Filter.Text)
                    @Html.TextBoxFor(m => m.Filter.Text, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Filter.ExerciseIds)
                    @Html.TextBoxFor(m => m.Filter.ExerciseIds, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Filter.IsActive)
                        @Html.DropDownListFor(m => m.Filter.IsActive, activeList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Filter.IsPublic)
                        @Html.DropDownListFor(m => m.Filter.IsPublic, publicList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Filter.RecordsPerPage)
                        @Html.DropDownListFor(m => m.Filter.RecordsPerPage, recordPerPageList, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button type="button" class="btn btn-primary" id="useFilter">@Resources.Global.filtrovat</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () { updateLabel() });

    $("#useFilter").on("click", function (event) {
        $("#currentPage").val(1);
        reloadList();
        $("#filterModal").modal('hide');
    });

    $("#previous").on("click", function (event) {
        var currentPage = parseInt($("#currentPage").val());

        if (currentPage > 1) {
            currentPage--;
            $("#currentPage").val(currentPage);
            reloadList()
        }
    });

    $("#next").on("click", function (event) {
        var currentPage = parseInt($("#currentPage").val());
        var maxPageCount = GetTotalPageCount();

        if (currentPage < maxPageCount) {
            currentPage++;
            $("#currentPage").val(currentPage);
            reloadList();
        }
    });

    function GetTotalPageCount() {
        var recordsPerPage = parseInt($("#Filter_RecordsPerPage").val());
        var totalRecords = parseInt($("#totalRecords").val());
        var retVal = Math.ceil(totalRecords / recordsPerPage);
        return retVal;
    }

    function updateLabel() {
        var currentPage = parseInt($("#currentPage").val());
        var totalRecords = parseInt($("#totalRecords").val());
        var recordsPerPage = parseInt($("#Filter_RecordsPerPage").val());
        var maxPageCount = GetTotalPageCount();

        var start = totalRecords != 0 ? (currentPage - 1) * recordsPerPage + 1 : 0;
        var end = (currentPage) * recordsPerPage;
        if (end > totalRecords) {
            end = totalRecords;
        }

        $("#pageLabel").text(start + "-" + end + " / " + totalRecords);

        if (currentPage == 1) {
            if (!$("#previous").hasClass("disabled")) {
                $("#previous").addClass("disabled");
            }
            if ($("#next").hasClass("disabled")) {
                $("#next").removeClass("disabled")
            }
        }
        if (currentPage == 2) {
            if ($("#previous").hasClass("disabled")) {
                $("#previous").removeClass("disabled");
            }
        }
        if (currentPage == maxPageCount) {
            if (!$("#next").hasClass("disabled")) {
                $("#next").addClass("disabled");
            }
            if ($("#previous").hasClass("disabled")) {
                $("#previous").removeClass("disabled");
            }
        }
        if (currentPage == (maxPageCount - 1)) {
            if ($("#next").hasClass("disabled")) {
                $("#next").removeClass("disabled");
            }
        }
        if (maxPageCount == 1) {
            if (!$("#next").hasClass("disabled")) {
                $("#next").addClass("disabled");
            }
            if (!$("#previous").hasClass("disabled")) {
                $("#previous").addClass("disabled");
            }
        }
    };

    function reloadList() {

        $.ajax({
            type: "POST",
            url: Router.action("Exercise", "ListFilter"),
            data: {
                text: $("#Filter_Text").val(),
                exerciseIds: $("#Filter_ExerciseIds").val(),
                isActive: $("#Filter_IsActive").val(),
                isPublic: $("#Filter_IsPublic").val(),
                recordPerPage: $("#Filter_RecordsPerPage").val(),
                currentPage: $("#currentPage").val()
            },
            success: function (data) {
                $("#exerciseTableWrapper").html(data);
                updateLabel();
            }
        });
    };

</script>