﻿@model Neurop3.Models.ViewModels.Exercise.ExerciseManageViewModel

@using Microsoft.AspNet.Identity;
@using Neurop3.Common;

@{

    var editable = !(Model.HasActiveAssign || Model.HasResult) && Model.IsAuthor;
    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;
    var isOwner = User.Identity.GetUserId().CompareTo(Model.AuthorId) == 0;
    var label = editable ? Resources.Global.uprava_ulohy : Resources.Global.nahled_ulohy;
    label = string.Concat(label, " (", Model.Id, ")");

    var list = new List<SelectListItem>();

    foreach (var item in Model.ExerciseDataViewModels)
    {
        if (item.DataType == DataTypeRecipeEnum.Obrazek.GetHashCode() || item.DataType == DataTypeRecipeEnum.Zvuk.GetHashCode())
        {
            list.Add(new SelectListItem() { Value = item.Row.ToString(), Text = item.TranslationName.LocalizedTranslation });
        }
    }
    SelectList dataList = new SelectList(list, "Value", "Text");
}


<div class="container-fluid">

    <section>
        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <h4>@label</h4>
            </div>
            <div class="col-md-6 col-sm-12 text-md-right text-sm-left">
                @Html.ActionLink(Resources.Global.seznam_uloh, "List", "Exercise", new { @exerciseId = Model.Id }, new { @class = "btn btn-success btn-sm" })
                @Html.ActionLink(isOwner ? Resources.Global.otestovat_ulohu : Resources.Global.spusti, "Prototype", "Test", new { @exerciseId = Model.Id }, new { @class = "btn btn-primary btn-sm" })
            </div>
            <div class="col-md-12">
                <hr />
            </div>
        </div>
    </section>

    <section>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.AuthorId)
            @Html.HiddenFor(model => model.ProgramId)

            @Html.HiddenFor(model => model.HasAssign)
            @Html.HiddenFor(m => m.HasActiveAssign)
            @Html.HiddenFor(m => m.HasResult)
            @Html.HiddenFor(m => m.IsAuthor)

            <ul class="nav nav-tabs" id="exerciseTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="detail_tab" data-toggle="tab" href="#exercise_detail" role="tab" aria-controls="exercise_detail" aria-selected="true">@Resources.Global.detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="content_tab" data-toggle="tab" href="#exercise_content" aria-controls="exercise_content" aria-selected="false">@Resources.Global.obsah</a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" id="assign_tab" data-toggle="tab" href="#exercise_assign" aria-controls="exercise_assign" aria-selected="false">@Resources.Global.prirazeni</a>
                    </li>*@

            </ul>

            <div class="tab-content pt-2" id="exerciseTabsContent">
                <div class="tab-pane fade show active" id="exercise_detail" role="tabpanel" aria-labelledby="detail_tab">
                    @if (tooltip)
                    {
                        <div class="form-group">
                            <span class="fa fa-info-circle fa-lg" title="Karta pro úpravu základních dat vázaných k úloze."></span>
                        </div>
                    }

                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-6">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, isOwner && editable ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            @Html.LabelFor(model => model.ProgramId)
                            @Html.TextBoxFor(model => model.Program.Name, (object)new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.Program.Name, "", new { @class = "text-danget" })
                        </div>

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Description, isOwner && editable ? (object)new { @rows = 2, @class = "form-control" } : (object)new { @rows = 2, @class = "form-control", @readonly = "readonly" })
                        @*@Html.HiddenFor(m => m.Description)*@
                        @Html.ValidationMessageFor(m => m.Program.Description, "", new { @class = "text-danget" })
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-12">
                            @Html.LabelFor(model => model.CreatedDate)
                            @Html.TextBoxFor(model => model.CreatedDate, (object)new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3 col-sm-6 form-check-label">
                            @Html.LabelFor(model => model.IsActive)
                            @Html.CheckBoxFor(model => model.IsActive, isOwner ? (object)new { @class = "ml-2" } : (object)new { @class = "ml-2", @disabled = "disabled" })
                            @if (!isOwner)
                            {
                                Html.HiddenFor(m => m.IsActive);
                            }
                        </div>
                        <div class="form-check col-md-3 col-sm-6">
                            @Html.LabelFor(model => model.IsPublic)
                            @Html.CheckBoxFor(model => model.IsPublic, isOwner ? (object)new { @class = "ml-2" } : (object)new { @class = "ml-2", @disabled = "disabled" })
                            @if (!isOwner)
                            {
                                Html.HiddenFor(m => m.IsPublic);
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="exercise_content" role="tabpanel" aria-labelledby="content_tab">
                    @if (tooltip)
                    {
                        <div class="form-group">
                            <span class="fa fa-info-circle fa-lg" title="Karta pro vyplnění konkrétního zadání úlohy."></span>
                        </div>
                    }
                    @if (list.Any())
                    {
                        if (isOwner)
                        {
                            <div class="form-group text-right">
                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addNewFile">
                                    @Resources.Global.nahrat_novy_soubor
                                </button>
                            </div>
                        }
                    }

                    @if (Model.ExerciseDataViewModels != null && Model.ExerciseDataViewModels.Any())
                    {
                        foreach (var item in Model.ExerciseDataViewModels.OrderBy(x => x.Row))
                        {
                            @Html.EditorFor(m => item, "_ExerciseDataRow", new { editable = editable })
                        }
                    }
                </div>
                @{ 
                    //TODO Smazat -- nejspis se to nepouziva (je to predelano na baliky)
                }
                <div class="tab-pane fade" id="exercise_assign" role="tabpanel" aria-labelledby="assign_tab">
                    
                    @*@if (tooltip)
                        {
                            <div class="form-group">
                                <span class="fa fa-info-circle fa-lg" title="Karta určená pro přiřazení úlohy konkrétním pacientům"></span>
                            </div>
                    }
                    @Html.EditorFor(m => Model.ExerciseAssignViewModels, "_ExerciseAssign", new { exId = Model.Id })*@
                </div>
            </div>

            if (isOwner)
            {
                <div class="form-group text-center">
                    <input type="submit" value="@Resources.Global.ulozit" class="btn btn-primary" />
                </div>
            }
        }
    </section>
</div>

@*model addNewFile*@
<div class="modal fade" id="addNewFile" tabindex="-1" role="dialog" aria-labelledby="newFileLabel" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newFileLabel">@Resources.Global.nahrat_novy_soubor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UploadFile", "Exercise", FormMethod.Post, new { id = "uploadFileForm", enctype = "multipart/form-data" }))
                {
                    @Html.Hidden("programId", Model.ProgramId)
                    @Html.Hidden("exerciseId", Model.Id)
                    <div class="form-group">
                        <label for="rows">@Resources.Global.nazev_radky</label>
                        @Html.DropDownList("selectedRow", dataList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="file">@Resources.Global.nahrat_novy_soubor</label>
                        <input id="file" type="file" name="file" />
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                <button id="uploadFileBtn" type="button" class="btn btn-success">@Resources.Global.nahrat_soubor</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/ViewScripts/Exercise/_Manage.js"></script>

<script>



    $("#uploadFileBtn").click(function () {
        $("#uploadFileForm").submit();
    });

    //$.validator.addMethod("IsNameValid", function (value, element) {
    //    var guid = $(element).closest("div.OrganizationDiv").children('input.guid').val();
    //    var ibannumber = $("#IBAN-" + guid);

    //    if ($(element).val() == "" && ibannumber.val() != "") {
    //        return false;
    //    }
    //    return true;
    //}, resources.bic_je_nutne_vyplnit);

    //$.validator.addClassRules({
    //    NameValidator: {
    //        IsNameVadli: true
    //    }
    //});




    var exerciseManage = new ExerciseManage();
    exerciseManage.Init();
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}