﻿@model IEnumerable<Neurop3.Models.ViewModels.Exercise.ExerciseAssignViewModel>

@{
    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;

    var statusNew = Neurop3.Common.ExerciseStatusEnum.Novy.GetHashCode();
    var statusInProgress = Neurop3.Common.ExerciseStatusEnum.Probihajici.GetHashCode();
    var statusFinished = Neurop3.Common.ExerciseStatusEnum.Dokoncena.GetHashCode();
    var statusChecked = Neurop3.Common.ExerciseStatusEnum.Zkontrolovana.GetHashCode();
    var statusClosed = Neurop3.Common.ExerciseStatusEnum.Uzavrena.GetHashCode();

    var count = 0;
}

<div class="container-fluid">
    <section class="form-group">
        <h4>@Resources.Global.ulohy_pacienta</h4>
        <hr />
    </section>
    <section class="form-group">
        <ul class="nav nav-tabs nav-fill" id="patientDetailTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="newExercisesTab" data-toggle="tab" href="#newExercises" role="tab" aria-controls="newExercises" aria-selected="true">
                    @Resources.Global.nove_ulohy
                    @{
                        count = Model.Where(x => x.StatusId == statusNew).Count();
                        if (count >= 0)
                        {
                            <span class="badge badge-info">@count</span>
                        }
                    }
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="inProgressExercisesTab" data-toggle="tab" href="#inProgressExercises" aria-controls="inProgressExercises" aria-selected="false">
                    @Resources.Global.probihajici_ulohy
                    @{
                        count = Model.Where(x => x.StatusId == statusInProgress).Count();
                        if (count >= 0)
                        {
                            <span class="badge badge-info">@count</span>
                        }
                    }
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="finishedExercisesTab" data-toggle="tab" href="#finishedExercises" aria-controls="finishedExercises" aria-selected="false">
                    @Resources.Global.dokoncene_ulohy

                    @{
                        count = Model.Where(x => x.StatusId == statusFinished).Count();
                        if (count >= 0)
                        {
                            <span class="badge badge-info">@count</span>
                        }
                    }
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="checkedExercisesTab" data-toggle="tab" href="#checkedExercises" aria-controls="checkedExercises" aria-selected="false">
                    @Resources.Global.Zkontrolovane_ulohy
                    @{
                        count = Model.Where(x => x.StatusId == statusChecked).Count();
                        if (count >= 0)
                        {
                            <span class="badge badge-info">@count</span>
                        }
                    }
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="closedExercisesTab" data-toggle="tab" href="#closedExercises" aria-controls="closedExercises" aria-selected="false">
                    @Resources.Global.Uzavrene_ulohy
                    @{
                        count = Model.Where(x => x.StatusId == statusClosed).Count();
                        if (count >= 0)
                        {
                            <span class="badge badge-info">@count</span>
                        }
                    }
                </a>
            </li>
        </ul>
        <div class="tab-content" id="patientDetailTabsContent">
            <div class="tab-pane fade show active" id="newExercises" role="tabpanel" aria-labelledby="newExercisesTab">
                @if (tooltip)
                {
                    <div class="row">
                        <span class="fa fa-info-circle fa-lg m-2 ml-4" title="Není nadefinováno"></span>
                    </div>
                }
                <div class="row">
                    @Html.Partial("~/Views/Exercise/EditorTemplates/MyExerciseAssignsTable.cshtml", Model.Where(x => x.StatusId == statusNew))
                </div>
            </div>
            <div class="tab-pane fade" id="inProgressExercises" role="tabpanel" aria-labelledby="inProgressExercisesTab">
                @if (tooltip)
                {
                    <div class="row">
                        <span class="fa fa-info-circle fa-lg m-2 ml-4" title="Není nadefinováno"></span>
                    </div>
                }
                <div class="row">
                    @Html.Partial("~/Views/Exercise/EditorTemplates/MyExerciseAssignsTable.cshtml", Model.Where(x => x.StatusId == statusInProgress))
                </div>
            </div>
            <div class="tab-pane fade" id="finishedExercises" role="tabpanel" aria-labelledby="finishedExercisesTab">
                @if (tooltip)
                {
                    <div class="row">
                        <span class="fa fa-info-circle fa-lg m-2 ml-4" title="Není nadefinováno"></span>
                    </div>
                }
                <div class="row">
                    @Html.Partial("~/Views/Exercise/EditorTemplates/MyExerciseAssignsTable.cshtml", Model.Where(x => x.StatusId == statusFinished))
                </div>
            </div>
            <div class="tab-pane fade" id="checkedExercises" role="tabpanel" aria-labelledby="checkedExercisesTab">
                @if (tooltip)
                {
                    <div class="row">
                        <span class="fa fa-info-circle fa-lg m-2 ml-4" title="Není nadefinováno"></span>
                    </div>
                }
                <div class="row">
                    @Html.Partial("~/Views/Exercise/EditorTemplates/MyExerciseAssignsTable.cshtml", Model.Where(x => x.StatusId == statusChecked))
                </div>
            </div>
            <div class="tab-pane fade" id="closedExercises" role="tabpanel" aria-labelledby="closedExercisesTab">
                @if (tooltip)
                {
                    <div class="row">
                        <span class="fa fa-info-circle fa-lg m-2 ml-4" title="Není nadefinováno"></span>
                    </div>
                }
                <div class="row">
                    @Html.Partial("~/Views/Exercise/EditorTemplates/MyExerciseAssignsTable.cshtml", Model.Where(x => x.StatusId == statusClosed))
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    //window.onload = function () {
    //    $.ajax({
    //        type: "POST",
    //        url: Router.action("Exercise", "GetExerciseAssignToUser"),
    //        data: {

    //        },
    //        success: function (data) {
    //            $("#PatientExcerciseAssigns").hide()
    //            $("#PatientExcerciseAssigns").html(data).fadeIn(1000, "swing");
    //        }
    //    });
    //}
</script>