﻿@model Neurop3.Models.ViewModels.Account.AccountManageViewModel
@using Neurop3.Common;
@using Neurop3.GlobalListValues.Enums;
@{
    SelectList genderList = new SelectList(new List<SelectListItem>() {
new SelectListItem() {Value = ((int) Gender.Neuvedeno).ToString(), Text = Resources.Global.neuvedeno},
new SelectListItem() {Value = Gender.Muz.GetHashCode().ToString(), Text = Resources.Global.muz},
new SelectListItem() {Value = Gender.Zena.GetHashCode().ToString(), Text = Resources.Global.zena},
}, "Value", "Text");

    SelectList socialStatusList = new SelectList(new List<SelectListItem>() {
new SelectListItem() {Value = SocialStatus.Neuvedeno.GetHashCode().ToString(), Text = Resources.Global.neuvedeno},
new SelectListItem() {Value = SocialStatus.Svobodny_svobodna.GetHashCode().ToString(), Text = Resources.Global.svobodny_svobodna},
new SelectListItem() {Value = SocialStatus.VPartnerskemSvazku.GetHashCode().ToString(), Text = Resources.Global.v_partnerskem_svazku},
new SelectListItem() {Value = SocialStatus.Zenaty_vdana.GetHashCode().ToString(), Text = Resources.Global.zenaty_vdana},
new SelectListItem() {Value = SocialStatus.rozvedeny_rozvedena.GetHashCode().ToString(), Text = Resources.Global.rozvedeny_rozvedena},
new SelectListItem() {Value = SocialStatus.Vdovec_vdova.GetHashCode().ToString(), Text = Resources.Global.vdovec_vdova},
}, "Value", "Text");
}

<div class="form-row">
    @Html.HiddenFor(model => model.PatientDataVM.UserId)

    <div class="form-group col-lg-4 col-md-6 col-sm-12">
        @Html.LabelFor(model => model.PatientDataVM.DateOfBirth)
        @Html.TextBoxFor(model => model.PatientDataVM.DateOfBirth, new { @type="datetime", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PatientDataVM.DateOfBirth, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-lg-4 col-md-6 col-sm-12">
        @Html.LabelFor(model => model.PatientDataVM.Gender)
        @Html.DropDownListFor(model => model.PatientDataVM.Gender, genderList, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PatientDataVM.Gender, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-lg-4 col-md-6 col-sm-12">
        @Html.LabelFor(model => model.PatientDataVM.Representative)
        @Html.TextBoxFor(model => model.PatientDataVM.Representative, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PatientDataVM.Representative, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-lg-4 col-md-6 col-sm-12">
        @Html.LabelFor(model => model.PatientDataVM.SocialStatus)
        @Html.DropDownListFor(model => model.PatientDataVM.SocialStatus, socialStatusList, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PatientDataVM.SocialStatus, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-lg-4 col-md-6 col-sm-12">
        @Html.LabelFor(model => model.PatientDataVM.Profession)
        @Html.TextBoxFor(model => model.PatientDataVM.Profession, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PatientDataVM.Profession, "", new { @class = "text-danger" })
    </div>
</div>

