﻿@model Neurop3.Models.ViewModels.Account.AccountManageViewModel
@using Neurop3.Common;
@{ 
    SelectList genderList = new SelectList(new List<SelectListItem>() {
        new SelectListItem() {Value = ((int) Gender.Neuvedeno).ToString(), Text = Resources.Global.neuvedeno},
        new SelectListItem() {Value = Gender.Muz.GetHashCode().ToString(), Text = Resources.Global.muz},
        new SelectListItem() {Value = Gender.Zena.GetHashCode().ToString(), Text = Resources.Global.zena},
        }, "Value", "Text");
}

<div class="form-row">

    @Html.HiddenFor(model => model.TherapistDataVM.UserId)

    <div class="form-group col-lg-4 col-md-6 col-sm-12">
        @Html.LabelFor(model => model.TherapistDataVM.DateOfBirth)
        @Html.TextBoxFor(model => model.TherapistDataVM.DateOfBirth, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TherapistDataVM.DateOfBirth, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-lg-4 col-md-6 col-sm-12">
        @Html.LabelFor(model => model.TherapistDataVM.Gender)
        @Html.DropDownListFor(model => model.TherapistDataVM.Gender, genderList, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TherapistDataVM.Gender, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-lg-4 col-md-6 col-sm-12">
        @Html.LabelFor(model => model.TherapistDataVM.Education)
        @Html.TextBoxFor(model => model.TherapistDataVM.Education, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TherapistDataVM.Education, "", new { @class = "text-danger" })
    </div>
</div>
