﻿@model Neurop3.Models.ViewModels.Analysis.AnalyzeViewModel

@using Neurop3.Models.ViewModels.Analysis;
@using Newtonsoft.Json;

<div class="container-fluid">
    <section>
        <div class="form-row">
            <div class="form-group col-md-8 col-sm-12">
                <h4>@Resources.Global.analyza_vysledku - @Model.patient.FullName </h4>
            </div>
            <div class="form-group col-md-4 col-sm-12 text-md-right">
                @Html.ActionLink(Resources.Global.seznam_uloh, "", "", new { @class="btn btn-sm btn-primary" })
            </div>
        </div>
    </section>

    <section>
        <ul class="nav nav-tabs nav" id="analyzeTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="rawDataTab" data-toggle="tab" href="#rawData" role="tab" aria-controls="rawData" aria-selected="true">@Resources.Global.data_z_databaze</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="graphsTab" data-toggle="tab" href="#graphs" role="tab" aria-controls="graphs" aria-selected="false">@Resources.Global.grafy</a>
            </li>
        </ul>

        <div class="tab-content mt-2" id="analyzeTabsContent">
            <div class="tab-pane fade show active" id="rawData" role="tabpanel" aria-labelledby="rawDataTab">
                <div class="form-group col-12">
                    @Html.Partial("EditorTemplates/_ExerciseResultRowList", Model.ExerciseResultsRowVMs)
                </div>
            </div>
            <div class="tab-pane fade" id="graphs" role="tabpanel" aria-labelledby="graphsTab">
                <div class="form-group col-12">
                    ...
                </div>
                @*<div class="form-group col-12">
                    <div id="chartWrapper">
                        <div id="chartContainer" style="width: 100%;">
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
</div>

@*<script src="~/Scripts/CanvasJs/canvasjs.min.js"></script>

@{
    var list = new List<DataPoint>();

    if (Model != null && Model.ExerciseResultsViewModels != null && Model.ExerciseResultsViewModels.Any())
    {
        foreach (var item in Model.ExerciseResultsViewModels.OrderBy(x => x.TimeUtc).GroupBy(x => x.Sequence))
        {
            var vals = item.ToArray();

            list.Add(new DataPoint()
            {
                X = item.Key,
                Y = Int32.Parse(vals[0].Value),
                Label = string.Format("{0}, {1}", item.First().TimeUtc.ToString(), vals[1].Value)
            });
        }
    }

    var data = JsonConvert.SerializeObject(list);
}



<script>
    window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
            theme: "light2",
            title: {
                text: "Prubeh cviceni"
            },
            axisY: {
                includeZero: false
            },
            data: [{
                type: "line",
                dataPoints: @Html.Raw(data)
            }]
        });
        chart.render();
    }
</script>*@