﻿
@{ 
    var tooltip = Neurop3.Common.AppSetting.GetSetting<int>("editorTooltips") == 1;
}

<div class="container-fluid">
    <div class="row">
        @if (tooltip)
        {
            <span class="fa fa-info-circle fa-lg" title="Editor pro analýzu výsledků z pacientských úloh. Editor obsahuje 3 seznamy, do kterých se dynamicky načítá obsah na základně zvolených parametrů. Pokud terapeut vybere v prvním seznamu konkréntní program, pak se v seznamu s úlohami zobrazí pouze ty úlohy, které náleží danému programu. Pokud je vybrána nějaká z úloh, pak se v posledním seznamu zobrazí pacienti, kteří danou úlohu splnili."></span>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>@Resources.Global.analyza_vysledku</h4>
        </div>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Hidden("ProgramSelect")
        </div>
        <div class="col-md-4">
            @Html.Hidden("ExerciseSelect")
        </div>
        <div class="col-md-4">
            @Html.Hidden("PatientSelect")
        </div>
        <div class="col-md-1">
            @Html.Label(Resources.Global.hledat, new { @id = "searchExerciseToAnalysis", @class="btn btn-primary btn-sm" })
        </div>
    </div>
    <div class="row mt-2" id="analysisTableWrapper">
    </div>
</div>


<script src="~/Scripts/ViewScripts/Analysis/_index.js"></script>
<script>

    var analysisIndex = new AnalysisIndex();
    analysisIndex.programPH = "Vyberte program";
    analysisIndex.patientPH = "Vyberte pacienta";
    analysisIndex.exercisePH  = "Vyberte ulohu";
    analysisIndex.Init();
    
</script>