﻿@model Neurop3.Models.ViewModels.Exercise.ExerciseDataViewModel

@using Neurop3.Common;

@{
    Layout = null;
    var editable = ViewBag.editable != null ? (bool)ViewBag.editable : true;

    //DataTypeRecipeEnum type = (DataTypeRecipeEnum)Enum.Parse(typeof(DataTypeRecipeEnum), Model.DataType.ToString());

}

<div class="dataRowDiv">
    @using (Html.BeginCollectionItem("ExerciseDataViewModels"))
    {
        @Html.HiddenFor(model => model.DataType)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Row)
        @Html.HiddenFor(model => model.ExerciseId)
        

        <div class="form-row mb-2">
            <label for="Value" class="col-md-3" title="@Model.TranslationDescription.LocalizedTranslation">@Model.TranslationName.LocalizedTranslation <span class="fa fa-question-circle"></span></label>

            @switch ((DataTypeRecipeEnum)Enum.Parse(typeof(DataTypeRecipeEnum), Model.DataType.ToString()))
            {
                case DataTypeRecipeEnum.Text:
                    @Html.TextAreaFor(Model => Model.Value, editable ? (object)new { @rows = 1, @class = "form-control col-md-9" } : (object)new { @rows = 1, @class = "form-control col-md-9", @readonly = "readonly" })
                    break;
                case DataTypeRecipeEnum.Cislo:
                    @Html.TextBoxFor(Model => Model.Value, editable ? (object)new { @type = "number", @class = "form-control col-md-9" } : (object)new { @type = "number", @class = "form-control col-md-9", @readonly = "readonly" })
                    break;
                case DataTypeRecipeEnum.LogickaHodnota:
                    @Html.DropDownListFor(Model => Model.Value, new[] { new SelectListItem { Text = Resources.Global.ano, Value = "1" }, new SelectListItem { Text = Resources.Global.ne, Value = "0" } }, editable ? (object)new { @type = "number", @class = "form-control col-md-9" } : (object)new { @type = "number", @class = "form-control col-md-9", @disabled = "disabled" })
                    break;
                @*case DataTypeRecipeEnum.SingleSelect:
                    Model.Value = "1";
                    @Html.HiddenFor(m => m.Value)
                    break;*@

                @*var list = new List<SelectListItem>();
                    int itemCount = 0;
                    foreach(var item in Model.Value.Split(';').ToList())
                    {
                        list.Add(new SelectListItem() { Value = (itemCount++).ToString(), Text = item });
                    }
                    @Html.DropDownListFor(Model => Model.Value, new[] { new SelectListItem { Text = Resources.Global.ano, Value = "1" }, new SelectListItem { Text = Resources.Global.ne, Value = "0" } }, editable ? (object)new { @type = "number", @class = "form-control col-md-9" } : (object)new { @type = "number", @class = "form-control col-md-9", @disabled = "true" })
                    break;*@
                @*case DataTypeRecipeEnum.MultipleSelect:*@
                    @*@Html.DropDownListFor(Model => Model.Value, new[] { new SelectListItem { Text = Resources.Global.ano, Value = "1" }, new SelectListItem { Text = Resources.Global.ne, Value = "0" } }, editable ? (object)new { @type = "number", @class = "form-control col-md-9" } : (object)new { @type = "number", @class = "form-control col-md-9", @disabled = "true" })*@
                    @*Model.Value = "1";
                    @Html.HiddenFor(m => m.Value);
                    break;*@

            case DataTypeRecipeEnum.Zvuk:
            case DataTypeRecipeEnum.Obrazek:

                    @Html.HiddenFor(m => m.Value)
                    var loaded = Model.Value.CompareTo("1") == 0;
                    var text = loaded ? Resources.Global.nahrano : Resources.Global.nenahrano;
                    var style = loaded ? "btn btn-success btn-sm" : "btn btn-warning btn-sm";
                    <label class="@style">@text</label>
                    @*@Html.Label(loaded ? Resources.Global.nahrano : Resources.Global.nenahrano, loaded ? new { @class = "btn btn-success btn-sm" } : new { @class = "btn btn-warning btn-sm" })*@
                    break;
                default:
                    @*@Html.TextBoxFor(Model => Model.Value, editable ? (object)new { @class = "form-control col-md-9" } : (object)new { @class = "form-control col-md-9", @disabled = "true" })*@
                    <input type="file" name="file" class="btn btn-outline-primary btn-sm" />
                    break;
            }
            @Html.ValidationMessageFor(Model => Model.Value, "", new { @class = "text-danger" })
        </div>
    }
</div>
