﻿@model Neurop3.Models.ViewModels.Exercise.ExerciseAssignViewModel
@using Microsoft.AspNet.Identity;

@{
    Layout = null;
    var rowNumber = ViewBag.rowNumber;

    //odebrat lze pouze vlastni vazbu na pacienta, nikoli cizi
    var currentTherapistsAssign = User.Identity.GetUserId().CompareTo(Model.TherapistId) == 0;
}


<tr>

    @using (Html.BeginCollectionItem("ExerciseAssignViewModels"))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ExerciseId)
        @Html.HiddenFor(m => m.StatusId)
        @Html.HiddenFor(m => m.PatientId)
        @Html.HiddenFor(m => m.TherapistId)
        @Html.HiddenFor(m => m.LastAccessDate)
        @Html.HiddenFor(m => m.AssignDate)
        @Html.HiddenFor(m => m.IsActive)

        <td class="text-center" scope="row">@rowNumber</td>
        <td class="text-center">
            @Html.DisplayFor(m => m.Therapist.FullName)
        </td>
        <td class="text-center">
            @Html.DisplayFor(m => m.Patient.FullName)
        </td>
        <td class="text-center">
            @Html.DisplayFor(m => m.Status.Name)
        </td>
        <td class="text-center">

            @if (currentTherapistsAssign)
            {
                @Html.Label(Resources.Global.smazat, new { @class = "removeExerciseAssignBtn btn btn-danger btn-sm" })
            }

            @*@if (!item.IsUsed)
                {
                    @Html.ActionLink(Resources.Global.editace, "Manage", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink(Resources.Global.smazat, "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm ml-md-2", onclick = "return confirm('Are you sure you wish to delete this exercise?');" })
                }
                else
                {
                    @Html.ActionLink(Resources.Global.nahled, "Manage", new { id = item.Id }, new { @class = "btn btn-primary btn-small" })
                    @Html.ActionLink(Resources.Global.duplikovat, "Duplicate", new { id = item.Id }, new { @class = "btn btn-danger btn-small ml-md-2", onclick = "return confirm('Are you sure you wish to delete this article?');" })
                }*@
        </td>
    }
</tr>

<script type="text/javascript">

    $(document).ready(function () {

        $(".removeExerciseAssignBtn").click(function () {
            $(this).closest("tr").remove();
        });

    });
</script>
