﻿@model IEnumerable<Neurop3.Models.ViewModels.Exercise.ExerciseAssignViewModel>

@{
    var patient = Neurop3.Common.RoleEnum.Patient.GetHashCode();
    var exerciseId = ViewBag.exId;
}

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-4">
            <h4>@Resources.Global.priradit_ulohu_uzivateli</h4>
        </div>
        <div class="col-md-4 text-center">

            <div class="input-group">
                <input type="text" id="searchInputExerciseAssign" class="form-control" placeholder="@Resources.Global.hledat_uzivatele">
                <div class="input-group-append">
                    <span class="input-group-text fa fa-search"></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-md-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewExerciseAssignModal">
                @Resources.Global.nove_prirazeni
            </button>
        </div>
    </div>
    <div class="row">
        <hr />
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row" id="exerciseAssignTableWrapper">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">
                        #
                    </th>
                    <th class="text-center">
                        @Resources.Global.jmeno_terapeuta
                    </th>
                    <th class="text-center">
                        @Resources.Global.jmeno_pacienta
                    </th>
                    <th class="text-center">
                        @Resources.Global.status_ulohy
                    </th>
                    <th class="text-center">
                        @Resources.Global.operace
                    </th>
                </tr>
            </thead>
            <tbody id="exerciseAssignRows">
                @{
                    var count = 0;
                }

                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        @Html.EditorFor(m => item, "_ExerciseAssignTableRow", 
                            new { @rowNumber = ++count, @exerciseId = exerciseId })
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="addNewExerciseAssignModal" tabindex="-1" role="dialog" aria-labelledby="newExerciseAssignLabel" aria-hidden="true">
        <div class="modal-dialog" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newExerciseAssignLabel">@Resources.Global.nove_prirazeni_pacienta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label for="PatientId" class="control-label col-md-4">@Resources.Global.vybrat_pacienta</label>
                        <div class="col-md-8">
                            <input type="hidden" id="PatientId" />
                        </div>
                    </div>
                    <div class="row">
                        <label id="assignExist"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>
                    <button id="addNewExerciseAssign" type="button" class="btn btn-primary">@Resources.Global.pridat</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#searchInputExerciseAssign").on("keyup", function (event) {

            //if (event.keyCode === 13) {
                $.ajax({
                    type: "POST",
                    url: Router.action("Exercise", "AssignListFilter"),
                    data: {
                        input: $("#searchInputExerciseAssign").val(),
                        exerciseId: @exerciseId
                    },
                    success: function (data) {
                        $("#exerciseAssignTableWrapper").html(data);
                    }
                });
            //}
        });

        $("#PatientId").select2({

            width: "100%",
            minimumInputLength: -1,
            allowClear: true,
            multiple: false,
            placeholder: "@Resources.Global.vybrat_pacienta",

            ajax: {
                dataType: "json",
                type: "POST",
                url: Router.action("User", "GetTherapistPatients"),
                data: function (searchTerm) {
                    return { query: searchTerm};
                },
                results: function (data) {
                    return { results: data };
                }
            },
            formatResult: function (item) {
                return item.name;
            },
            formatSelection: function (item) {
                return item.name;
            }

        });

        $("#addNewExerciseAssign").click(function () {
            var test = testIfAssignExists();
            if ( test ) {
                $("#assignExist").html("uz to existuje");  //Resources.Global.prirazeni_nebude_pridano_protoze_existuje
                return false;
            }
            else {
                $("#assignExist").html("");
                $.ajax({
                    cache: false,
                    type: "POST",
                    async: false,
                    url: Router.action("Exercise", "AddExerciseAssign"),
                    data: {
                        patientId: $("#PatientId").val(),
                        exerciseId: @exerciseId
                    },
                    success: function (data) {
                        $("#exerciseAssignRows").append(data);
                    },
                });
                return true;
            }

        });


        function testIfAssignExists()
        {
            var result;
            var patientIdSelected = $("#PatientId").val();

            $.ajax(
                {
                    url: Router.action("Exercise", "AssignExists"),
                    type: "POST",
                    cache: false,
                    async: false,
                    data:
                    {
                        patientId: patientIdSelected,
                        exerciseId: @exerciseId
                    },
                    success: function (data) {
                        result = data.success;
                    },
                    complete: function () { }
                }
            );
            return result;
        };
    });

</script>