﻿@model Neurop3.Models.ViewModels.Test.RunTestViewModel

@{
    Layout = null;
}

<div class="container-fluid">
    <section>

        @using (Html.BeginForm("RunPackage", "Test", FormMethod.Post, new { id = "ExerciseSubmit" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.InputParameters)
            @Html.HiddenFor(m => m.OutputParameters)
            @Html.HiddenFor(m => m.ExerciseAssignId)
            @Html.HiddenFor(m => m.PathToScript)
            @Html.HiddenFor(m => m.Name)

            @Html.HiddenFor(m => m.Finished)
            @Html.HiddenFor(m => m.PackageId)
            @Html.HiddenFor(m => m.Order)


            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 text-left">
                    <h2>@Model.Name</h2>
                </div>
                <div class="from-grop col-sm-12 col-md-6 text-right">
                    <button class="btn btn-success" onclick="finish();">@Resources.Global.dalsi_ulohu</button>
                    @*<button class="btn btn-primary" onclick="finish();">@Resources.Global.odevzdat_ulohu</button>*@
                </div>
            </div>
            <div class="form-group">
                <canvas id="mCanvas" class="col-12"></canvas>
            </div>
        }
    </section>
</div>

<!-- modal before-->
<div class="modal fade" id="messageBeforeModal" tabindex="-1" role="dialog" aria-labelledby="messageBeforeModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageBeforeModalTitle">@Resources.Global.zprava</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@Model.MessageBefore</p>
                @if(Model.Message != null && !string.IsNullOrEmpty(Model.Message))
                {
                    <p>@Model.Message</p>
                }
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>*@
                <button id="runExerciseButton" type="button" class="btn btn-success">@Resources.Global.spusti</button>
            </div>
        </div>
    </div>
</div>

<!-- modal after-->
<div class="modal fade" id="messageAfterModal" tabindex="-1" role="dialog" aria-labelledby="messageAfterModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageAfterModalTitle">@Resources.Global.zprava</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@Model.MessageAfter</p>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.Global.zavrit</button>*@
                <button id="nextExerciseButton" type="button" class="btn btn-success">@Resources.Global.dalsi_ulohu</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $.getScript('@Model.PathToScript')
            .done(function (script, textStatus) {
                console.log(textStatus);
                $('#messageBeforeModal').modal('show');
            })
            .fail(function (jqxhr, settings, exception) {
                $("div.log").text("Triggered ajaxError handler.");
            })
    });

    $('#messageBeforeModal').on('click', function (event) {
        runExercise('@Model.InputParameters');

    });
    $('#runExerciseButton').on('click', function (event) {
        //runExercise('@Model.InputParameters');
        $('#messageBeforeModal').modal('hide');
    });

    $('#nextExerciseButton').on('click', function (event) {
        finish();
    });

    function showModalAfter() {
        $('#messageAfterModal').modal('show');
    }


</script>